Repository learning-process/ppc-2025-threads, pull requests merged in 2025-05, with the labels that each got.

#609 FIX. Коротин Егор. Задача 1. Вариант 4. Технология TBB. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – строковый (CRS).
  tasks/tbb/korotin_e_crs_multiplication/func_tests/main.cpp
  tasks/tbb/korotin_e_crs_multiplication/include/ops_tbb.hpp
  tasks/tbb/korotin_e_crs_multiplication/perf_tests/main.cpp
  tasks/tbb/korotin_e_crs_multiplication/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy

#363 Шведова Виталина. Вариант 22. Технология STL. Построение выпуклой оболочки – проход Грэхема.
  tasks/stl/shvedova_v_graham_convex_hull/func_tests/main.cpp
  tasks/stl/shvedova_v_graham_convex_hull/include/ops_stl.hpp
  tasks/stl/shvedova_v_graham_convex_hull/perf_tests/main.cpp
  tasks/stl/shvedova_v_graham_convex_hull/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#375 Лопатин Илья. Вариант 12. Технология STL. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/stl/lopatin_i_monte_carlo/func_tests/lopatinMonteCarloFuncSTL.cpp
  tasks/stl/lopatin_i_monte_carlo/include/lopatinMonteCarloSTL.hpp
  tasks/stl/lopatin_i_monte_carlo/perf_tests/lopatinMonteCarloPerfSTL.cpp
  tasks/stl/lopatin_i_monte_carlo/src/lopatinMonteCarloSTL.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#402 Порошин Владислав. Задача 1. Вариант 10. Технология STL. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/stl/poroshin_v_multi_integral_with_trapez_method/func_tests/main.cpp
  tasks/stl/poroshin_v_multi_integral_with_trapez_method/include/ops_stl.hpp
  tasks/stl/poroshin_v_multi_integral_with_trapez_method/perf_tests/main.cpp
  tasks/stl/poroshin_v_multi_integral_with_trapez_method/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#406 Одинцов Михаил. Задача 1. Вариант 1. Технология STL. Умножение плотных матриц,типа double,блочная схема, алгоритм Кэннона
  tasks/stl/odintsov_m_multmatrix_cannon/func_tests/main.cpp
  tasks/stl/odintsov_m_multmatrix_cannon/include/ops_stl.hpp
  tasks/stl/odintsov_m_multmatrix_cannon/perf_tests/main.cpp
  tasks/stl/odintsov_m_multmatrix_cannon/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#634 [FIX] Шульпин Илья. Вариант 23. Технология SEQ. Построение выпуклой оболочки – проход Джарвиса
  tasks/seq/shulpin_i_jarvis_passage/perf_tests/main.cpp
Labels: task:seq, approved - Arseniy

#635 [FIX] Шульпин Илья. Вариант 23. Технология OMP. Построение выпуклой оболочки – проход Джарвиса
  tasks/omp/shulpin_i_jarvis_passage/perf_tests/main.cpp
Labels: task:omp, approved - Arseniy

#369 Коровин Никита. Вариант 14. Технология STL. Сортировка Хоара с четно-нечетным слиянием Бэтчера.
  tasks/stl/korovin_n_qsort_batcher/func_tests/main.cpp
  tasks/stl/korovin_n_qsort_batcher/include/ops_stl.hpp
  tasks/stl/korovin_n_qsort_batcher/perf_tests/main.cpp
  tasks/stl/korovin_n_qsort_batcher/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#431 Зайцев Артем. Задача 1. Вариант 29. Технология STL. Маркировка компонент на бинарном изображении.
  tasks/stl/zaitsev_a_bw_labeling/data/help.jpg
  tasks/stl/zaitsev_a_bw_labeling/data/kittens.jpg
  tasks/stl/zaitsev_a_bw_labeling/data/rombs.jpg
  tasks/stl/zaitsev_a_bw_labeling/data/silly.jpg
  tasks/stl/zaitsev_a_bw_labeling/data/trig.jpg
  tasks/stl/zaitsev_a_bw_labeling/func_tests/main.cpp
  tasks/stl/zaitsev_a_bw_labeling/include/disjoint_set.hpp
  tasks/stl/zaitsev_a_bw_labeling/include/ops_stl.hpp
  tasks/stl/zaitsev_a_bw_labeling/perf_tests/main.cpp
  tasks/stl/zaitsev_a_bw_labeling/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#637 [FIX] Шульпин Илья. Вариант 23. Технология TBB. Построение выпуклой оболочки – проход Джарвиса
  tasks/tbb/shulpin_i_jarvis_passage/include/test_modules.hpp
  tasks/tbb/shulpin_i_jarvis_passage/perf_tests/main.cpp
  tasks/tbb/shulpin_i_jarvis_passage/src/test_modules.cpp
Labels: task:tbb

#531 Владимирова Юлия. Вариант 12. Технология STL. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/stl/vladimirova_j_m_monte_karlo/func_tests/main.cpp
  tasks/stl/vladimirova_j_m_monte_karlo/include/ops_stl.hpp
  tasks/stl/vladimirova_j_m_monte_karlo/perf_tests/main.cpp
  tasks/stl/vladimirova_j_m_monte_karlo/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#532 Ермилова Дарья. Задача 4. Вариант 16. Технология STL. Сортировка Шелла с четно-нечетным слиянием Бэтчера.
  tasks/stl/ermilova_d_shell_sort_batcher_even_odd_merger/func_tests/main.cpp
  tasks/stl/ermilova_d_shell_sort_batcher_even_odd_merger/include/ops_stl.hpp
  tasks/stl/ermilova_d_shell_sort_batcher_even_odd_merger/perf_tests/main.cpp
  tasks/stl/ermilova_d_shell_sort_batcher_even_odd_merger/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#566 Мухина Маргарита. Вариант 21. Технология STL. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры)
  tasks/stl/muhina_m_dijkstra/func_tests/main.cpp
  tasks/stl/muhina_m_dijkstra/include/ops_stl.hpp
  tasks/stl/muhina_m_dijkstra/perf_tests/main.cpp
  tasks/stl/muhina_m_dijkstra/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#575 Сидорина Полина. Вариант 8. Технология STL. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/stl/sidorina_p_gradient_method/func_tests/main.cpp
  tasks/stl/sidorina_p_gradient_method/include/ops_stl.hpp
  tasks/stl/sidorina_p_gradient_method/perf_tests/main.cpp
  tasks/stl/sidorina_p_gradient_method/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#578 Смирнов Илья. Вариант 17. Технология STL. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/stl/smirnov_i_radix_sort_simple_merge/func_tests/main.cpp
  tasks/stl/smirnov_i_radix_sort_simple_merge/include/ops_stl.hpp
  tasks/stl/smirnov_i_radix_sort_simple_merge/perf_tests/main.cpp
  tasks/stl/smirnov_i_radix_sort_simple_merge/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#581 Варфоломеев Григорий. Задача 1. Вариант 28. Технология STL. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/stl/varfolomeev_g_histogram_linear_stretching/data/cobble_mod.jpg
  tasks/stl/varfolomeev_g_histogram_linear_stretching/data/cobble_orig.jpg
  tasks/stl/varfolomeev_g_histogram_linear_stretching/func_tests/main.cpp
  tasks/stl/varfolomeev_g_histogram_linear_stretching/include/ops_stl.hpp
  tasks/stl/varfolomeev_g_histogram_linear_stretching/perf_tests/main.cpp
  tasks/stl/varfolomeev_g_histogram_linear_stretching/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#584 Холин Кирилл. Задача 1. Вариант 9. Технология STL. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников)
  tasks/stl/kholin_k_multidimensional_integrals_rectangle/func_tests/main.cpp
  tasks/stl/kholin_k_multidimensional_integrals_rectangle/include/ops_stl.hpp
  tasks/stl/kholin_k_multidimensional_integrals_rectangle/perf_tests/main.cpp
  tasks/stl/kholin_k_multidimensional_integrals_rectangle/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#593 Наседкин Егор. Задача 1. Вариант 3. Технология STL. Умножение плотных матриц. Элементы типа double. Алгоритм Штрассена.
  tasks/stl/nasedkin_e_strassen_algorithm/func_tests/main.cpp
  tasks/stl/nasedkin_e_strassen_algorithm/include/ops_stl.hpp
  tasks/stl/nasedkin_e_strassen_algorithm/perf_tests/main.cpp
  tasks/stl/nasedkin_e_strassen_algorithm/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#594 Черных Андрей. Задача 4. Вариант 9. Технология STL. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/stl/chernykh_a_multidimensional_integral_rectangle/func_tests/main.cpp
  tasks/stl/chernykh_a_multidimensional_integral_rectangle/include/ops_stl.hpp
  tasks/stl/chernykh_a_multidimensional_integral_rectangle/perf_tests/main.cpp
  tasks/stl/chernykh_a_multidimensional_integral_rectangle/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#596 Кондратьев Ярослав. Задача 1. Вариант 7. Технология STL. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – столбцовый (CCS).
  tasks/stl/kondratev_ya_ccs_complex_multiplication/func_tests/main.cpp
  tasks/stl/kondratev_ya_ccs_complex_multiplication/include/ops_stl.hpp
  tasks/stl/kondratev_ya_ccs_complex_multiplication/perf_tests/main.cpp
  tasks/stl/kondratev_ya_ccs_complex_multiplication/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#602 Комшина Дарья. Задача 1. Технология STL. Вариант 25. Линейная фильтрация изображений (вертикальное разбиение). Ядро Гаусса 3x3.
  tasks/stl/komshina_d_image_filtering_vertical_gaussian/func_tests/main.cpp
  tasks/stl/komshina_d_image_filtering_vertical_gaussian/include/ops_stl.hpp
  tasks/stl/komshina_d_image_filtering_vertical_gaussian/perf_tests/main.cpp
  tasks/stl/komshina_d_image_filtering_vertical_gaussian/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#605 Борисов Сергей. Задача 1. Вариант 3. Технология STL. Умножение плотных матриц. Элементы типа double. Алгоритм Штрассена.
  tasks/stl/borisov_s_strassen/func_tests/main.cpp
  tasks/stl/borisov_s_strassen/include/ops_stl.hpp
  tasks/stl/borisov_s_strassen/perf_tests/main.cpp
  tasks/stl/borisov_s_strassen/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#606 Фролова Елизавета. Вариант 27. Технология STL. Выделение ребер на изображении с использованием оператора Собеля.
  tasks/stl/frolova_e_Sobel_filter/func_tests/main.cpp
  tasks/stl/frolova_e_Sobel_filter/include/ops_stl.hpp
  tasks/stl/frolova_e_Sobel_filter/perf_tests/main.cpp
  tasks/stl/frolova_e_Sobel_filter/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#610 Лаганина Елена. Вариант 29. Технология STL.Маркировка компонент на бинарном изображении (черные области соответствуют объектам, белые – фону).
  tasks/stl/laganina_e_component_labeling/func_tests/main.cpp
  tasks/stl/laganina_e_component_labeling/include/ops_stl.hpp
  tasks/stl/laganina_e_component_labeling/perf_tests/main.cpp
  tasks/stl/laganina_e_component_labeling/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#625 Ермолаев Владислав. Задача 1. Вариант 22. Технология STL. Построение выпуклой оболочки – проход Грэхема.
  tasks/stl/ermolaev_v_graham_scan/func_tests/main.cpp
  tasks/stl/ermolaev_v_graham_scan/include/ops_stl.hpp
  tasks/stl/ermolaev_v_graham_scan/perf_tests/main.cpp
  tasks/stl/ermolaev_v_graham_scan/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#560 Константинов Илья. Вариант 20. Технология STL.Поразрядная сортировка для вещественных чисел (тип double) с четно-нечетным слиянием Бэтчера.
  tasks/stl/Konstantinov_I_Sort_Batcher/func_tests/main.cpp
  tasks/stl/Konstantinov_I_Sort_Batcher/include/ops_stl.hpp
  tasks/stl/Konstantinov_I_Sort_Batcher/perf_tests/main.cpp
  tasks/stl/Konstantinov_I_Sort_Batcher/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#614 Трубин Артём. Задача 1. Вариант 21. Технология SEQ. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры).
  tasks/seq/trubin_a_algorithm_dijkstra/func_tests/main.cpp
  tasks/seq/trubin_a_algorithm_dijkstra/include/ops_seq.hpp
  tasks/seq/trubin_a_algorithm_dijkstra/perf_tests/main.cpp
  tasks/seq/trubin_a_algorithm_dijkstra/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#620 Трубин Артём. Вариант 21. Технология OMP. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры).
  tasks/omp/trubin_a_algorithm_dijkstra/func_tests/main.cpp
  tasks/omp/trubin_a_algorithm_dijkstra/include/ops_omp.hpp
  tasks/omp/trubin_a_algorithm_dijkstra/perf_tests/main.cpp
  tasks/omp/trubin_a_algorithm_dijkstra/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#647 [PREVENTIVE FIX PERF TESTS] Холин Кирилл. Задача 1. Вариант 9. Технология TBB. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников)
  tasks/tbb/kholin_k_multidimensional_integrals_rectangle/include/ops_tbb.hpp
  tasks/tbb/kholin_k_multidimensional_integrals_rectangle/src/ops_tbb.cpp
Labels: task:tbb

#607 Калякина Анастасия. Вариант 15. Технология STL. Сортировка Шелла с простым слиянием.
  tasks/stl/kalyakina_a_Shell_with_simple_merge/func_tests/main.cpp
  tasks/stl/kalyakina_a_Shell_with_simple_merge/include/ops_stl.hpp
  tasks/stl/kalyakina_a_Shell_with_simple_merge/perf_tests/main.cpp
  tasks/stl/kalyakina_a_Shell_with_simple_merge/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#615 Созонов Илья. Вариант 26. Технология STL. Линейная фильтрация изображений (блочное разбиение). Ядро Гаусса 3x3.
  tasks/stl/sozonov_i_image_filtering_block_partitioning/func_tests/main.cpp
  tasks/stl/sozonov_i_image_filtering_block_partitioning/include/ops_stl.hpp
  tasks/stl/sozonov_i_image_filtering_block_partitioning/perf_tests/main.cpp
  tasks/stl/sozonov_i_image_filtering_block_partitioning/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#617 Вавилов Виталий. Задача 1. Вариант 1. Технология STL. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Кэннона.
  tasks/stl/vavilov_v_cannon/func_tests/main.cpp
  tasks/stl/vavilov_v_cannon/include/ops_stl.hpp
  tasks/stl/vavilov_v_cannon/perf_tests/main.cpp
  tasks/stl/vavilov_v_cannon/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#623 Петров Олег. Задача 1. Вариант 25. Технология STL. Линейная фильтрация изображений (вертикальное разбиение). Ядро Гаусса 3x3.
  tasks/stl/petrov_o_vertical_image_filtration/func_tests/main.cpp
  tasks/stl/petrov_o_vertical_image_filtration/include/ops_stl.hpp
  tasks/stl/petrov_o_vertical_image_filtration/perf_tests/main.cpp
  tasks/stl/petrov_o_vertical_image_filtration/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#629 Харин Матвей. Вариант 9. Технология STL. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/stl/kharin_m_multidimensional_integral_calc/func_tests/main.cpp
  tasks/stl/kharin_m_multidimensional_integral_calc/include/ops_stl.hpp
  tasks/stl/kharin_m_multidimensional_integral_calc/perf_tests/main.cpp
  tasks/stl/kharin_m_multidimensional_integral_calc/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#660 Update perf counters
  scripts/create_perf_table.py
  scripts/run_tests.py
Labels: infrastructure

#662 [FIX] Тюрин Михаил. Технология SEQ. 6 вариант. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – строковый (CRS).
  tasks/seq/tyurin_m_matmul_crs_complex/perf_tests/main.cpp
Labels: task:seq, approved - Arseniy

#656 [FIX] Титов Семён. Задача 1. Вариант 24. Технология SEQ. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/seq/titov_s_ImageFilter_HorizGaussian3x3/perf_tests/main.cpp
Labels: task:seq, approved - Arseniy

#655 [FIX] Титов Семён. Задача 1. Вариант 24. Технология OMP. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/omp/titov_s_ImageFilter_HorizGaussian3x3/perf_tests/main.cpp
Labels: task:omp, approved - Arseniy

#496 Лаврентьев Алексей. Задача 4. Вариант 5. Технология STL Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – столбцовый (CCS)
  tasks/stl/lavrentiev_A_CCS/func_tests/main.cpp
  tasks/stl/lavrentiev_A_CCS/include/ops_stl.hpp
  tasks/stl/lavrentiev_A_CCS/perf_tests/main.cpp
  tasks/stl/lavrentiev_A_CCS/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#559 Сарафанов Максим. Вариант 1. Технология STL. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Кэннона
  tasks/stl/sarafanov_m_CanonMatMul/func_tests/main.cpp
  tasks/stl/sarafanov_m_CanonMatMul/include/CanonMatrix.hpp
  tasks/stl/sarafanov_m_CanonMatMul/include/ops_stl.hpp
  tasks/stl/sarafanov_m_CanonMatMul/perf_tests/main.cpp
  tasks/stl/sarafanov_m_CanonMatMul/src/CanonMatrix.cpp
  tasks/stl/sarafanov_m_CanonMatMul/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#573 Морозов Егор. Задача 1. Вариант 26. Технология STL. Линейная фильтрация изображений (блочное разбиение). Ядро Гаусса 3x3.
  tasks/stl/morozov_e_lineare_image_filtering_block_gaussian_stl/func_tests/main.cpp
  tasks/stl/morozov_e_lineare_image_filtering_block_gaussian_stl/include/ops_stl.hpp
  tasks/stl/morozov_e_lineare_image_filtering_block_gaussian_stl/perf_tests/main.cpp
  tasks/stl/morozov_e_lineare_image_filtering_block_gaussian_stl/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#673 Hotfix for scripts/create_perf_table.py
  scripts/create_perf_table.py
Labels: infrastructure

#675 [fix] Мурадов Майк. Вариант 9. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/omp/muradov_m_rect_int/func_tests/main.cpp
  tasks/omp/muradov_m_rect_int/include/ops_omp.hpp
  tasks/omp/muradov_m_rect_int/perf_tests/main.cpp
  tasks/omp/muradov_m_rect_int/src/ops_omp.cpp
  tasks/seq/muradov_m_rect_int/perf_tests/main.cpp
  tasks/tbb/muradov_m_rect_int/func_tests/main.cpp
  tasks/tbb/muradov_m_rect_int/include/ops_tbb.hpp
  tasks/tbb/muradov_m_rect_int/perf_tests/main.cpp
  tasks/tbb/muradov_m_rect_int/src/ops_tbb.cpp
Labels: task:seq, task:omp, task:tbb, approved - Arseniy

#377 Волочаев Серафим. Вариант 16. Технология: STL. Сортировка Шелла с четно-нечетным слиянием Бэтчера.
  tasks/stl/volochaev_s_Shell_sort_with_Batchers_even-odd_merge/func_tests/main.cpp
  tasks/stl/volochaev_s_Shell_sort_with_Batchers_even-odd_merge/include/ops_stl.hpp
  tasks/stl/volochaev_s_Shell_sort_with_Batchers_even-odd_merge/perf_tests/main.cpp
  tasks/stl/volochaev_s_Shell_sort_with_Batchers_even-odd_merge/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander, wait ci

#580 Шурыгин Сергей. Задача 4. Вариант 9. Технология STL. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/stl/shurigin_s_integrals_square/func_tests/main.cpp
  tasks/stl/shurigin_s_integrals_square/include/ops_stl.hpp
  tasks/stl/shurigin_s_integrals_square/perf_tests/main.cpp
  tasks/stl/shurigin_s_integrals_square/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#694 Disable -Wcast-align on sanitizer build
  cmake/configure.cmake
Labels: infrastructure

#589 Чижов Максим. Вариант 10. Технология STL. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/stl/chizhov_m_trapezoid_method/func_tests/main.cpp
  tasks/stl/chizhov_m_trapezoid_method/include/ops_stl.hpp
  tasks/stl/chizhov_m_trapezoid_method/perf_tests/main.cpp
  tasks/stl/chizhov_m_trapezoid_method/src/ops_stl.cpp
Labels: task:stl, approved - Alexander, on review - Arseniy

#486 Титов Семён. Задача 1. Вариант 24. Технология STL. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/stl/titov_s_ImageFilter_HorizGaussian3x3/func_tests/main.cpp
  tasks/stl/titov_s_ImageFilter_HorizGaussian3x3/include/ops_stl.hpp
  tasks/stl/titov_s_ImageFilter_HorizGaussian3x3/perf_tests/main.cpp
  tasks/stl/titov_s_ImageFilter_HorizGaussian3x3/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#598 Тюрин Михаил. Технология STL. 6 вариант. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – строковый (CRS).
  tasks/stl/tyurin_m_matmul_crs_complex/func_tests/main.cpp
  tasks/stl/tyurin_m_matmul_crs_complex/include/ops_stl.hpp
  tasks/stl/tyurin_m_matmul_crs_complex/perf_tests/main.cpp
  tasks/stl/tyurin_m_matmul_crs_complex/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#619 Козлова Екатерина. Вариант 28. STL. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/stl/kozlova_e_contrast_enhancement/func_tests/main.cpp
  tasks/stl/kozlova_e_contrast_enhancement/include/ops_stl.hpp
  tasks/stl/kozlova_e_contrast_enhancement/perf_tests/main.cpp
  tasks/stl/kozlova_e_contrast_enhancement/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#497 Отурин Александр. Вариант 23. Технология STL. Построение выпуклой оболочки – проход Джарвиса.
  tasks/stl/oturin_a_gift_wrapping/func_tests/main.cpp
  tasks/stl/oturin_a_gift_wrapping/include/ops_stl.hpp
  tasks/stl/oturin_a_gift_wrapping/perf_tests/main.cpp
  tasks/stl/oturin_a_gift_wrapping/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#103 Казунин Никита. Технология STL. Вариант 12. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/stl/kazunin_n_montecarlo/func_tests/main.cpp
  tasks/stl/kazunin_n_montecarlo/include/ops_stl.hpp
  tasks/stl/kazunin_n_montecarlo/perf_tests/main.cpp
  tasks/stl/kazunin_n_montecarlo/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#291 Мурадов Майк. Технология STL. Вариант 9. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/stl/muradov_m_rect_int/func_tests/main.cpp
  tasks/stl/muradov_m_rect_int/include/ops_stl.hpp
  tasks/stl/muradov_m_rect_int/perf_tests/main.cpp
  tasks/stl/muradov_m_rect_int/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#294 Петров Артем. Вариант 20. Технология STL. Поразрядная сортировка для вещественных чисел (тип double) с четно-нечетным слиянием Бэтчера.
  tasks/stl/petrov_a_radix_double_batcher/func_tests/main.cpp
  tasks/stl/petrov_a_radix_double_batcher/include/ops_stl.hpp
  tasks/stl/petrov_a_radix_double_batcher/perf_tests/main.cpp
  tasks/stl/petrov_a_radix_double_batcher/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#621 Колодкин Григорий. Вариант 6. STL. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – строковый (CRS).
  tasks/stl/kolodkin_g_multiplication_matrix_CRS/func_tests/main.cpp
  tasks/stl/kolodkin_g_multiplication_matrix_CRS/include/ops_stl.hpp
  tasks/stl/kolodkin_g_multiplication_matrix_CRS/perf_tests/main.cpp
  tasks/stl/kolodkin_g_multiplication_matrix_CRS/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#645 Лысов Иван. Задача 1. Вариант 2. Технология STL. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/stl/lysov_i_matrix_multiplication_Fox_algorithm/func_tests/main.cpp
  tasks/stl/lysov_i_matrix_multiplication_Fox_algorithm/include/ops_stl.hpp
  tasks/stl/lysov_i_matrix_multiplication_Fox_algorithm/perf_tests/main.cpp
  tasks/stl/lysov_i_matrix_multiplication_Fox_algorithm/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy

#649 Гнитиенко Кирилл. Вариант 3. Технология STL. Умножение плотных матриц. Элементы типа double. Алгоритм Штрассена.
  tasks/stl/gnitienko_k_strassen_alg/func_tests/main.cpp
  tasks/stl/gnitienko_k_strassen_alg/include/ops_stl.hpp
  tasks/stl/gnitienko_k_strassen_alg/perf_tests/main.cpp
  tasks/stl/gnitienko_k_strassen_alg/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#650 Ополин Дмитрий. Вариант 18. Технология STL. Поразрядная сортировка для целых чисел с четно-нечетным слиянием Бэтчера.
  tasks/stl/opolin_d_radix_sort_batcher_merge/func_tests/main.cpp
  tasks/stl/opolin_d_radix_sort_batcher_merge/include/ops_stl.hpp
  tasks/stl/opolin_d_radix_sort_batcher_merge/perf_tests/main.cpp
  tasks/stl/opolin_d_radix_sort_batcher_merge/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#657 Белов Артём. Вариант 18. Технология STL. Поразрядная сортировка для целых чисел с четно-нечетным слиянием Бэтчера.
  tasks/stl/belov_a_radix_sort_with_batcher_mergesort/func_tests/main.cpp
  tasks/stl/belov_a_radix_sort_with_batcher_mergesort/include/ops_stl.hpp
  tasks/stl/belov_a_radix_sort_with_batcher_mergesort/perf_tests/main.cpp
  tasks/stl/belov_a_radix_sort_with_batcher_mergesort/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#663 Хованский Дмитрий. Вариант 20. Технология STL. Поразрядная сортировка для вещественных чисел (тип double) с четно-нечетным слиянием Бэтчера.
  tasks/stl/khovansky_d_double_radix_batcher/func_tests/main.cpp
  tasks/stl/khovansky_d_double_radix_batcher/include/ops_stl.hpp
  tasks/stl/khovansky_d_double_radix_batcher/perf_tests/main.cpp
  tasks/stl/khovansky_d_double_radix_batcher/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#666 Коротин Егор. Задача 1. Вариант 4. Технология STL. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – строковый (CRS).
  tasks/stl/korotin_e_crs_multiplication/func_tests/main.cpp
  tasks/stl/korotin_e_crs_multiplication/include/ops_stl.hpp
  tasks/stl/korotin_e_crs_multiplication/perf_tests/main.cpp
  tasks/stl/korotin_e_crs_multiplication/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#669 Колоколова Дарья. Вариант 11. Технология STL. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/stl/kolokolova_d_integral_simpson_method/func_tests/main.cpp
  tasks/stl/kolokolova_d_integral_simpson_method/include/ops_stl.hpp
  tasks/stl/kolokolova_d_integral_simpson_method/perf_tests/main.cpp
  tasks/stl/kolokolova_d_integral_simpson_method/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#670 Сорочкин Данила. Вариант 19. Технология STL. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/stl/sorochkin_d_radix_double_sort_simple_merge/func_tests/main.cpp
  tasks/stl/sorochkin_d_radix_double_sort_simple_merge/include/ops.hpp
  tasks/stl/sorochkin_d_radix_double_sort_simple_merge/perf_tests/main.cpp
  tasks/stl/sorochkin_d_radix_double_sort_simple_merge/src/ops.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#684 Тышкевич Артём. Технология STL. Вариант 13. Сортировка Хоара с простым слиянием.
  tasks/stl/tyshkevich_a_hoare_simple_merge/func_tests/main.cpp
  tasks/stl/tyshkevich_a_hoare_simple_merge/include/ops_stl.hpp
  tasks/stl/tyshkevich_a_hoare_simple_merge/perf_tests/main.cpp
  tasks/stl/tyshkevich_a_hoare_simple_merge/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#690 Дурыничев Дмитрий. Вариант 11. Технология STL. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона)
  tasks/stl/durynichev_d_integrals_simpson_method/func_tests/main.cpp
  tasks/stl/durynichev_d_integrals_simpson_method/include/ops_stl.hpp
  tasks/stl/durynichev_d_integrals_simpson_method/perf_tests/main.cpp
  tasks/stl/durynichev_d_integrals_simpson_method/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#698 Корнеева Екатерина. Вариант 7. Технология STL. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – столбцовый (CCS).
  tasks/stl/korneeva_e_sparse_matrix_mult_complex_ccs/func_tests/main.cpp
  tasks/stl/korneeva_e_sparse_matrix_mult_complex_ccs/include/ops_stl.hpp
  tasks/stl/korneeva_e_sparse_matrix_mult_complex_ccs/perf_tests/main.cpp
  tasks/stl/korneeva_e_sparse_matrix_mult_complex_ccs/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#554 Коньков Иван. Задача 4. Вариант 5 Технология STL. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – столбцовый (CCS).
  tasks/stl/konkov_i_sparse_matmul_ccs_stl/func_tests/main.cpp
  tasks/stl/konkov_i_sparse_matmul_ccs_stl/include/ops_stl.hpp
  tasks/stl/konkov_i_sparse_matmul_ccs_stl/perf_tests/main.cpp
  tasks/stl/konkov_i_sparse_matmul_ccs_stl/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#604 Зиновьев Александр. Вариант 30. Технология STL. Построение выпуклой оболочки для компонент бинарного изображения.
  tasks/stl/zinoviev_a_convex_hull_components/func_tests/main.cpp
  tasks/stl/zinoviev_a_convex_hull_components/include/ops_stl.hpp
  tasks/stl/zinoviev_a_convex_hull_components/perf_tests/main.cpp
  tasks/stl/zinoviev_a_convex_hull_components/src/ops_stl.cpp
Labels: task:stl, approved - Alexander, on review - Arseniy

#612 Соловьев Данила. Задача 1. Вариант 15. Технология STL. Сортировка Шелла с простым слиянием.
  tasks/stl/solovyev_d_shell_sort_simple/func_tests/main.cpp
  tasks/stl/solovyev_d_shell_sort_simple/include/ops_stl.hpp
  tasks/stl/solovyev_d_shell_sort_simple/perf_tests/main.cpp
  tasks/stl/solovyev_d_shell_sort_simple/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#676 Калякина Анастасия. Вариант 15. Технология MPI+TBB. Сортировка Шелла с простым слиянием.
  tasks/all/kalyakina_a_Shell_with_simple_merge/func_tests/func_all.cpp
  tasks/all/kalyakina_a_Shell_with_simple_merge/include/ops_all.hpp
  tasks/all/kalyakina_a_Shell_with_simple_merge/perf_tests/perf_all.cpp
  tasks/all/kalyakina_a_Shell_with_simple_merge/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#628 Трубин Артём. Задача 1. Вариант 21. Технология STL. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры).
  tasks/stl/trubin_a_algorithm_dijkstra/func_tests/main.cpp
  tasks/stl/trubin_a_algorithm_dijkstra/include/ops_stl.hpp
  tasks/stl/trubin_a_algorithm_dijkstra/perf_tests/main.cpp
  tasks/stl/trubin_a_algorithm_dijkstra/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#654 Ковалев Константин. Вариант 18. Технология STL. Поразрядная сортировка для целых чисел с четно-нечетным слиянием Бэтчера.
  tasks/stl/kovalev_k_radix_sort_batcher_merge/func_tests/main_func.cpp
  tasks/stl/kovalev_k_radix_sort_batcher_merge/include/header.hpp
  tasks/stl/kovalev_k_radix_sort_batcher_merge/perf_tests/main_perf.cpp
  tasks/stl/kovalev_k_radix_sort_batcher_merge/src/sourse.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#661 Шляков Максим. Вариант 15. Технология STL. Сортировка Шелла с простым слиянием.
  tasks/stl/shlyakov_m_shell_sort/func_tests/main.cpp
  tasks/stl/shlyakov_m_shell_sort/include/ops_stl.hpp
  tasks/stl/shlyakov_m_shell_sort/perf_tests/main.cpp
  tasks/stl/shlyakov_m_shell_sort/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#608 Шульпин Илья. Вариант 23. Технология STL. Построение выпуклой оболочки – проход Джарвиса.
  tasks/stl/shulpin_i_jarvis_passage/func_tests/main.cpp
  tasks/stl/shulpin_i_jarvis_passage/include/ops_stl.hpp
  tasks/stl/shulpin_i_jarvis_passage/include/test_modules.hpp
  tasks/stl/shulpin_i_jarvis_passage/perf_tests/main.cpp
  tasks/stl/shulpin_i_jarvis_passage/src/ops_stl.cpp
  tasks/stl/shulpin_i_jarvis_passage/src/test_modules.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#706 Громов Алексей. Задача 1. Вариант 2. Технология STL. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса
  tasks/stl/gromov_a_fox_algorithm/func_tests/main.cpp
  tasks/stl/gromov_a_fox_algorithm/include/ops_stl.hpp
  tasks/stl/gromov_a_fox_algorithm/perf_tests/main.cpp
  tasks/stl/gromov_a_fox_algorithm/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#693 Бурыкин Михаил. Вариант 17. Технология STL. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/seq/burykin_m_radix/src/ops_seq.cpp
  tasks/stl/burykin_m_radix/func_tests/main.cpp
  tasks/stl/burykin_m_radix/include/ops_stl.hpp
  tasks/stl/burykin_m_radix/perf_tests/main.cpp
  tasks/stl/burykin_m_radix/src/ops_stl.cpp
Labels: task:seq, task:stl, approved - Arseniy, approved - Alexander, wait ci

#702 Кошкин Матвей. Задача 1. Вариант 17. Технология STL. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/stl/koshkin_m_radix_int_simple_merge/func_tests/main.cpp
  tasks/stl/koshkin_m_radix_int_simple_merge/include/ops_stl.hpp
  tasks/stl/koshkin_m_radix_int_simple_merge/perf_tests/main.cpp
  tasks/stl/koshkin_m_radix_int_simple_merge/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander, wait ci

#300 Поликанов Виталий. Задача 1. Вариант 9. Технология STL. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/stl/polikanov_v_rectangles/func_tests/main.cpp
  tasks/stl/polikanov_v_rectangles/include/ops_stl.hpp
  tasks/stl/polikanov_v_rectangles/perf_tests/main.cpp
  tasks/stl/polikanov_v_rectangles/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander, wait ci

#701 Пикарычев Илья. Вариант 13. Технология STL. Сортировка Хоара с простым слиянием.
  tasks/stl/pikarychev_i_hoare_sort_simple_merge/func_tests/main.cpp
  tasks/stl/pikarychev_i_hoare_sort_simple_merge/include/ops_stl.hpp
  tasks/stl/pikarychev_i_hoare_sort_simple_merge/perf_tests/main.cpp
  tasks/stl/pikarychev_i_hoare_sort_simple_merge/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander, wait ci

#703 Дерябин Максим. Вариант 13. Технология STL. Сортировка Хоара с простым слиянием.
  tasks/stl/deryabin_m_hoare_sort_simple_merge/func_tests/main.cpp
  tasks/stl/deryabin_m_hoare_sort_simple_merge/include/ops_stl.hpp
  tasks/stl/deryabin_m_hoare_sort_simple_merge/perf_tests/main.cpp
  tasks/stl/deryabin_m_hoare_sort_simple_merge/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander, wait ci

#664 Карасева Екатерина. Задача 4. Вариант 8. Технология STL. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/stl/karaseva_e_congrad/func_tests/main.cpp
  tasks/stl/karaseva_e_congrad/include/ops_stl.hpp
  tasks/stl/karaseva_e_congrad/perf_tests/main.cpp
  tasks/stl/karaseva_e_congrad/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander, wait ci

#723 [FIX]. Смирнов Илья. Вариант 17. Технология STL. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/stl/smirnov_i_radix_sort_simple_merge/func_tests/main.cpp
  tasks/stl/smirnov_i_radix_sort_simple_merge/include/ops_stl.hpp
  tasks/stl/smirnov_i_radix_sort_simple_merge/perf_tests/main.cpp
  tasks/stl/smirnov_i_radix_sort_simple_merge/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy

#651 Васильев Сергей. Задача 1. Вариант 11. Технология STL. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/stl/vasilev_s_simpson_multidim/func_tests/main.cpp
  tasks/stl/vasilev_s_simpson_multidim/include/ops_stl.hpp
  tasks/stl/vasilev_s_simpson_multidim/perf_tests/main.cpp
  tasks/stl/vasilev_s_simpson_multidim/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander, wait ci

#718 Ведерникова Ксения. Технология STL. Вариант 24. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/stl/vedernikova_k_gauss/func_tests/main.cpp
  tasks/stl/vedernikova_k_gauss/include/ops_stl.hpp
  tasks/stl/vedernikova_k_gauss/perf_tests/main.cpp
  tasks/stl/vedernikova_k_gauss/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#728 fix: Казунин Никита. Вариант 12. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/omp/kazunin_n_montecarlo/perf_tests/main.cpp
  tasks/seq/kazunin_n_montecarlo/func_tests/main.cpp
  tasks/seq/kazunin_n_montecarlo/include/ops_seq.hpp
  tasks/seq/kazunin_n_montecarlo/perf_tests/main.cpp
  tasks/seq/kazunin_n_montecarlo/src/ops_seq.cpp
  tasks/stl/kazunin_n_montecarlo/perf_tests/main.cpp
  tasks/tbb/kazunin_n_montecarlo/perf_tests/main.cpp
Labels: task:seq, task:omp, task:tbb, task:stl, approved - Arseniy

#731 Disable kholin_k_multidimensional_integrals_rectangle_omp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle_disabled/func_tests/main.cpp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle_disabled/include/ops_omp.hpp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle_disabled/perf_tests/main.cpp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle_disabled/src/ops_omp.cpp
Labels: task:omp

#732 [FIX] Шульпин Илья. Вариант 23. Технология STL. Построение выпуклой оболочки – проход Джарвиса.
  tasks/stl/shulpin_i_jarvis_passage/func_tests/main.cpp
  tasks/stl/shulpin_i_jarvis_passage/include/ops_stl.hpp
  tasks/stl/shulpin_i_jarvis_passage/include/test_modules.hpp
  tasks/stl/shulpin_i_jarvis_passage/perf_tests/main.cpp
  tasks/stl/shulpin_i_jarvis_passage/src/ops_stl.cpp
  tasks/stl/shulpin_i_jarvis_passage/src/test_modules.cpp
Labels: task:stl

#674 [FIX] Чижов Максим. Вариант 10. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/seq/chizhov_m_trapezoid_method/func_tests/main.cpp
  tasks/seq/chizhov_m_trapezoid_method/include/ops_seq.hpp
  tasks/seq/chizhov_m_trapezoid_method/perf_tests/main.cpp
  tasks/seq/chizhov_m_trapezoid_method/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy

#668 Капустин Иван. Вариант 23. Технология STL. Построение выпуклой оболочки – проход Джарвиса.
  tasks/stl/kapustin_i_jarv_alg/func_tests/main.cpp
  tasks/stl/kapustin_i_jarv_alg/include/ops_stl.hpp
  tasks/stl/kapustin_i_jarv_alg/perf_tests/main.cpp
  tasks/stl/kapustin_i_jarv_alg/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#697 Соловьев Алексей. Задача 1. Вариант 7. Технология STL. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – столбцовый (CCS).
  tasks/stl/solovev_a_ccs_mmult_sparse/func_tests/main.cpp
  tasks/stl/solovev_a_ccs_mmult_sparse/include/ccs_mmult_sparse.hpp
  tasks/stl/solovev_a_ccs_mmult_sparse/perf_tests/main.cpp
  tasks/stl/solovev_a_ccs_mmult_sparse/src/ccs_mmult_sparse.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#741 [fix] Мурадов Майк. Вариант 9. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/omp/muradov_m_rect_int/func_tests/main.cpp
  tasks/omp/muradov_m_rect_int/include/ops_omp.hpp
  tasks/omp/muradov_m_rect_int/perf_tests/main.cpp
  tasks/omp/muradov_m_rect_int/src/ops_omp.cpp
  tasks/seq/muradov_m_rect_int/perf_tests/main.cpp
  tasks/stl/muradov_m_rect_int/perf_tests/main.cpp
  tasks/tbb/muradov_m_rect_int/func_tests/main.cpp
  tasks/tbb/muradov_m_rect_int/include/ops_tbb.hpp
  tasks/tbb/muradov_m_rect_int/perf_tests/main.cpp
  tasks/tbb/muradov_m_rect_int/src/ops_tbb.cpp
Labels: task:seq, task:omp, task:tbb, task:stl, approved - Arseniy

#743 [FIX FUNC TESTS] Холин Кирилл. Задача 1. Вариант 9. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников)
  tasks/omp/kholin_k_multidimensional_integrals_rectangle/func_tests/main.cpp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle/include/ops_omp.hpp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle/perf_tests/main.cpp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy

#638 [FIX] Золотарева Арина. Вариант 8. Технология SEQ. Решение систем линейных уравнений методом сопряженных градиентов
  tasks/seq/zolotareva_a_SLE_gradient_method/perf_tests/main.cpp
Labels: task:seq, approved - Arseniy

#671 Ануфриев Даниил. Задача 1. Вариант 11. Технология STL. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/stl/anufriev_d_integrals_simpson/func_tests/main.cpp
  tasks/stl/anufriev_d_integrals_simpson/include/ops_stl.hpp
  tasks/stl/anufriev_d_integrals_simpson/perf_tests/main.cpp
  tasks/stl/anufriev_d_integrals_simpson/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#626 Бессонов Егор. Вариант 19. Технология STL. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/stl/bessonov_e_radix_sort_simple_merging/func_tests/main.cpp
  tasks/stl/bessonov_e_radix_sort_simple_merging/include/ops_stl.hpp
  tasks/stl/bessonov_e_radix_sort_simple_merging/perf_tests/main.cpp
  tasks/stl/bessonov_e_radix_sort_simple_merging/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#543 Федоров Матвей. Вариант 16. Технология STL. Сортировка Шелла с четно-нечетным слиянием Бэтчера.
  tasks/stl/fyodorov_m_shell_sort_with_even_odd_batcher_merge/func_tests/main.cpp
  tasks/stl/fyodorov_m_shell_sort_with_even_odd_batcher_merge/include/ops_stl.hpp
  tasks/stl/fyodorov_m_shell_sort_with_even_odd_batcher_merge/perf_tests/main.cpp
  tasks/stl/fyodorov_m_shell_sort_with_even_odd_batcher_merge/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#717 Ясакова Татьяна. Вариант 6. STL. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – строковый (CRS).
  tasks/stl/yasakova_t_sparse_matrix_multiplication/func_tests/main.cpp
  tasks/stl/yasakova_t_sparse_matrix_multiplication/include/ops_stl.hpp
  tasks/stl/yasakova_t_sparse_matrix_multiplication/perf_tests/main.cpp
  tasks/stl/yasakova_t_sparse_matrix_multiplication/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#639 [FIX] Золотарева Арина. Вариант 8. Технология TBB. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/tbb/zolotareva_a_SLE_gradient_method/perf_tests/main.cpp
Labels: task:tbb, approved - Arseniy

#760 [FIX] Чижов Максим. Вариант 10. Технология TBB. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/tbb/chizhov_m_trapezoid_method/func_tests/main.cpp
  tasks/tbb/chizhov_m_trapezoid_method/include/ops_tbb.hpp
  tasks/tbb/chizhov_m_trapezoid_method/perf_tests/main.cpp
  tasks/tbb/chizhov_m_trapezoid_method/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, wait ci

#761 [FIX] Чижов Максим. Вариант 10. Технология STL. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/stl/chizhov_m_trapezoid_method/func_tests/main.cpp
  tasks/stl/chizhov_m_trapezoid_method/include/ops_stl.hpp
  tasks/stl/chizhov_m_trapezoid_method/perf_tests/main.cpp
  tasks/stl/chizhov_m_trapezoid_method/src/ops_stl.cpp
Labels: task:stl

#734 [FIX] Титов Семён. Задача 1. Вариант 24. Технология SEQ. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/omp/titov_s_ImageFilter_HorizGaussian3x3/perf_tests/main.cpp
  tasks/seq/titov_s_ImageFilter_HorizGaussian3x3/func_tests/main.cpp
  tasks/seq/titov_s_ImageFilter_HorizGaussian3x3/include/ops_seq.hpp
  tasks/seq/titov_s_ImageFilter_HorizGaussian3x3/perf_tests/main.cpp
  tasks/seq/titov_s_ImageFilter_HorizGaussian3x3/src/ops_seq.cpp
  tasks/stl/titov_s_ImageFilter_HorizGaussian3x3/perf_tests/main.cpp
  tasks/tbb/titov_s_ImageFilter_HorizGaussian3x3/perf_tests/main.cpp
Labels: task:seq, task:omp, task:tbb, task:stl

#641 [FIX] Золотарева Арина. Вариант 8. Технология OMP. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/omp/zolotareva_a_SLE_gradient_method/func_tests/main.cpp
  tasks/omp/zolotareva_a_SLE_gradient_method/include/ops_seq.hpp
  tasks/omp/zolotareva_a_SLE_gradient_method/perf_tests/main.cpp
  tasks/omp/zolotareva_a_SLE_gradient_method/src/ops_seq.cpp
Labels: task:omp

#570 Шуравина Оксана. Вариант 13. Технология STL. Сортировка Хоара с простым слиянием.
  tasks/stl/shuravina_o_hoare_simple_merger_std/func_tests/main.cpp
  tasks/stl/shuravina_o_hoare_simple_merger_std/include/ops_stl.hpp
  tasks/stl/shuravina_o_hoare_simple_merger_std/perf_tests/main.cpp
  tasks/stl/shuravina_o_hoare_simple_merger_std/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#182 Соцков Андрей. Задача 1. Вариант 15. Технология MPI + STL. Сортировка Шелла с простым слиянием.
  tasks/all/sotskov_a_shell_sorting_with_simple_merging/func_tests/func_all.cpp
  tasks/all/sotskov_a_shell_sorting_with_simple_merging/include/ops_all.hpp
  tasks/all/sotskov_a_shell_sorting_with_simple_merging/perf_tests/perf_all.cpp
  tasks/all/sotskov_a_shell_sorting_with_simple_merging/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#216 Цацын Александр. Вариант 19. Технология MPI+OMP. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/all/tsatsyn_a_radix_sort_simple_merge/func_tests/func_all.cpp
  tasks/all/tsatsyn_a_radix_sort_simple_merge/include/ops_all.hpp
  tasks/all/tsatsyn_a_radix_sort_simple_merge/perf_tests/perf_all.cpp
  tasks/all/tsatsyn_a_radix_sort_simple_merge/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#270 Филатьева Елизавета. Вариант 11. Технология MPI + TBB. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/all/filateva_e_simpson/func_tests/main.cpp
  tasks/all/filateva_e_simpson/include/ops_all.hpp
  tasks/all/filateva_e_simpson/perf_tests/main.cpp
  tasks/all/filateva_e_simpson/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#318 Николаев Роман. Вариант 13. Технологии MPI+TBB. Сортировка Хоара с простым слиянием.
  tasks/all/nikolaev_r_hoare_sort_simple_merge/func_tests/func_all.cpp
  tasks/all/nikolaev_r_hoare_sort_simple_merge/include/ops_all.hpp
  tasks/all/nikolaev_r_hoare_sort_simple_merge/perf_tests/perf_all.cpp
  tasks/all/nikolaev_r_hoare_sort_simple_merge/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#407 Лопатин Илья. Вариант 12. Технология MPI+OMP. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/all/lopatin_i_monte_carlo/func_tests/lopatinMonteCarloFuncALL.cpp
  tasks/all/lopatin_i_monte_carlo/include/lopatinMonteCarloALL.hpp
  tasks/all/lopatin_i_monte_carlo/perf_tests/lopatinMonteCarloPerfALL.cpp
  tasks/all/lopatin_i_monte_carlo/src/lopatinMonteCarloALL.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#462 Порошин Владислав. Задача 1. Вариант 10. Технология MPI + OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/all/poroshin_v_multi_integral_with_trapez_method/func_tests/func_all.cpp
  tasks/all/poroshin_v_multi_integral_with_trapez_method/include/ops_all.hpp
  tasks/all/poroshin_v_multi_integral_with_trapez_method/perf_tests/perf_all.cpp
  tasks/all/poroshin_v_multi_integral_with_trapez_method/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#579 Садиков Иван. Задача 5. Вариант 5. Технология MPI + TBB. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – столбцовый (CCS).
  tasks/all/sadikov_I_SparseMatrixMultiplication/func_tests/main.cpp
  tasks/all/sadikov_I_SparseMatrixMultiplication/include/SparseMatrix.hpp
  tasks/all/sadikov_I_SparseMatrixMultiplication/include/ops_all.hpp
  tasks/all/sadikov_I_SparseMatrixMultiplication/perf_tests/main.cpp
  tasks/all/sadikov_I_SparseMatrixMultiplication/src/SparseMatrix.cpp
  tasks/all/sadikov_I_SparseMatrixMultiplication/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#588 Коровин Никита. Вариант 14. Технология MPI + OMP. Сортировка Хоара с четно-нечетным слиянием Бэтчера.
  tasks/all/korovin_n_qsort_batcher/func_tests/func_all.cpp
  tasks/all/korovin_n_qsort_batcher/include/ops_all.hpp
  tasks/all/korovin_n_qsort_batcher/perf_tests/perf_all.cpp
  tasks/all/korovin_n_qsort_batcher/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#597 Черных Андрей. Задача 5. Вариант 9. Технология MPI+OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/all/chernykh_a_multidimensional_integral_rectangle/func_tests/main.cpp
  tasks/all/chernykh_a_multidimensional_integral_rectangle/include/ops_all.hpp
  tasks/all/chernykh_a_multidimensional_integral_rectangle/perf_tests/main.cpp
  tasks/all/chernykh_a_multidimensional_integral_rectangle/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#613 Сарафанов Максим. Вариант 1. Технология MPI + OMP. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Кэннона
  tasks/all/sarafanov_m_CanonMatMul/func_tests/main.cpp
  tasks/all/sarafanov_m_CanonMatMul/include/CanonMatrix.hpp
  tasks/all/sarafanov_m_CanonMatMul/include/ops_all.hpp
  tasks/all/sarafanov_m_CanonMatMul/perf_tests/main.cpp
  tasks/all/sarafanov_m_CanonMatMul/src/CanonMatrix.cpp
  tasks/all/sarafanov_m_CanonMatMul/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#636 Холин Кирилл. Задача 1. Вариант 9. Технология MPI + OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников)
  tasks/all/kholin_k_multidimensional_integrals_rectangle/func_tests/func_all.cpp
  tasks/all/kholin_k_multidimensional_integrals_rectangle/include/ops_all.hpp
  tasks/all/kholin_k_multidimensional_integrals_rectangle/perf_tests/perf_all.cpp
  tasks/all/kholin_k_multidimensional_integrals_rectangle/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#640 Варфоломеев Григорий. Задача 1. Вариант 28. Технология MPI+OMP. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/all/varfolomeev_g_histogram_linear_stretching/data/cobble_mod.jpg
  tasks/all/varfolomeev_g_histogram_linear_stretching/data/cobble_orig.jpg
  tasks/all/varfolomeev_g_histogram_linear_stretching/func_tests/main.cpp
  tasks/all/varfolomeev_g_histogram_linear_stretching/include/ops_all.hpp
  tasks/all/varfolomeev_g_histogram_linear_stretching/perf_tests/main.cpp
  tasks/all/varfolomeev_g_histogram_linear_stretching/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#642 Лаганина Елена. Вариант 29. Технология MPI+OMP.Маркировка компонент на бинарном изображении (черные области соответствуют объектам, белые – фону).
  tasks/all/laganina_e_component_labeling/func_tests/func_all.cpp
  tasks/all/laganina_e_component_labeling/include/ops_all.hpp
  tasks/all/laganina_e_component_labeling/perf_tests/perf_all.cpp
  tasks/all/laganina_e_component_labeling/src/ops_all.cpp
Labels: task:all, approved - Arseniy

#768 [FIX] Хасаньянов Кирилл. TBB, STL fix
  tasks/stl/khasanyanov_k_trapezoid_method/perf_tests/main.cpp
  tasks/tbb/khasanyanov_k_trapezoid_method/perf_tests/main.cpp
Labels: task:tbb, task:stl, approved - Arseniy

#630 Золотарева Арина. Вариант 8. Технология STL. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/stl/zolotareva_a_SLE_gradient_method/func_tests/main.cpp
  tasks/stl/zolotareva_a_SLE_gradient_method/include/ops_seq.hpp
  tasks/stl/zolotareva_a_SLE_gradient_method/perf_tests/main.cpp
  tasks/stl/zolotareva_a_SLE_gradient_method/src/ops_seq.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#735 Ковальчук Александр. Вариант 15. Технология STL. Сортировка Шелла с простым слиянием
  tasks/stl/kovalchuk_a_shell_sort_stl/func_tests/main.cpp
  tasks/stl/kovalchuk_a_shell_sort_stl/include/ops_stl.hpp
  tasks/stl/kovalchuk_a_shell_sort_stl/perf_tests/main.cpp
  tasks/stl/kovalchuk_a_shell_sort_stl/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#643 Милованкин Максим. Задача 5. Вариант 28. Технология MPI+TBB. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/all/milovankin_m_histogram_stretching/func_tests/main.cpp
  tasks/all/milovankin_m_histogram_stretching/include/ops_all.hpp
  tasks/all/milovankin_m_histogram_stretching/perf_tests/main.cpp
  tasks/all/milovankin_m_histogram_stretching/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#659 Филатьев Владислав. Технология MPI + STL. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/all/filatev_v_foks/func_tests/main.cpp
  tasks/all/filatev_v_foks/include/ops_all.hpp
  tasks/all/filatev_v_foks/perf_tests/main.cpp
  tasks/all/filatev_v_foks/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#677 Шведова Виталина. Вариант 22. Технология MPI+STL. Построение выпуклой оболочки – проход Грэхема.
  tasks/all/shvedova_v_graham_convex_hull/func_tests/main.cpp
  tasks/all/shvedova_v_graham_convex_hull/include/ops_all.hpp
  tasks/all/shvedova_v_graham_convex_hull/perf_tests/main.cpp
  tasks/all/shvedova_v_graham_convex_hull/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#680 Титов Семён. Задача 1. Вариант 24. Технология MPI + STL. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/all/titov_s_ImageFilter_HorizGaussian3x3/func_tests/func_all.cpp
  tasks/all/titov_s_ImageFilter_HorizGaussian3x3/include/ops_all.hpp
  tasks/all/titov_s_ImageFilter_HorizGaussian3x3/perf_tests/perf_all.cpp
  tasks/all/titov_s_ImageFilter_HorizGaussian3x3/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#681 Лаврентьев Алексей. Задача 5. Вариант 5. Технология MPI + STL. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – столбцовый (CCS)
  tasks/all/lavrentiev_A_CCS/func_tests/main.cpp
  tasks/all/lavrentiev_A_CCS/include/ops_stl.hpp
  tasks/all/lavrentiev_A_CCS/perf_tests/main.cpp
  tasks/all/lavrentiev_A_CCS/src/ops_stl.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#685 Плеханов Даниил. Задача 1. Вариант 21. Технология MPI + OMP. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры).
  tasks/all/plekhanov_d_dijkstra/func_tests/main.cpp
  tasks/all/plekhanov_d_dijkstra/include/ops_all.hpp
  tasks/all/plekhanov_d_dijkstra/perf_tests/main.cpp
  tasks/all/plekhanov_d_dijkstra/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#688 Комшина Дарья. Задача 5. Технология MPI+OMP. Вариант 25. Линейная фильтрация изображений (вертикальное разбиение). Ядро Гаусса 3x3.
  tasks/all/komshina_d_image_filtering_vertical_gaussian/func_tests/func_all.cpp
  tasks/all/komshina_d_image_filtering_vertical_gaussian/include/ops_all.hpp
  tasks/all/komshina_d_image_filtering_vertical_gaussian/perf_tests/perf_all.cpp
  tasks/all/komshina_d_image_filtering_vertical_gaussian/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#692 Смирнов Илья. Вариант 17. Технология MPI+STL. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/all/smirnov_i_radix_sort_simple_merge/func_tests/main.cpp
  tasks/all/smirnov_i_radix_sort_simple_merge/include/ops_all.hpp
  tasks/all/smirnov_i_radix_sort_simple_merge/perf_tests/main.cpp
  tasks/all/smirnov_i_radix_sort_simple_merge/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#700 Соловьев Данила. Задача 1. Вариант 15. Технология MPI+STL. Сортировка Шелла с простым слиянием.
  tasks/all/solovyev_d_shell_sort_simple/func_tests/func_all.cpp
  tasks/all/solovyev_d_shell_sort_simple/include/ops_all.hpp
  tasks/all/solovyev_d_shell_sort_simple/perf_tests/perf_all.cpp
  tasks/all/solovyev_d_shell_sort_simple/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#362 Бессонов Егор. Вариант 19. Технология OMP. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/omp/bessonov_e_radix_sort_simple_merging/func_tests/main.cpp
  tasks/omp/bessonov_e_radix_sort_simple_merging/include/ops_omp.hpp
  tasks/omp/bessonov_e_radix_sort_simple_merging/perf_tests/main.cpp
  tasks/omp/bessonov_e_radix_sort_simple_merging/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#545 Пикарычев Илья. Вариант 13. Технология OMP. Сортировка Хоара с простым слиянием.
  tasks/omp/pikarychev_i_hoare_sort_simple_merge/func_tests/main.cpp
  tasks/omp/pikarychev_i_hoare_sort_simple_merge/include/ops_omp.hpp
  tasks/omp/pikarychev_i_hoare_sort_simple_merge/perf_tests/main.cpp
  tasks/omp/pikarychev_i_hoare_sort_simple_merge/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#403 Пикарычев Илья. Вариант 13. Технология SEQ. Сортировка Хоара с простым слиянием.
  tasks/seq/pikarychev_i_hoare_sort_simple_merge/func_tests/main.cpp
  tasks/seq/pikarychev_i_hoare_sort_simple_merge/include/ops_seq.hpp
  tasks/seq/pikarychev_i_hoare_sort_simple_merge/perf_tests/main.cpp
  tasks/seq/pikarychev_i_hoare_sort_simple_merge/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#405 (Fix) Шляков Максим. Вариант 15. Технология OMP. Сортировка Шелла с простым слиянием.
  tasks/omp/shlyakov_m_shell_sort/func_tests/main.cpp
  tasks/omp/shlyakov_m_shell_sort/include/ops_omp.hpp
  tasks/omp/shlyakov_m_shell_sort/perf_tests/main.cpp
  tasks/omp/shlyakov_m_shell_sort/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#704 Мухина Маргарита. Вариант 21. Технология MPI+TBB. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры)
  tasks/all/muhina_m_dijkstra/func_tests/main.cpp
  tasks/all/muhina_m_dijkstra/include/ops_all.hpp
  tasks/all/muhina_m_dijkstra/perf_tests/main.cpp
  tasks/all/muhina_m_dijkstra/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#705 Коротин Егор. Задача 1. Вариант 4. Технология MPI+STL. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – строковый (CRS).
  tasks/all/korotin_e_crs_multiplication/func_tests/main.cpp
  tasks/all/korotin_e_crs_multiplication/include/ops_all.hpp
  tasks/all/korotin_e_crs_multiplication/perf_tests/main.cpp
  tasks/all/korotin_e_crs_multiplication/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#709 Тюрин Михаил. Технология MPI+STL. 6 вариант. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – строковый (CRS).
  tasks/all/tyurin_m_matmul_crs_complex/func_tests/main.cpp
  tasks/all/tyurin_m_matmul_crs_complex/include/ops_all.hpp
  tasks/all/tyurin_m_matmul_crs_complex/perf_tests/main.cpp
  tasks/all/tyurin_m_matmul_crs_complex/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#726 Наседкин Егор. Задача 1. Вариант 3. Технология MPI+STL. Умножение плотных матриц. Элементы типа double. Алгоритм Штрассена.
  tasks/all/nasedkin_e_strassen_algorithm/func_tests/main.cpp
  tasks/all/nasedkin_e_strassen_algorithm/include/ops_all.hpp
  tasks/all/nasedkin_e_strassen_algorithm/perf_tests/main.cpp
  tasks/all/nasedkin_e_strassen_algorithm/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#802 fix: Крылов Михаил. Вариант 12. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/all/krylov_m_monte_carlo/func_tests/main.cpp
  tasks/all/krylov_m_monte_carlo/include/mci_all.hpp
  tasks/all/krylov_m_monte_carlo/include/mci_common.hpp
  tasks/all/krylov_m_monte_carlo/include/mci_seq.hpp
  tasks/all/krylov_m_monte_carlo/perf_tests/main.cpp
  tasks/all/krylov_m_monte_carlo/src/mci_all.cpp
  tasks/all/krylov_m_monte_carlo/src/mci_common.cpp
  tasks/all/krylov_m_monte_carlo/src/mci_seq.cpp
Labels: task:all, approved - Arseniy, wait ci

#801 [FIX] Шляков Максим. Вариант 15. Технология STL. Сортировка Шелла с простым слиянием.
  tasks/stl/shlyakov_m_shell_sort/perf_tests/main.cpp
Labels: task:stl, approved - Arseniy, wait ci

#805 FIX(OMP and TBB reverts): Васильев Сергей. Задача 1. Вариант 11. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона)
  tasks/omp/vasilev_s_simpson_multidim/func_tests/main.cpp
  tasks/omp/vasilev_s_simpson_multidim/include/ops_omp.hpp
  tasks/omp/vasilev_s_simpson_multidim/perf_tests/main.cpp
  tasks/omp/vasilev_s_simpson_multidim/src/ops_omp.cpp
  tasks/tbb/vasilev_s_simpson_multidim/func_tests/main.cpp
  tasks/tbb/vasilev_s_simpson_multidim/include/ops_tbb.hpp
  tasks/tbb/vasilev_s_simpson_multidim/perf_tests/main.cpp
  tasks/tbb/vasilev_s_simpson_multidim/src/ops_tbb.cpp
Labels: task:omp, task:tbb, approved - Arseniy, wait ci

#622 Головкин Максим. Задача 3. Вариант 30.Технология STL. Повышение контраста растяжки гистограммы.
  tasks/stl/golovkin_contrast_stretching/func_tests/main.cpp
  tasks/stl/golovkin_contrast_stretching/include/ops_stl.hpp
  tasks/stl/golovkin_contrast_stretching/perf_tests/main.cpp
  tasks/stl/golovkin_contrast_stretching/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#745 Одинцов Михаил. Задача 1. Вариант 1. Технология STL+MPI. Умножение плотных матриц,типа double,блочная схема, алгоритм Кэннона
  tasks/all/odintsov_m_multmatrix_cannon/func_tests/func_all.cpp
  tasks/all/odintsov_m_multmatrix_cannon/include/ops_all.hpp
  tasks/all/odintsov_m_multmatrix_cannon/perf_tests/main.cpp
  tasks/all/odintsov_m_multmatrix_cannon/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#747 Вавилов Виталий. Задача 1. Вариант 1. Технология ALL. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Кэннона.
  tasks/all/vavilov_v_cannon/func_tests/main.cpp
  tasks/all/vavilov_v_cannon/include/ops_all.hpp
  tasks/all/vavilov_v_cannon/perf_tests/main.cpp
  tasks/all/vavilov_v_cannon/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#749 Зайцев Артем. Задача 1. Вариант 29. Технология MPI+TBB. Маркировка компонент на бинарном изображении
  tasks/all/zaitsev_a_bw_labeling/data/help.jpg
  tasks/all/zaitsev_a_bw_labeling/data/kittens.jpg
  tasks/all/zaitsev_a_bw_labeling/data/rombs.jpg
  tasks/all/zaitsev_a_bw_labeling/data/silly.jpg
  tasks/all/zaitsev_a_bw_labeling/data/trig.jpg
  tasks/all/zaitsev_a_bw_labeling/func_tests/main.cpp
  tasks/all/zaitsev_a_bw_labeling/include/disjoint_set.hpp
  tasks/all/zaitsev_a_bw_labeling/include/ops_mpi.hpp
  tasks/all/zaitsev_a_bw_labeling/perf_tests/main.cpp
  tasks/all/zaitsev_a_bw_labeling/src/ops_mpi.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#751 Ермолаев Владислав. Задача 1. Вариант 22. Технология MPI+OMP. Построение выпуклой оболочки – проход Грэхема.
  tasks/all/ermolaev_v_graham_scan/func_tests/main.cpp
  tasks/all/ermolaev_v_graham_scan/include/ops_all.hpp
  tasks/all/ermolaev_v_graham_scan/perf_tests/main.cpp
  tasks/all/ermolaev_v_graham_scan/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#754 Малышев Антон. Задача 1. Вариант 28. Технология OMP+MPI. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/all/malyshev_a_increase_contrast_by_histogram/data/input.jpg
  tasks/all/malyshev_a_increase_contrast_by_histogram/data/reference.jpg
  tasks/all/malyshev_a_increase_contrast_by_histogram/func_tests/main.cpp
  tasks/all/malyshev_a_increase_contrast_by_histogram/include/ops_all.hpp
  tasks/all/malyshev_a_increase_contrast_by_histogram/perf_tests/main.cpp
  tasks/all/malyshev_a_increase_contrast_by_histogram/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#756 Бессонов Егор. Вариант 19. Технология MPI+STL. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/all/bessonov_e_radix_sort_simple_merging/func_tests/main.cpp
  tasks/all/bessonov_e_radix_sort_simple_merging/include/ops_all.hpp
  tasks/all/bessonov_e_radix_sort_simple_merging/perf_tests/main.cpp
  tasks/all/bessonov_e_radix_sort_simple_merging/src/ops_all.cpp
Labels: task:all, approved - Arseniy

#757 Борисов Сергей. Задача 1. Вариант 3. Технология MPI+STL. Умножение плотных матриц. Элементы типа double. Алгоритм Штрассена.
  tasks/all/borisov_s_strassen/func_tests/main.cpp
  tasks/all/borisov_s_strassen/include/ops_all.hpp
  tasks/all/borisov_s_strassen/perf_tests/main.cpp
  tasks/all/borisov_s_strassen/src/ops_all.cpp
Labels: task:all, approved - Arseniy

#763 Шульпин Илья. Вариант 23. Технология MPI + STL. Построение выпуклой оболочки – проход Джарвиса.
  tasks/all/shulpin_i_jarvis_passage/func_tests/main.cpp
  tasks/all/shulpin_i_jarvis_passage/include/ops_all.hpp
  tasks/all/shulpin_i_jarvis_passage/include/test_modules.hpp
  tasks/all/shulpin_i_jarvis_passage/perf_tests/main.cpp
  tasks/all/shulpin_i_jarvis_passage/src/ops_all.cpp
  tasks/all/shulpin_i_jarvis_passage/src/test_modules.cpp
Labels: task:all, approved - Arseniy

#765 Хасаньянов Кирилл. Задача 1. Вариант 10. Технология MPI + OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/all/khasanyanov_k_trapezoid_method/func_tests/main.cpp
  tasks/all/khasanyanov_k_trapezoid_method/include/integrate_mpi.hpp
  tasks/all/khasanyanov_k_trapezoid_method/perf_tests/main.cpp
  tasks/all/khasanyanov_k_trapezoid_method/src/integrate_mpi.cpp
Labels: task:all, approved - Arseniy

#789 Шарамыгина Ирина. Вариант 12. Технология MPI+OMP. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/all/sharamygina_i_multi_dim_monte_carlo/func_tests/func_tests.cpp
  tasks/all/sharamygina_i_multi_dim_monte_carlo/include/ops_all.h
  tasks/all/sharamygina_i_multi_dim_monte_carlo/perf_tests/perf_tests.cpp
  tasks/all/sharamygina_i_multi_dim_monte_carlo/src/ops_all.cpp
Labels: task:all, approved - Arseniy
