Repository learning-process/ppc-2025-threads, pull requests merged in 2025-06, with the labels that each got.

#883 Громов Алексей. Вариант 2. Технология MPI + TBB. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/all/gromov_a_fox_algorithm/func_tests/main.cpp
  tasks/all/gromov_a_fox_algorithm/include/ops_all.hpp
  tasks/all/gromov_a_fox_algorithm/perf_tests/main.cpp
  tasks/all/gromov_a_fox_algorithm/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander, wait ci

#933 [FIX] Золотарева Арина. Вариант 8. Технология OMP. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/all/zolotareva_a_SLE_gradient_method/perf_tests/main.cpp
  tasks/omp/zolotareva_a_SLE_gradient_method/func_tests/main.cpp
  tasks/omp/zolotareva_a_SLE_gradient_method/include/ops_seq.hpp
  tasks/omp/zolotareva_a_SLE_gradient_method/perf_tests/main.cpp
  tasks/omp/zolotareva_a_SLE_gradient_method/src/ops_seq.cpp
  tasks/seq/zolotareva_a_SLE_gradient_method/perf_tests/main.cpp
  tasks/stl/zolotareva_a_SLE_gradient_method/perf_tests/main.cpp
  tasks/tbb/zolotareva_a_SLE_gradient_method/perf_tests/main.cpp
Labels: task:seq, task:all, task:omp, task:tbb, task:stl, approved - Arseniy, wait ci

#938 FIX RENAME Шуравина Оксана. Вариант 13. Технология OMP. Сортировка Хоара с простым слиянием.
  tasks/omp/shuravina_o_hoare_simple_merger/func_tests/main.cpp
  tasks/omp/shuravina_o_hoare_simple_merger/include/ops_omp.hpp
  tasks/omp/shuravina_o_hoare_simple_merger/perf_tests/main.cpp
  tasks/omp/shuravina_o_hoare_simple_merger/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, wait ci

#894 [IMPROVEMENT] Созонов Илья. Вариант 26. Технология MPI+OMP. Линейная фильтрация изображений (блочное разбиение). Ядро Гаусса 3x3.
  tasks/all/sozonov_i_image_filtering_block_partitioning/func_tests/func_all.cpp
  tasks/all/sozonov_i_image_filtering_block_partitioning/perf_tests/perf_all.cpp
  tasks/all/sozonov_i_image_filtering_block_partitioning/src/ops_all.cpp
Labels: task:all, approved - Arseniy

#563 Федоров Матвей. Вариант 16. Технология MPI + OMP. Сортировка Шелла с четно-нечетным слиянием Бэтчера
  tasks/all/fyodorov_m_shell_sort_with_even_odd_batcher_merge/func_tests/main.cpp
  tasks/all/fyodorov_m_shell_sort_with_even_odd_batcher_merge/include/ops_mpi.hpp
  tasks/all/fyodorov_m_shell_sort_with_even_odd_batcher_merge/perf_tests/main.cpp
  tasks/all/fyodorov_m_shell_sort_with_even_odd_batcher_merge/src/ops_mpi.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#928 [Fix]Алпутов Иван. Задача 1. Вариант 22. Технология OMP. Построение выпуклой оболочки – проход Грэхема.
  tasks/omp/alputov_i_graham_scan/func_tests/main.cpp
  tasks/omp/alputov_i_graham_scan/include/ops_omp.hpp
  tasks/omp/alputov_i_graham_scan/perf_tests/main.cpp
  tasks/omp/alputov_i_graham_scan/src/ops_omp.cpp
Labels: task:omp, approved - Alexander

#936 FIX RENAME Шуравина Оксана. Вариант 13. Технология TBB. Сортировка Хоара с простым слиянием.
  tasks/tbb/shuravina_o_hoare_simple_merger/func_tests/main.cpp
  tasks/tbb/shuravina_o_hoare_simple_merger/include/ops_tbb.hpp
  tasks/tbb/shuravina_o_hoare_simple_merger/perf_tests/main.cpp
  tasks/tbb/shuravina_o_hoare_simple_merger/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, wait ci

#530 Леонтьев Никита. Задача 1. Вариант 2. Технология STL. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/stl/leontev_n_fox/func_tests/main.cpp
  tasks/stl/leontev_n_fox/include/ops_stl.hpp
  tasks/stl/leontev_n_fox/perf_tests/main.cpp
  tasks/stl/leontev_n_fox/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#943 [Fix] Плеханов Даниил. Задача 1. Вариант 21. Технология OMP. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры).
  tasks/omp/plekhanov_d_dijkstra/func_tests/main.cpp
  tasks/omp/plekhanov_d_dijkstra/include/ops_omp.hpp
  tasks/omp/plekhanov_d_dijkstra/perf_tests/main.cpp
  tasks/omp/plekhanov_d_dijkstra/src/ops_omp.cpp
Labels: task:omp

#891 Наумов Богдан. Задача 4. Вариант 29. Технология STL. Маркировка компонент на бинарном изображении (черные области соответствуют объектам, белые – фону).
  tasks/stl/naumov_b_marc_on_bin_image/func_tests/main.cpp
  tasks/stl/naumov_b_marc_on_bin_image/include/ops_stl.hpp
  tasks/stl/naumov_b_marc_on_bin_image/perf_tests/main.cpp
  tasks/stl/naumov_b_marc_on_bin_image/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#374 Фомин Владимир. Вариант 8. Технология SEQ. Решение систем линейных уравнений методом сопряженных градиентов
  tasks/seq/fomin_v_conjugate_gradient/func_tests/main.cpp
  tasks/seq/fomin_v_conjugate_gradient/include/ops_seq.hpp
  tasks/seq/fomin_v_conjugate_gradient/perf_tests/main.cpp
  tasks/seq/fomin_v_conjugate_gradient/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#940 [FIX] Морозов Егор. Вариант 26. Линейная фильтрация изображений (блочное разбиение). Ядро Гаусса 3x3.
  tasks/all/morozov_e_lineare_image_filtering_block_gaussian/func_tests/func_all.cpp
  tasks/all/morozov_e_lineare_image_filtering_block_gaussian/include/ops_all.hpp
  tasks/all/morozov_e_lineare_image_filtering_block_gaussian/perf_tests/perf_all.cpp
  tasks/all/morozov_e_lineare_image_filtering_block_gaussian/src/ops_all.cpp
Labels: task:all, approved - Alexander, wait ci

#920 Соловьев Алексей. Задача 1. Вариант 7. Технология MPI+STL. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – столбцовый (CCS)
  tasks/all/solovev_a_ccs_mmult_sparse/func_tests/main.cpp
  tasks/all/solovev_a_ccs_mmult_sparse/include/ccs_mmult_sparse.hpp
  tasks/all/solovev_a_ccs_mmult_sparse/perf_tests/main.cpp
  tasks/all/solovev_a_ccs_mmult_sparse/src/ccs_mmult_sparse.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#929 Малышев Владимир. STL. Вариант 19. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием
  tasks/stl/malyshev_v_radix_sort/func_tests/main.cpp
  tasks/stl/malyshev_v_radix_sort/include/ops_stl.hpp
  tasks/stl/malyshev_v_radix_sort/perf_tests/main.cpp
  tasks/stl/malyshev_v_radix_sort/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#955 [FIX] Зиновьев Александр. Вариант 30. Технология MPI+STL. Построение выпуклой оболочки для компонент бинарного изображения.
  tasks/all/zinoviev_a_convex_hull_components/func_tests/func_all.cpp
  tasks/all/zinoviev_a_convex_hull_components/include/ops_all.hpp
  tasks/all/zinoviev_a_convex_hull_components/perf_tests/perf_all.cpp
  tasks/all/zinoviev_a_convex_hull_components/src/ops_all.cpp
Labels: task:all, approved - Arseniy, wait ci

#942 FIX RENAME Шуравина Оксана. Вариант 13. Технология MPI+OMP Сортировка Хоара с простым слиянием.
  tasks/all/shuravina_o_hoare_simple_merger/func_tests/func_all.cpp
  tasks/all/shuravina_o_hoare_simple_merger/include/ops_all.hpp
  tasks/all/shuravina_o_hoare_simple_merger/perf_tests/perf_all.cpp
  tasks/all/shuravina_o_hoare_simple_merger/src/ops_all.cpp
Labels: task:all, approved - Alexander

#957 [FIX PERF TESTS] Ковалев Константин. Вариант 18. Технология SEQ. Поразрядная сортировка для целых чисел с четно-нечетным слиянием Бэтчера.
  tasks/all/kovalev_k_radix_sort_batcher_merge/perf_tests/main_perf.cpp
  tasks/omp/kovalev_k_radix_sort_batcher_merge/perf_tests/main_perf.cpp
  tasks/seq/kovalev_k_radix_sort_batcher_merge/perf_tests/main_perf.cpp
  tasks/stl/kovalev_k_radix_sort_batcher_merge/perf_tests/main_perf.cpp
  tasks/tbb/kovalev_k_radix_sort_batcher_merge/perf_tests/main_perf.cpp
Labels: task:seq, task:all, task:omp, task:tbb, task:stl, approved - Alexander

#876 Фомин Владимир. Вариант 8. Технология STL. Решение систем линейных уравнений методом сопряженных градиентов
  tasks/stl/fomin_v_conjugate_gradient/func_tests/main.cpp
  tasks/stl/fomin_v_conjugate_gradient/include/ops_stl.hpp
  tasks/stl/fomin_v_conjugate_gradient/perf_tests/main.cpp
  tasks/stl/fomin_v_conjugate_gradient/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#893 Фомин Владимир. Вариант 8. Технология MPI+TBB. Решение систем линейных уравнений методом сопряженных градиентов
  tasks/all/fomin_v_conjugate_gradient/func_tests/main.cpp
  tasks/all/fomin_v_conjugate_gradient/include/ops_all.hpp
  tasks/all/fomin_v_conjugate_gradient/perf_tests/main.cpp
  tasks/all/fomin_v_conjugate_gradient/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#854 Дерябин Максим. Вариант 13. Технология MPI + TBB. Сортировка Хоара с простым слиянием.
  tasks/all/deryabin_m_hoare_sort_simple_merge/func_tests/main.cpp
  tasks/all/deryabin_m_hoare_sort_simple_merge/include/ops_all.hpp
  tasks/all/deryabin_m_hoare_sort_simple_merge/perf_tests/main.cpp
  tasks/all/deryabin_m_hoare_sort_simple_merge/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#865 Бурыкин Михаил. Вариант 17. Технология OMP + MPI. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/all/burykin_m_radix/func_tests/main.cpp
  tasks/all/burykin_m_radix/include/ops_all.hpp
  tasks/all/burykin_m_radix/perf_tests/main.cpp
  tasks/all/burykin_m_radix/src/ops_all.cpp
Labels: task:all, approved - Arseniy, approved - Alexander, wait ci

#964 [FIX] Ворошилов Виталий. Вариант 30. Построение выпуклой оболочки для компонент бинарного изображения.
  tasks/all/voroshilov_v_convex_hull_components/include/chc_all.hpp
  tasks/all/voroshilov_v_convex_hull_components/src/chc.cpp
  tasks/all/voroshilov_v_convex_hull_components/src/chc_all.cpp
  tasks/omp/voroshilov_v_convex_hull_components/include/chc.hpp
  tasks/omp/voroshilov_v_convex_hull_components/include/chc_omp.hpp
  tasks/omp/voroshilov_v_convex_hull_components/src/chc.cpp
  tasks/omp/voroshilov_v_convex_hull_components/src/chc_omp.cpp
  tasks/seq/voroshilov_v_convex_hull_components/data/0_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/1_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/2_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/3_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/4_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/7_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/include/chc.hpp
  tasks/seq/voroshilov_v_convex_hull_components/include/chc_seq.hpp
  tasks/seq/voroshilov_v_convex_hull_components/src/chc.cpp
  tasks/seq/voroshilov_v_convex_hull_components/src/chc_seq.cpp
  tasks/stl/voroshilov_v_convex_hull_components/include/chc.hpp
  tasks/stl/voroshilov_v_convex_hull_components/include/chc_stl.hpp
  tasks/stl/voroshilov_v_convex_hull_components/src/chc.cpp
  tasks/stl/voroshilov_v_convex_hull_components/src/chc_stl.cpp
  tasks/tbb/voroshilov_v_convex_hull_components/include/chc.hpp
  tasks/tbb/voroshilov_v_convex_hull_components/include/chc_tbb.hpp
  tasks/tbb/voroshilov_v_convex_hull_components/src/chc.cpp
  tasks/tbb/voroshilov_v_convex_hull_components/src/chc_tbb.cpp
Labels: task:seq, task:all, task:omp, task:tbb, task:stl, approved - Arseniy, wait ci

#967 [FIX PERFOMANCE]Фролова Елизавета. Вариант 27. Технология OMP. Выделение ребер на изображении с использованием оператора Собеля.
  tasks/omp/frolova_e_Sobel_filter/include/ops_omp.hpp
  tasks/omp/frolova_e_Sobel_filter/src/ops_omp.cpp
  tasks/tbb/frolova_e_Sobel_filter/include/ops_tbb.hpp
  tasks/tbb/frolova_e_Sobel_filter/src/ops_tbb.cpp
Labels: task:omp, task:tbb, approved - Alexander

#962 [FIX PERFOMANCE] Морозов Егор. Вариант 26. Линейная фильтрация изображений (блочное разбиение). Ядро Гаусса 3x3.
  tasks/all/morozov_e_lineare_image_filtering_block_gaussian/perf_tests/perf_all.cpp
  tasks/all/morozov_e_lineare_image_filtering_block_gaussian/src/ops_all.cpp
  tasks/stl/morozov_e_lineare_image_filtering_block_gaussian/src/ops_stl.cpp
Labels: task:all, task:stl, approved - Alexander, wait ci

#971 Disable plekhanov_d_dijkstra_all
  tasks/all/plekhanov_d_dijkstra_disabled/func_tests/main.cpp
  tasks/all/plekhanov_d_dijkstra_disabled/include/ops_all.hpp
  tasks/all/plekhanov_d_dijkstra_disabled/perf_tests/main.cpp
  tasks/all/plekhanov_d_dijkstra_disabled/src/ops_all.cpp
Labels: task:all

#969 [FIX] Зайцев Артем. Задача 1. Вариант 29. Технология TBB. Маркировка компонент на бинарном изображении
  tasks/tbb/zaitsev_a_bw_labeling/data/help.jpg
  tasks/tbb/zaitsev_a_bw_labeling/data/kittens.jpg
  tasks/tbb/zaitsev_a_bw_labeling/data/rombs.jpg
  tasks/tbb/zaitsev_a_bw_labeling/data/silly.jpg
  tasks/tbb/zaitsev_a_bw_labeling/data/trig.jpg
  tasks/tbb/zaitsev_a_bw_labeling/func_tests/main.cpp
  tasks/tbb/zaitsev_a_bw_labeling/include/disjoint_set.hpp
  tasks/tbb/zaitsev_a_bw_labeling/include/ops_tbb.hpp
  tasks/tbb/zaitsev_a_bw_labeling/perf_tests/main.cpp
  tasks/tbb/zaitsev_a_bw_labeling/src/ops_tbb.cpp
Labels: task:tbb

#968 [PERF FIX] Бурыкин Михаил. Вариант 17. Технология OMP + MPI, OMP, TBB. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/all/burykin_m_radix/include/ops_all.hpp
  tasks/all/burykin_m_radix/src/ops_all.cpp
  tasks/omp/burykin_m_radix/src/ops_omp.cpp
  tasks/tbb/burykin_m_radix/src/ops_tbb.cpp
Labels: task:all, task:omp, task:tbb, approved - Arseniy

#784 [FIX]Дерябин Максим. Вариант 13. Технология STL. Сортировка Хоара с простым слиянием.
  tasks/stl/deryabin_m_hoare_sort_simple_merge/func_tests/main.cpp
  tasks/stl/deryabin_m_hoare_sort_simple_merge/include/ops_stl.hpp
  tasks/stl/deryabin_m_hoare_sort_simple_merge/perf_tests/main.cpp
  tasks/stl/deryabin_m_hoare_sort_simple_merge/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy

#973 FixDisable. Межуев Максим. Задача 17 Технология STL. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/stl/mezhuev_m_bitwise_integer_sort_with_simple_merge/func_tests/main.cpp
  tasks/stl/mezhuev_m_bitwise_integer_sort_with_simple_merge/include/ops_stl.hpp
  tasks/stl/mezhuev_m_bitwise_integer_sort_with_simple_merge/perf_tests/main.cpp
  tasks/stl/mezhuev_m_bitwise_integer_sort_with_simple_merge/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy

#974 [FIX] Ворошилов Виталий. Вариант 30. Построение выпуклой оболочки для компонент бинарного изображения.
  tasks/all/voroshilov_v_convex_hull_components/include/chc.hpp
  tasks/all/voroshilov_v_convex_hull_components/perf_tests/main.cpp
  tasks/all/voroshilov_v_convex_hull_components/src/chc.cpp
  tasks/all/voroshilov_v_convex_hull_components/src/chc_all.cpp
  tasks/omp/voroshilov_v_convex_hull_components/include/chc.hpp
  tasks/omp/voroshilov_v_convex_hull_components/perf_tests/main.cpp
  tasks/omp/voroshilov_v_convex_hull_components/src/chc.cpp
  tasks/seq/voroshilov_v_convex_hull_components/include/chc.hpp
  tasks/seq/voroshilov_v_convex_hull_components/perf_tests/main.cpp
  tasks/seq/voroshilov_v_convex_hull_components/src/chc.cpp
  tasks/stl/voroshilov_v_convex_hull_components/include/chc.hpp
  tasks/stl/voroshilov_v_convex_hull_components/perf_tests/main.cpp
  tasks/stl/voroshilov_v_convex_hull_components/src/chc.cpp
  tasks/tbb/voroshilov_v_convex_hull_components/include/chc.hpp
  tasks/tbb/voroshilov_v_convex_hull_components/perf_tests/main.cpp
  tasks/tbb/voroshilov_v_convex_hull_components/src/chc.cpp
Labels: task:seq, task:all, task:omp, task:tbb, task:stl, approved - Arseniy

#739 Калинин Дмитрий. Задача 1. Вариант 23. Технология OMP Построение выпуклой оболочки – проход Джарвиса.
  tasks/omp/kalinin_d_jarvis_convex_hull/func_tests/main.cpp
  tasks/omp/kalinin_d_jarvis_convex_hull/include/ops_omp.hpp
  tasks/omp/kalinin_d_jarvis_convex_hull/perf_tests/main.cpp
  tasks/omp/kalinin_d_jarvis_convex_hull/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander
