Repository learning-process/ppc-2025-threads, pull requests merged in 2025-04, with the labels that each got.

#268 [FIX] Шурыгин Сергей. Задача 1. Вариант 9. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/seq/shurigin_s_integrals_square/perf_tests/main.cpp
Labels: task:seq

#311 FIX. Коротин Егор. Задача 1. Вариант 4. Технология SEQ. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – строковый (CRS).
  tasks/seq/korotin_e_crs_multiplication/func_tests/main.cpp
  tasks/seq/korotin_e_crs_multiplication/include/ops_seq.hpp
  tasks/seq/korotin_e_crs_multiplication/perf_tests/main.cpp
  tasks/seq/korotin_e_crs_multiplication/src/ops_seq.cpp
Labels: task:seq

#186 Ермолаев Владислав. Задача 1. Вариант 22. Технология OMP. Построение выпуклой оболочки – проход Грэхема.
  tasks/omp/ermolaev_v_graham_scan/func_tests/main.cpp
  tasks/omp/ermolaev_v_graham_scan/include/ops_omp.hpp
  tasks/omp/ermolaev_v_graham_scan/perf_tests/main.cpp
  tasks/omp/ermolaev_v_graham_scan/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#160 Межуев Максим Вариант 17. Технология SEQ. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/seq/mezhuev_m_bitwise_integer_sort_with_simple_merge_seq/func_tests/main.cpp
  tasks/seq/mezhuev_m_bitwise_integer_sort_with_simple_merge_seq/include/ops_seq.hpp
  tasks/seq/mezhuev_m_bitwise_integer_sort_with_simple_merge_seq/perf_tests/main.cpp
  tasks/seq/mezhuev_m_bitwise_integer_sort_with_simple_merge_seq/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#129 Филатьева Елизавета. Вариант 11. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/omp/filateva_e_simpson/func_tests/main.cpp
  tasks/omp/filateva_e_simpson/include/ops_omp.hpp
  tasks/omp/filateva_e_simpson/perf_tests/main.cpp
  tasks/omp/filateva_e_simpson/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#130 Гусев Никита. Вариант 17. Технология OMP. Поразрядная сортировка для целых чисел с простым слиянием
  tasks/omp/gusev_n_sorting_int_simple_merging/func_tests/main.cpp
  tasks/omp/gusev_n_sorting_int_simple_merging/include/ops_omp.hpp
  tasks/omp/gusev_n_sorting_int_simple_merging/perf_tests/main.cpp
  tasks/omp/gusev_n_sorting_int_simple_merging/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#147 Калякина Анастасия. Задача 1. Вариант 15. Технология OMP. Сортировка Шелла с простым слиянием.
  tasks/omp/kalyakina_a_Shell_with_simple_merge/func_tests/main.cpp
  tasks/omp/kalyakina_a_Shell_with_simple_merge/include/ops_omp.hpp
  tasks/omp/kalyakina_a_Shell_with_simple_merge/perf_tests/main.cpp
  tasks/omp/kalyakina_a_Shell_with_simple_merge/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#148 Сарафанов Максим. Вариант 1. Технология OMP. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Кэннона
  tasks/omp/sarafanov_m_CanonMatMul_omp/func_tests/main.cpp
  tasks/omp/sarafanov_m_CanonMatMul_omp/include/CanonMatrix.hpp
  tasks/omp/sarafanov_m_CanonMatMul_omp/include/ops_omp.hpp
  tasks/omp/sarafanov_m_CanonMatMul_omp/perf_tests/main.cpp
  tasks/omp/sarafanov_m_CanonMatMul_omp/src/CanonMatrix.cpp
  tasks/omp/sarafanov_m_CanonMatMul_omp/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#154 Константинов Илья. Вариант 20. Технология OMP. Поразрядная сортировка для вещественных чисел (тип double) с четно-нечетным слиянием Бэтчера.
  tasks/omp/Konstantinov_I_Sort_Batcher/func_tests/main.cpp
  tasks/omp/Konstantinov_I_Sort_Batcher/include/ops_omp.hpp
  tasks/omp/Konstantinov_I_Sort_Batcher/perf_tests/main.cpp
  tasks/omp/Konstantinov_I_Sort_Batcher/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#194 Кондратьев Ярослав. Задача 1. Вариант 7. Технология OMP. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – столбцовый (CCS).
  tasks/omp/kondratev_ya_ccs_complex_multiplication/func_tests/main.cpp
  tasks/omp/kondratev_ya_ccs_complex_multiplication/include/ops_omp.hpp
  tasks/omp/kondratev_ya_ccs_complex_multiplication/perf_tests/main.cpp
  tasks/omp/kondratev_ya_ccs_complex_multiplication/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#282 [FIX] Коровин Никита. Вариант 14. Технология OMP. Сортировка Хоара с четно-нечетным слиянием Бэтчера.
  tasks/omp/korovin_n_qsort_batcher/func_tests/main.cpp
  tasks/omp/korovin_n_qsort_batcher/include/ops_omp.hpp
  tasks/omp/korovin_n_qsort_batcher/perf_tests/main.cpp
  tasks/omp/korovin_n_qsort_batcher/src/ops_omp.cpp
Labels: task:omp

#355 Disable kholin_k_multidimensional_integrals_rectangle
  tasks/omp/kholin_k_multidimensional_integrals_rectangle_disabled/func_tests/main.cpp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle_disabled/include/ops_omp.hpp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle_disabled/perf_tests/main.cpp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle_disabled/src/ops_omp.cpp
Labels: task:omp

#206 Фролова Елизавета. Вариант 27. Технология OMP. Выделение ребер на изображении с использованием оператора Собеля.
  tasks/omp/frolova_e_Sobel_filter/func_tests/main.cpp
  tasks/omp/frolova_e_Sobel_filter/include/ops_omp.hpp
  tasks/omp/frolova_e_Sobel_filter/perf_tests/main.cpp
  tasks/omp/frolova_e_Sobel_filter/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#92 Шурыгин Сергей. Задача 2. Вариант 9. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/omp/shurigin_s_integrals_square_OMP/func_tests/main.cpp
  tasks/omp/shurigin_s_integrals_square_OMP/include/ops_omp.hpp
  tasks/omp/shurigin_s_integrals_square_OMP/perf_tests/main.cpp
  tasks/omp/shurigin_s_integrals_square_OMP/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#166 Одинцов Михаил. Задача 1. Вариант 1. Технология OMP. Умножение плотных матриц,типа double,блочная схема, алгоритм Кэннона
  tasks/omp/odintsov_m_multmatrix_cannon/func_tests/main.cpp
  tasks/omp/odintsov_m_multmatrix_cannon/include/ops_omp.hpp
  tasks/omp/odintsov_m_multmatrix_cannon/perf_tests/main.cpp
  tasks/omp/odintsov_m_multmatrix_cannon/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#191 Малышев Антон. Задача 1. Вариант 28. Технология OMP. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/omp/malyshev_a_increase_contrast_by_histogram/data/input.jpg
  tasks/omp/malyshev_a_increase_contrast_by_histogram/data/reference.jpg
  tasks/omp/malyshev_a_increase_contrast_by_histogram/func_tests/main.cpp
  tasks/omp/malyshev_a_increase_contrast_by_histogram/include/ops_omp.hpp
  tasks/omp/malyshev_a_increase_contrast_by_histogram/perf_tests/main.cpp
  tasks/omp/malyshev_a_increase_contrast_by_histogram/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#192 Мухина Маргарита. Вариант 21. Технология OMP. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры)
  tasks/omp/muhina_m_dijkstra/func_tests/main.cpp
  tasks/omp/muhina_m_dijkstra/include/ops_omp.hpp
  tasks/omp/muhina_m_dijkstra/perf_tests/main.cpp
  tasks/omp/muhina_m_dijkstra/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#193 Тюрин Михаил. Технология OMP. 6 вариант. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – строковый (CRS).
  tasks/omp/tyurin_m_matmul_crs_complex/func_tests/main.cpp
  tasks/omp/tyurin_m_matmul_crs_complex/include/ops_omp.hpp
  tasks/omp/tyurin_m_matmul_crs_complex/perf_tests/main.cpp
  tasks/omp/tyurin_m_matmul_crs_complex/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#209 Смирнов Илья. Вариант 17. Технология OMP. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/omp/smirnov_i_radix_sort_simple_merge/func_tests/main.cpp
  tasks/omp/smirnov_i_radix_sort_simple_merge/include/ops_omp.hpp
  tasks/omp/smirnov_i_radix_sort_simple_merge/perf_tests/main.cpp
  tasks/omp/smirnov_i_radix_sort_simple_merge/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#214 Сорокин Андрей. Задача 1. Вариант 5. Технология OMP. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – столбцовый (CCS).
  tasks/omp/sorokin_a_multiplication_sparse_matrices_double_ccs/func_tests/main.cpp
  tasks/omp/sorokin_a_multiplication_sparse_matrices_double_ccs/include/ops_omp.hpp
  tasks/omp/sorokin_a_multiplication_sparse_matrices_double_ccs/perf_tests/main.cpp
  tasks/omp/sorokin_a_multiplication_sparse_matrices_double_ccs/src/ops_omp.cpp
Labels: task:omp, approved - Alexander

#215 Гнитиенко Кирилл. Вариант 3. Технология OMP. Умножение плотных матриц. Элементы типа double. Алгоритм Штрассена.
  tasks/omp/gnitienko_k_strassen_alg_omp/func_tests/main.cpp
  tasks/omp/gnitienko_k_strassen_alg_omp/include/ops_omp.hpp
  tasks/omp/gnitienko_k_strassen_alg_omp/perf_tests/main.cpp
  tasks/omp/gnitienko_k_strassen_alg_omp/src/ops_omp.cpp
Labels: task:omp, approved - Alexander

#356 Fix perf Колоколова Дарья. Вариант 11. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/seq/kolokolova_d_integral_simpson_method_seq/perf_tests/main.cpp
Labels: task:seq

#359 FIX Владимирова Юлия. Задача 1. Вариант 12. Технология SEQ. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/seq/vladimirova_j_m_monte_karlo_seq/func_tests/main.cpp
Labels: task:seq

#353 FIX Цацын Александр. Вариант 19. Технология SEQ. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/seq/tsatsyn_a_radix_sort_simple_merge/func_tests/main.cpp
  tasks/seq/tsatsyn_a_radix_sort_simple_merge/include/ops_seq.hpp
  tasks/seq/tsatsyn_a_radix_sort_simple_merge/perf_tests/main.cpp
  tasks/seq/tsatsyn_a_radix_sort_simple_merge/src/ops_seq.cpp
Labels: task:seq

#337 [FIX Perf tests] Карасева Екатерина. Задача 1. Вариант 8. Технология SEQ. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/seq/karaseva_e_congrad/perf_tests/main.cpp
Labels: task:seq

#217 Лаврентьев Алексей. Задача 2. Вариант 5. Технология OMP Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – столбцовый (CCS)
  tasks/omp/lavrentiev_A_CCS_OMP/func_tests/main.cpp
  tasks/omp/lavrentiev_A_CCS_OMP/include/ops_omp.hpp
  tasks/omp/lavrentiev_A_CCS_OMP/perf_tests/main.cpp
  tasks/omp/lavrentiev_A_CCS_OMP/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#232 Кудряшова Ирина. Вариант 20. Технология OMP. Поразрядная сортировка для вещественных чисел (тип double) с четно-нечетным слиянием Бэтчера
  tasks/omp/kudryashova_i_radix_batcher/func_tests/kudryashovaRadixBatcherFuncOMP.cpp
  tasks/omp/kudryashova_i_radix_batcher/include/kudryashovaRadixBatcherOMP.hpp
  tasks/omp/kudryashova_i_radix_batcher/perf_tests/kudryashovaRadixBatcherPerfOMP.cpp
  tasks/omp/kudryashova_i_radix_batcher/src/kudryashovaRadixBatcherOMP.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#235 Карасева Екатерина. Задача 2. Вариант 8. Технология OMP. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/omp/karaseva_e_congrad_omp/func_tests/main.cpp
  tasks/omp/karaseva_e_congrad_omp/include/ops_omp.hpp
  tasks/omp/karaseva_e_congrad_omp/perf_tests/main.cpp
  tasks/omp/karaseva_e_congrad_omp/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#241 Козлова Екатерина. Вариант 28. OMP. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/omp/kozlova_e_contrast_enhancement/func_tests/main.cpp
  tasks/omp/kozlova_e_contrast_enhancement/include/ops_omp.hpp
  tasks/omp/kozlova_e_contrast_enhancement/perf_tests/main.cpp
  tasks/omp/kozlova_e_contrast_enhancement/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#242 Петров Олег. Задача 1. Вариант 25. Технология OMP. Линейная фильтрация изображений (вертикальное разбиение). Ядро Гаусса 3x3.
  tasks/omp/petrov_o_vertical_image_filtration/func_tests/main.cpp
  tasks/omp/petrov_o_vertical_image_filtration/include/ops_omp.hpp
  tasks/omp/petrov_o_vertical_image_filtration/perf_tests/main.cpp
  tasks/omp/petrov_o_vertical_image_filtration/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#252 Межуев Максим Задача 17. Технология OMP. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/omp/mezhuev_m_bitwise_integer_sort_with_simple_merge_omp/func_tests/main.cpp
  tasks/omp/mezhuev_m_bitwise_integer_sort_with_simple_merge_omp/include/ops_omp.hpp
  tasks/omp/mezhuev_m_bitwise_integer_sort_with_simple_merge_omp/perf_tests/main.cpp
  tasks/omp/mezhuev_m_bitwise_integer_sort_with_simple_merge_omp/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#262 [FIX] Лопатин Илья. Вариант 12. Технология OMP. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/omp/lopatin_i_monte_carlo/func_tests/lopatinMonteCarloFuncOMP.cpp
  tasks/omp/lopatin_i_monte_carlo/include/lopatinMonteCarloOMP.hpp
  tasks/omp/lopatin_i_monte_carlo/perf_tests/lopatinMonteCarloPerfOMP.cpp
  tasks/omp/lopatin_i_monte_carlo/src/lopatinMonteCarloOMP.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#213 Титов Семён. Задача 1. Вариант 24. Технология OMP. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/omp/titov_s_ImageFilter_HorizGaussian3x3/func_tests/main.cpp
  tasks/omp/titov_s_ImageFilter_HorizGaussian3x3/include/ops_omp.hpp
  tasks/omp/titov_s_ImageFilter_HorizGaussian3x3/perf_tests/main.cpp
  tasks/omp/titov_s_ImageFilter_HorizGaussian3x3/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#173 Наседкин Егор. Задача 1. Вариант 3. Технология OMP. Умножение плотных матриц. Элементы типа double. Алгоритм Штрассена.
  tasks/omp/nasedkin_e_strassen_algorithm/func_tests/main.cpp
  tasks/omp/nasedkin_e_strassen_algorithm/include/ops_omp.hpp
  tasks/omp/nasedkin_e_strassen_algorithm/perf_tests/main.cpp
  tasks/omp/nasedkin_e_strassen_algorithm/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#261 Сидорина Полина. Вариант 8. Технология OMP. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/omp/sidorina_p_gradient_method/func_tests/main.cpp
  tasks/omp/sidorina_p_gradient_method/include/ops_omp.hpp
  tasks/omp/sidorina_p_gradient_method/perf_tests/main.cpp
  tasks/omp/sidorina_p_gradient_method/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#266 Колоколова Дарья. Вариант 11. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/omp/kolokolova_d_integral_simpson_method_omp/func_tests/main.cpp
  tasks/omp/kolokolova_d_integral_simpson_method_omp/include/ops_omp.hpp
  tasks/omp/kolokolova_d_integral_simpson_method_omp/perf_tests/main.cpp
  tasks/omp/kolokolova_d_integral_simpson_method_omp/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#307 Соловьев Алексей. Задача 1. Вариант 7. Технология OMP. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – столбцовый (CCS).
  tasks/omp/solovev_a_ccs_mmult_sparse_omp/func_tests/main.cpp
  tasks/omp/solovev_a_ccs_mmult_sparse_omp/include/ccs_mmult_sparse_omp.hpp
  tasks/omp/solovev_a_ccs_mmult_sparse_omp/perf_tests/main.cpp
  tasks/omp/solovev_a_ccs_mmult_sparse_omp/src/ccs_mmult_sparse_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#310 Коротин Егор. Задача 1. Вариант 4. Технология OMP. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – строковый (CRS).
  tasks/omp/korotin_e_crs_multiplication/func_tests/main.cpp
  tasks/omp/korotin_e_crs_multiplication/include/ops_omp.hpp
  tasks/omp/korotin_e_crs_multiplication/perf_tests/main.cpp
  tasks/omp/korotin_e_crs_multiplication/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#335 [FIX Perf tests] Мухина Маргарита. Вариант 21. Технология SEQ. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры)
  tasks/seq/muhina_m_dijkstra/perf_tests/main.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#207 Ополин Дмитрий. Вариант 18. Технология SEQ. Поразрядная сортировка для целых чисел с четно-нечетным слиянием Бэтчера.
  tasks/seq/opolin_d_radix_sort_betcher_merge/func_tests/main.cpp
  tasks/seq/opolin_d_radix_sort_betcher_merge/include/ops_seq.hpp
  tasks/seq/opolin_d_radix_sort_betcher_merge/perf_tests/main.cpp
  tasks/seq/opolin_d_radix_sort_betcher_merge/src/ops_seq.cpp
Labels: task:seq, approved - Alexander

#153 Федоров Матвей. Вариант 16. Технология SEQ. Сортировка Шелла с четно-нечетным слиянием Бэтчера.
  tasks/seq/fyodorov_m_shell_sort_with_even_odd_batcher_merge/func_tests/main.cpp
  tasks/seq/fyodorov_m_shell_sort_with_even_odd_batcher_merge/include/ops_seq.hpp
  tasks/seq/fyodorov_m_shell_sort_with_even_odd_batcher_merge/perf_tests/main.cpp
  tasks/seq/fyodorov_m_shell_sort_with_even_odd_batcher_merge/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#352 [FIX] Шульпин Илья. Вариант 23. Технология SEQ. Построение выпуклой оболочки – проход Джарвиса.
  tasks/seq/shulpin_i_Jarvis_passage/func_tests/main.cpp
  tasks/seq/shulpin_i_Jarvis_passage/perf_tests/main.cpp
Labels: task:seq, approved - Arseniy

#163 Шульпин Илья. Вариант 23. Технология OMP. Построение выпуклой оболочки – проход Джарвиса.
  tasks/omp/shulpin_i_jarvis_passage/func_tests/main.cpp
  tasks/omp/shulpin_i_jarvis_passage/include/ops_omp.hpp
  tasks/omp/shulpin_i_jarvis_passage/perf_tests/main.cpp
  tasks/omp/shulpin_i_jarvis_passage/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#366 FIX Цацын Александр. Вариант 19. Технология OMP. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/omp/tsatsyn_a_radix_sort_simple_merge/func_tests/main.cpp
  tasks/omp/tsatsyn_a_radix_sort_simple_merge/include/ops_omp.hpp
  tasks/omp/tsatsyn_a_radix_sort_simple_merge/perf_tests/main.cpp
  tasks/omp/tsatsyn_a_radix_sort_simple_merge/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy

#101 Казунин Никита. Технология OMP. Вариант 12. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/omp/kazunin_n_montecarlo/func_tests/main.cpp
  tasks/omp/kazunin_n_montecarlo/include/ops_omp.hpp
  tasks/omp/kazunin_n_montecarlo/perf_tests/main.cpp
  tasks/omp/kazunin_n_montecarlo/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#250 Созонов Илья. Вариант 26. Технология OMP. Линейная фильтрация изображений (блочное разбиение). Ядро Гаусса 3x3.
  tasks/omp/sozonov_i_image_filtering_block_partitioning/func_tests/main.cpp
  tasks/omp/sozonov_i_image_filtering_block_partitioning/include/ops_omp.hpp
  tasks/omp/sozonov_i_image_filtering_block_partitioning/perf_tests/main.cpp
  tasks/omp/sozonov_i_image_filtering_block_partitioning/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#271 Милованкин Максим. Задача 2. Вариант 28. Технология OMP. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/omp/milovankin_m_histogram_stretching/func_tests/main.cpp
  tasks/omp/milovankin_m_histogram_stretching/include/ops_omp.hpp
  tasks/omp/milovankin_m_histogram_stretching/perf_tests/main.cpp
  tasks/omp/milovankin_m_histogram_stretching/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#326 Сорочкин Данила. Вариант 19. Технология OMP. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/omp/sorochkin_d_radix_double_sort_simple_merge/func_tests/main.cpp
  tasks/omp/sorochkin_d_radix_double_sort_simple_merge/include/ops.hpp
  tasks/omp/sorochkin_d_radix_double_sort_simple_merge/perf_tests/main.cpp
  tasks/omp/sorochkin_d_radix_double_sort_simple_merge/src/ops.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#358 FIX. Холин Кирилл. Задача 1. Вариант 9. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/omp/kholin_k_multidimensional_integrals_rectangle/func_tests/main.cpp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle/include/ops_omp.hpp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle/perf_tests/main.cpp
  tasks/omp/kholin_k_multidimensional_integrals_rectangle/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, on review - Alexander

#316 (fix) Лысов Иван. Задача 1. Вариант 2. Технология SEQ. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/seq/lysov_i_matrix_multiplication_Fox_algorithm/perf_tests/main.cpp
Labels: task:seq, approved - Alexander

#305 (fix) Титов Семён. Задача 1. Вариант 24. Технология SEQ. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/seq/titov_s_ImageFilter_HorizGaussian3x3/perf_tests/main.cpp
Labels: task:seq, approved - Alexander

#88 Колодкин Григорий. Вариант 6. OMP. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матриц - строковый(CRS).
  tasks/omp/kolodkin_g_multiplication_matrix_CRS/func_tests/main.cpp
  tasks/omp/kolodkin_g_multiplication_matrix_CRS/include/ops_omp.hpp
  tasks/omp/kolodkin_g_multiplication_matrix_CRS/perf_tests/main.cpp
  tasks/omp/kolodkin_g_multiplication_matrix_CRS/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#137 Отурин Александр. Вариант 23. Технология OMP. Построение выпуклой оболочки – проход Джарвиса.
  tasks/omp/oturin_a_gift_wrapping/func_tests/main.cpp
  tasks/omp/oturin_a_gift_wrapping/include/ops_omp.hpp
  tasks/omp/oturin_a_gift_wrapping/perf_tests/main.cpp
  tasks/omp/oturin_a_gift_wrapping/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#181 Плеханов Даниил. Задача 1. Вариант 21. Технология OMP. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры).
  tasks/omp/plekhanov_d_dijkstra/func_tests/main.cpp
  tasks/omp/plekhanov_d_dijkstra/include/ops_omp.hpp
  tasks/omp/plekhanov_d_dijkstra/perf_tests/main.cpp
  tasks/omp/plekhanov_d_dijkstra/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#288 Тышкевич Артём. Технология OMP. Вариант 13. Сортировка Хоара с простым слиянием.
  tasks/omp/tyshkevich_a_hoare_simple_merge/func_tests/main.cpp
  tasks/omp/tyshkevich_a_hoare_simple_merge/include/ops_omp.hpp
  tasks/omp/tyshkevich_a_hoare_simple_merge/perf_tests/main.cpp
  tasks/omp/tyshkevich_a_hoare_simple_merge/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#296 Поликанов Виталий. Задача 1. Вариант 9. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/omp/polikanov_v_rectangles/func_tests/main.cpp
  tasks/omp/polikanov_v_rectangles/include/ops_omp.hpp
  tasks/omp/polikanov_v_rectangles/perf_tests/main.cpp
  tasks/omp/polikanov_v_rectangles/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#304 Волочаев Серафим. Вариант 16. Технология: OMP. Сортировка Шелла с четно-нечетным слиянием Бэтчера.
  tasks/omp/volochaev_s_Shell_sort_with_Batchers_even-odd_merge/func_tests/main.cpp
  tasks/omp/volochaev_s_Shell_sort_with_Batchers_even-odd_merge/include/ops_omp.hpp
  tasks/omp/volochaev_s_Shell_sort_with_Batchers_even-odd_merge/perf_tests/main.cpp
  tasks/omp/volochaev_s_Shell_sort_with_Batchers_even-odd_merge/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#314 Лысов Иван. Задача 1. Вариант 2. Технология OMP. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/omp/lysov_i_matrix_multiplication_Fox_algorithm_omp/func_tests/main.cpp
  tasks/omp/lysov_i_matrix_multiplication_Fox_algorithm_omp/include/ops_omp.hpp
  tasks/omp/lysov_i_matrix_multiplication_Fox_algorithm_omp/perf_tests/main.cpp
  tasks/omp/lysov_i_matrix_multiplication_Fox_algorithm_omp/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#292 Петров Артем. Вариант 20. Технология OMP. Поразрядная сортировка для вещественных чисел (тип double) с четно-нечетным слиянием Бэтчера.
  tasks/omp/petrov_a_radix_double_batcher/func_tests/main.cpp
  tasks/omp/petrov_a_radix_double_batcher/include/ops_omp.hpp
  tasks/omp/petrov_a_radix_double_batcher/perf_tests/main.cpp
  tasks/omp/petrov_a_radix_double_batcher/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#251 Зайцев Артем. Задача 1. Вариант 29. Технология OMP. Маркировка компонент на бинарном изображении.
  tasks/omp/zaitsev_a_bw_labeling/data/help.jpg
  tasks/omp/zaitsev_a_bw_labeling/data/kittens.jpg
  tasks/omp/zaitsev_a_bw_labeling/data/rombs.jpg
  tasks/omp/zaitsev_a_bw_labeling/data/silly.jpg
  tasks/omp/zaitsev_a_bw_labeling/data/trig.jpg
  tasks/omp/zaitsev_a_bw_labeling/func_tests/main.cpp
  tasks/omp/zaitsev_a_bw_labeling/include/disjoint_set.hpp
  tasks/omp/zaitsev_a_bw_labeling/include/ops_omp.hpp
  tasks/omp/zaitsev_a_bw_labeling/perf_tests/main.cpp
  tasks/omp/zaitsev_a_bw_labeling/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#341 Ведерникова Ксения. Технология OMP. Вариант 24. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/omp/vedernikova_k_gauss_omp/func_tests/main.cpp
  tasks/omp/vedernikova_k_gauss_omp/include/ops_omp.hpp
  tasks/omp/vedernikova_k_gauss_omp/perf_tests/main.cpp
  tasks/omp/vedernikova_k_gauss_omp/src/ops_omp.cpp
Labels: task:omp

#325 Шляков Максим. Вариант 15. Технология OMP. Сортировка Шелла с простым слиянием.
  tasks/omp/shlyakov_m_shell_sort_omp/func_tests/main.cpp
  tasks/omp/shlyakov_m_shell_sort_omp/include/ops_omp.hpp
  tasks/omp/shlyakov_m_shell_sort_omp/perf_tests/main.cpp
  tasks/omp/shlyakov_m_shell_sort_omp/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander, wait ci

#327 Федоров Матвей. Вариант 16. Технология OMP. Сортировка Шелла с четно-нечетным слиянием Бэтчера.
  tasks/omp/fyodorov_m_shell_sort_with_even_odd_batcher_merge/func_tests/main.cpp
  tasks/omp/fyodorov_m_shell_sort_with_even_odd_batcher_merge/include/ops_omp.hpp
  tasks/omp/fyodorov_m_shell_sort_with_even_odd_batcher_merge/perf_tests/main.cpp
  tasks/omp/fyodorov_m_shell_sort_with_even_odd_batcher_merge/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#328 Васильев Сергей. Задача 1. Вариант 11. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/omp/vasilev_s_simpson_multidim/func_tests/main.cpp
  tasks/omp/vasilev_s_simpson_multidim/include/ops_omp.hpp
  tasks/omp/vasilev_s_simpson_multidim/perf_tests/main.cpp
  tasks/omp/vasilev_s_simpson_multidim/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#329 Малышев Владимир. OMP. Вариант 19. "Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием"
  tasks/omp/malyshev_v_radix_sort_omp/func_tests/main.cpp
  tasks/omp/malyshev_v_radix_sort_omp/include/ops_omp.hpp
  tasks/omp/malyshev_v_radix_sort_omp/perf_tests/main.cpp
  tasks/omp/malyshev_v_radix_sort_omp/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#331 Чижов Максим. Вариант 10. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/omp/chizhov_m_trapezoid_method/func_tests/main.cpp
  tasks/omp/chizhov_m_trapezoid_method/include/ops_omp.hpp
  tasks/omp/chizhov_m_trapezoid_method/perf_tests/main.cpp
  tasks/omp/chizhov_m_trapezoid_method/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#332 Хованский Дмитрий. Вариант 20. Технология OMP. Поразрядная сортировка для вещественных чисел (тип double) с четно-нечетным слиянием Бэтчера.
  tasks/omp/khovansky_d_double_radix_batcher/func_tests/main.cpp
  tasks/omp/khovansky_d_double_radix_batcher/include/ops_omp.hpp
  tasks/omp/khovansky_d_double_radix_batcher/perf_tests/main.cpp
  tasks/omp/khovansky_d_double_radix_batcher/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#344 Владимирова Юлия. Вариант 12. Технология OMP. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/omp/vladimirova_j_m_monte_karlo_omp/func_tests/main.cpp
  tasks/omp/vladimirova_j_m_monte_karlo_omp/include/ops_omp.hpp
  tasks/omp/vladimirova_j_m_monte_karlo_omp/perf_tests/main.cpp
  tasks/omp/vladimirova_j_m_monte_karlo_omp/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#350 Бурыкин Михаил. Вариант 17. Технология OMP. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/omp/burykin_m_radix/func_tests/main.cpp
  tasks/omp/burykin_m_radix/include/ops_omp.hpp
  tasks/omp/burykin_m_radix/perf_tests/main.cpp
  tasks/omp/burykin_m_radix/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#357 Шкуринская Елена. Вариант 29. Технология OMP. Маркировка компонент на бинарном изображении.
  tasks/omp/shkurinskaya_e_bin_labeling/func_tests/main.cpp
  tasks/omp/shkurinskaya_e_bin_labeling/include/ops_omp.hpp
  tasks/omp/shkurinskaya_e_bin_labeling/perf_tests/main.cpp
  tasks/omp/shkurinskaya_e_bin_labeling/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#297 fix: Крылов Михаил. Вариант 12. Технология STL. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/stl/krylov_m_monte_carlo/func_tests/main.cpp
  tasks/stl/krylov_m_monte_carlo/include/mci_common.hpp
  tasks/stl/krylov_m_monte_carlo/include/mci_seq.hpp
  tasks/stl/krylov_m_monte_carlo/include/mci_stl.hpp
  tasks/stl/krylov_m_monte_carlo/perf_tests/main.cpp
  tasks/stl/krylov_m_monte_carlo/src/mci_common.cpp
  tasks/stl/krylov_m_monte_carlo/src/mci_seq.cpp
  tasks/stl/krylov_m_monte_carlo/src/mci_stl.cpp
Labels: task:stl, approved - Alexander

#351 Громов Алексей. Вариант 2. Технология OMP. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/omp/gromov_a_fox_algorithm/func_tests/main.cpp
  tasks/omp/gromov_a_fox_algorithm/include/ops_omp.hpp
  tasks/omp/gromov_a_fox_algorithm/perf_tests/main.cpp
  tasks/omp/gromov_a_fox_algorithm/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander, wait ci

#371 Зайцев Денис. Вариант 27. Технология OMP. Выделение ребер на изображении с использованием оператора Собеля.
  tasks/omp/zaytsev_d_sobel/data/inwhite.png
  tasks/omp/zaytsev_d_sobel/data/outputwhite.png
  tasks/omp/zaytsev_d_sobel/func_tests/main.cpp
  tasks/omp/zaytsev_d_sobel/include/ops_omp.hpp
  tasks/omp/zaytsev_d_sobel/perf_tests/main.cpp
  tasks/omp/zaytsev_d_sobel/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#342 Алпутов Иван. Задача 1. Вариант 22. Технология OMP. Построение выпуклой оболочки – проход Грэхема.
  tasks/omp/alputov_i_graham_scan/func_tests/main.cpp
  tasks/omp/alputov_i_graham_scan/include/ops_omp.hpp
  tasks/omp/alputov_i_graham_scan/perf_tests/main.cpp
  tasks/omp/alputov_i_graham_scan/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#334 Лаганина Елена. Вариант 29. Технология OMP.Маркировка компонент на бинарном изображении (черные области соответствуют объектам, белые – фону).
  tasks/omp/laganina_e_component_labeling/func_tests/main.cpp
  tasks/omp/laganina_e_component_labeling/include/ops_omp.hpp
  tasks/omp/laganina_e_component_labeling/perf_tests/main.cpp
  tasks/omp/laganina_e_component_labeling/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander, wait ci

#394 [FIX PERF TESTS] Ворошилов Виталий. Задача 1. Вариант 30. Технология SEQ. Построение выпуклой оболочки для компонент бинарного изображения.
  tasks/seq/voroshilov_v_convex_hull_components/perf_tests/main.cpp
Labels: task:seq, approved - Arseniy

#399 Disable shulpin_i_jarvis_omp
  tasks/omp/shulpin_i_jarvis_passage_disabled/func_tests/main.cpp
  tasks/omp/shulpin_i_jarvis_passage_disabled/include/ops_omp.hpp
  tasks/omp/shulpin_i_jarvis_passage_disabled/perf_tests/main.cpp
  tasks/omp/shulpin_i_jarvis_passage_disabled/src/ops_omp.cpp
Labels: task:omp

#392 [FIX PERF] Лаганина Елена.Вариант 29. Технология SEQ.Маркировка компонент на бинарном изображении (черные области соответствуют объектам, белые – фону).
  tasks/seq/laganina_e_component_labeling/perf_tests/main.cpp
Labels: task:seq, approved - Arseniy, on review - Alexander

#312 Ворошилов Виталий. Задача 2. Вариант 30. Технология OMP. Построение выпуклой оболочки для компонент бинарного изображения.
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/0_expected.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/0_image.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/0_incorrect.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/1_expected.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/1_image.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/1_incorrect.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/2_expected.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/2_image.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/3_expected.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/3_image.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/4_expected.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/4_image.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/5_expected.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/5_image.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/6_expected.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/6_image.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/7_expected.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/data/7_image.png
  tasks/omp/voroshilov_v_convex_hull_components_omp/func_tests/main.cpp
  tasks/omp/voroshilov_v_convex_hull_components_omp/include/chc.hpp
  tasks/omp/voroshilov_v_convex_hull_components_omp/include/chc_omp.hpp
  tasks/omp/voroshilov_v_convex_hull_components_omp/perf_tests/main.cpp
  tasks/omp/voroshilov_v_convex_hull_components_omp/src/chc.cpp
  tasks/omp/voroshilov_v_convex_hull_components_omp/src/chc_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#384 Ануфриев Даниил. Задача 1. Вариант 11. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/omp/anufriev_d_integrals_simpson/func_tests/main.cpp
  tasks/omp/anufriev_d_integrals_simpson/include/ops_omp.hpp
  tasks/omp/anufriev_d_integrals_simpson/perf_tests/main.cpp
  tasks/omp/anufriev_d_integrals_simpson/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#398 [CI] Fix perf tests run
  .github/workflows/main.yml
  tasks/stl/example/perf_tests/main.cpp
Labels: ci, task:stl

#397 [FIX PERF] Плеханов Даниил. Задача 1. Вариант 21. Технология SEQ. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры).
  tasks/seq/plekhanov_d_dijkstra/perf_tests/main.cpp
Labels: task:seq

#393 Белов Артём. Вариант 18. Технология OMP. Поразрядная сортировка для целых чисел с четно-нечетным слиянием Бэтчера.
  tasks/omp/belov_a_radix_sort_with_batcher_mergesort/func_tests/main.cpp
  tasks/omp/belov_a_radix_sort_with_batcher_mergesort/include/ops_omp.hpp
  tasks/omp/belov_a_radix_sort_with_batcher_mergesort/perf_tests/main.cpp
  tasks/omp/belov_a_radix_sort_with_batcher_mergesort/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#87 Кораблев Владлен. TBB. Вариант 27. Выделение ребер на изображении с использованием оператора Собеля.
  tasks/tbb/korablev_v_sobel_edges/data/in/p1.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p10.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p11.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p12.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p13.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p14.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p2.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p3.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p4.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p5.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p6.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p7.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p8.png
  tasks/tbb/korablev_v_sobel_edges/data/in/p9.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p1.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p10.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p11.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p12.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p13.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p14.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p2.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p3.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p4.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p5.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p6.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p7.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p8.png
  tasks/tbb/korablev_v_sobel_edges/data/ref/p9.png
  tasks/tbb/korablev_v_sobel_edges/func_tests/main.cpp
  tasks/tbb/korablev_v_sobel_edges/include/ops_seq.hpp
  tasks/tbb/korablev_v_sobel_edges/include/ops_tbb.hpp
  tasks/tbb/korablev_v_sobel_edges/perf_tests/main.cpp
  tasks/tbb/korablev_v_sobel_edges/src/ops_seq.cpp
  tasks/tbb/korablev_v_sobel_edges/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#140 Соцков Андрей. Задача 1. Вариант 15. Технология TBB. Сортировка Шелла с простым слиянием.
  tasks/tbb/sotskov_a_shell_sorting_with_simple_merging/func_tests/main.cpp
  tasks/tbb/sotskov_a_shell_sorting_with_simple_merging/include/ops_tbb.hpp
  tasks/tbb/sotskov_a_shell_sorting_with_simple_merging/perf_tests/main.cpp
  tasks/tbb/sotskov_a_shell_sorting_with_simple_merging/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#319 Ясакова Татьяна. Технология OMP. 6 вариант. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – строковый (CRS).
  tasks/omp/yasakova_t_sparse_matrix_multiplication_omp/func_tests/main.cpp
  tasks/omp/yasakova_t_sparse_matrix_multiplication_omp/include/ops_omp.hpp
  tasks/omp/yasakova_t_sparse_matrix_multiplication_omp/perf_tests/main.cpp
  tasks/omp/yasakova_t_sparse_matrix_multiplication_omp/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander, wait ci

#201 Корнеева Екатерина. Задача 1. Вариант 7. Технология SEQ. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – столбцовый (CCS).
  tasks/seq/korneeva_e_sparse_matrix_mult_complex_ccs/func_tests/main.cpp
  tasks/seq/korneeva_e_sparse_matrix_mult_complex_ccs/include/ops_seq.hpp
  tasks/seq/korneeva_e_sparse_matrix_mult_complex_ccs/perf_tests/main.cpp
  tasks/seq/korneeva_e_sparse_matrix_mult_complex_ccs/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#415 Disable lavrentiev_a_ccs_omp
  tasks/omp/lavrentiev_A_CCS_OMP_disabled/func_tests/main.cpp
  tasks/omp/lavrentiev_A_CCS_OMP_disabled/include/ops_omp.hpp
  tasks/omp/lavrentiev_A_CCS_OMP_disabled/perf_tests/main.cpp
  tasks/omp/lavrentiev_A_CCS_OMP_disabled/src/ops_omp.cpp
Labels: task:omp

#413 Enable 'pipefail' in scripts/generate_perf_results.sh
  scripts/generate_perf_results.sh
Labels: infrastructure

#24 ‎Рамс Сергей. Вариант 25. Технология TBB. Линейная фильтрация изображений (вертикальное разбиение). Ядро Гаусса 3x3.
  tasks/tbb/rams_s_vertical_gauss_3x3/data/flower.png
  tasks/tbb/rams_s_vertical_gauss_3x3/func_tests/main.cpp
  tasks/tbb/rams_s_vertical_gauss_3x3/include/main.hpp
  tasks/tbb/rams_s_vertical_gauss_3x3/include/main_seq.hpp
  tasks/tbb/rams_s_vertical_gauss_3x3/perf_tests/main.cpp
  tasks/tbb/rams_s_vertical_gauss_3x3/src/main.cpp
  tasks/tbb/rams_s_vertical_gauss_3x3/src/main_seq.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#126 Хасаньянов Кирилл. Задача 1. Вариант 10. Технология TBB. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/tbb/khasanyanov_k_trapezoid_method/func_tests/main.cpp
  tasks/tbb/khasanyanov_k_trapezoid_method/include/integrate_tbb.hpp
  tasks/tbb/khasanyanov_k_trapezoid_method/include/integrator.hpp
  tasks/tbb/khasanyanov_k_trapezoid_method/perf_tests/main.cpp
  tasks/tbb/khasanyanov_k_trapezoid_method/src/integrate_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#437 [fix] Соловьев Алексей. Задача 1. Вариант 7. Технология OMP. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – столбцовый (CCS).
  tasks/omp/solovev_a_ccs_mmult_sparse/func_tests/main.cpp
  tasks/omp/solovev_a_ccs_mmult_sparse/include/ccs_mmult_sparse_omp.hpp
  tasks/omp/solovev_a_ccs_mmult_sparse/perf_tests/main.cpp
  tasks/omp/solovev_a_ccs_mmult_sparse/src/ccs_mmult_sparse_omp.cpp
Labels: task:omp

#440 [CI] Fix perf tests run
  .github/workflows/main.yml
Labels: ci

#450 [FIX RENAME] Владимирова Юлия. Вариант 12. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/omp/vladimirova_j_m_monte_karlo/func_tests/main.cpp
  tasks/omp/vladimirova_j_m_monte_karlo/include/ops_omp.hpp
  tasks/omp/vladimirova_j_m_monte_karlo/perf_tests/main.cpp
  tasks/omp/vladimirova_j_m_monte_karlo/src/ops_omp.cpp
  tasks/seq/vladimirova_j_m_monte_karlo/func_tests/main.cpp
  tasks/seq/vladimirova_j_m_monte_karlo/include/ops_seq.hpp
  tasks/seq/vladimirova_j_m_monte_karlo/perf_tests/main.cpp
  tasks/seq/vladimirova_j_m_monte_karlo/src/ops_seq.cpp
Labels: task:seq, task:omp

#444 [fix for review in omp] Золотарева Арина. Вариант 8. Технология TBB. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/seq/zolotareva_a_SLE_gradient_method/perf_tests/main.cpp
Labels: task:seq, approved - Arseniy

#436 [RENAME FOLDER] Малышев Владимир. OMP. Вариант 19. "Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием"
  tasks/omp/malyshev_v_radix_sort/func_tests/main.cpp
  tasks/omp/malyshev_v_radix_sort/include/ops_omp.hpp
  tasks/omp/malyshev_v_radix_sort/perf_tests/main.cpp
  tasks/omp/malyshev_v_radix_sort/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy

#457 Disable sequential_zolotareva_a_sle_gradient_method_seq
  tasks/seq/zolotareva_a_SLE_gradient_method_disabled/func_tests/main.cpp
  tasks/seq/zolotareva_a_SLE_gradient_method_disabled/include/ops_seq.hpp
  tasks/seq/zolotareva_a_SLE_gradient_method_disabled/perf_tests/main.cpp
  tasks/seq/zolotareva_a_SLE_gradient_method_disabled/src/ops_seq.cpp
Labels: task:seq

#423 [FIX] Борисов Сергей. Задача 1. Вариант 3. Технология OMP и SEQ. Умножение плотных матриц. Элементы типа double. Алгоритм Штрассена.
  tasks/omp/borisov_s_strassen/func_tests/main.cpp
  tasks/omp/borisov_s_strassen/include/ops_omp.hpp
  tasks/omp/borisov_s_strassen/perf_tests/main.cpp
  tasks/omp/borisov_s_strassen/src/ops_omp.cpp
  tasks/seq/borisov_s_strassen/func_tests/main.cpp
  tasks/seq/borisov_s_strassen/include/ops_seq.hpp
  tasks/seq/borisov_s_strassen/perf_tests/main.cpp
  tasks/seq/borisov_s_strassen/src/ops_seq.cpp
Labels: task:seq, task:omp

#424 [FIX Rename]Садиков Иван. Задача 1. Вариант 5. Технология SEQ. Умножение разреженных матриц (CCS)
  tasks/seq/sadikov_I_SparseMatrixMultiplication/func_tests/main.cpp
  tasks/seq/sadikov_I_SparseMatrixMultiplication/include/SparesMatrix.hpp
  tasks/seq/sadikov_I_SparseMatrixMultiplication/include/ops_seq.hpp
  tasks/seq/sadikov_I_SparseMatrixMultiplication/perf_tests/main.cpp
  tasks/seq/sadikov_I_SparseMatrixMultiplication/src/SparesMatrix.cpp
  tasks/seq/sadikov_I_SparseMatrixMultiplication/src/ops_seq.cpp
Labels: task:seq

#427 [FIX RENAME] Шульпин Илья. Вариант 23. Технология SEQ. Построение выпуклой оболочки – проход Джарвиса.
  tasks/seq/shulpin_i_jarvis_passage/func_tests/main.cpp
  tasks/seq/shulpin_i_jarvis_passage/include/ops_seq.hpp
  tasks/seq/shulpin_i_jarvis_passage/perf_tests/main.cpp
  tasks/seq/shulpin_i_jarvis_passage/src/ops_seq.cpp
Labels: task:seq

#456 fix: Рамс Сергей. Вариант 25. Линейная фильтрация изображений (вертикальное разбиение). Ядро Гаусса 3x3.‎
  tasks/all/rams_s_vertical_gauss_3x3/perf_tests/main.cpp
  tasks/omp/rams_s_vertical_gauss_3x3/perf_tests/main.cpp
  tasks/seq/rams_s_vertical_gauss_3x3/perf_tests/main.cpp
  tasks/tbb/rams_s_vertical_gauss_3x3/perf_tests/main.cpp
Labels: task:seq, task:all, task:omp, task:tbb

#23 ‎Рамс Сергей. Вариант 25. Технология STL. Линейная фильтрация изображений (вертикальное разбиение). Ядро Гаусса 3x3.‎
  tasks/stl/rams_s_vertical_gauss_3x3/data/flower.png
  tasks/stl/rams_s_vertical_gauss_3x3/func_tests/main.cpp
  tasks/stl/rams_s_vertical_gauss_3x3/include/main.hpp
  tasks/stl/rams_s_vertical_gauss_3x3/include/main_seq.hpp
  tasks/stl/rams_s_vertical_gauss_3x3/perf_tests/main.cpp
  tasks/stl/rams_s_vertical_gauss_3x3/src/main.cpp
  tasks/stl/rams_s_vertical_gauss_3x3/src/main_seq.cpp
Labels: task:stl, approved - Arseniy

#86 Кораблев Владлен. STL. Вариант 27. Выделение ребер на изображении с использованием оператора Собеля.
  tasks/stl/korablev_v_sobel_edges/data/in/p1.png
  tasks/stl/korablev_v_sobel_edges/data/in/p10.png
  tasks/stl/korablev_v_sobel_edges/data/in/p11.png
  tasks/stl/korablev_v_sobel_edges/data/in/p12.png
  tasks/stl/korablev_v_sobel_edges/data/in/p13.png
  tasks/stl/korablev_v_sobel_edges/data/in/p14.png
  tasks/stl/korablev_v_sobel_edges/data/in/p2.png
  tasks/stl/korablev_v_sobel_edges/data/in/p3.png
  tasks/stl/korablev_v_sobel_edges/data/in/p4.png
  tasks/stl/korablev_v_sobel_edges/data/in/p5.png
  tasks/stl/korablev_v_sobel_edges/data/in/p6.png
  tasks/stl/korablev_v_sobel_edges/data/in/p7.png
  tasks/stl/korablev_v_sobel_edges/data/in/p8.png
  tasks/stl/korablev_v_sobel_edges/data/in/p9.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p1.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p10.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p11.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p12.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p13.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p14.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p2.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p3.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p4.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p5.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p6.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p7.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p8.png
  tasks/stl/korablev_v_sobel_edges/data/ref/p9.png
  tasks/stl/korablev_v_sobel_edges/func_tests/main.cpp
  tasks/stl/korablev_v_sobel_edges/include/ops_seq.hpp
  tasks/stl/korablev_v_sobel_edges/include/ops_stl.hpp
  tasks/stl/korablev_v_sobel_edges/perf_tests/main.cpp
  tasks/stl/korablev_v_sobel_edges/src/ops_seq.cpp
  tasks/stl/korablev_v_sobel_edges/src/ops_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#421 [FIX] Гнитиенко Кирилл. Вариант 3. Технология OMP. Умножение плотных матриц. Элементы типа double. Алгоритм Штрассена.
  tasks/omp/gnitienko_k_strassen_alg/func_tests/main.cpp
  tasks/omp/gnitienko_k_strassen_alg/include/ops_omp.hpp
  tasks/omp/gnitienko_k_strassen_alg/perf_tests/main.cpp
  tasks/omp/gnitienko_k_strassen_alg/src/ops_omp.cpp
Labels: task:omp, approved - Alexander

#152 Дерябин Максим. Вариант 13. Технология TBB. Сортировка Хоара с простым слиянием.
  tasks/tbb/deryabin_m_hoare_sort_simple_merge/func_tests/main.cpp
  tasks/tbb/deryabin_m_hoare_sort_simple_merge/include/ops_tbb.hpp
  tasks/tbb/deryabin_m_hoare_sort_simple_merge/perf_tests/main.cpp
  tasks/tbb/deryabin_m_hoare_sort_simple_merge/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#441 [FIX] Шульпин Илья. Вариант 23. Технология OMP. Построение выпуклой оболочки – проход Джарвиса.
  tasks/omp/shulpin_i_jarvis_passage/func_tests/main.cpp
  tasks/omp/shulpin_i_jarvis_passage/include/ops_omp.hpp
  tasks/omp/shulpin_i_jarvis_passage/perf_tests/main.cpp
  tasks/omp/shulpin_i_jarvis_passage/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy

#435 [FIX RENAME] Ворошилов Виталий. Задача 2. Вариант 30. Технология OMP. Построение выпуклой оболочки для компонент бинарного изображения.
  tasks/omp/voroshilov_v_convex_hull_components/data/0_expected.png
  tasks/omp/voroshilov_v_convex_hull_components/data/0_image.png
  tasks/omp/voroshilov_v_convex_hull_components/data/0_incorrect.png
  tasks/omp/voroshilov_v_convex_hull_components/data/1_expected.png
  tasks/omp/voroshilov_v_convex_hull_components/data/1_image.png
  tasks/omp/voroshilov_v_convex_hull_components/data/1_incorrect.png
  tasks/omp/voroshilov_v_convex_hull_components/data/2_expected.png
  tasks/omp/voroshilov_v_convex_hull_components/data/2_image.png
  tasks/omp/voroshilov_v_convex_hull_components/data/3_expected.png
  tasks/omp/voroshilov_v_convex_hull_components/data/3_image.png
  tasks/omp/voroshilov_v_convex_hull_components/data/4_expected.png
  tasks/omp/voroshilov_v_convex_hull_components/data/4_image.png
  tasks/omp/voroshilov_v_convex_hull_components/data/5_expected.png
  tasks/omp/voroshilov_v_convex_hull_components/data/5_image.png
  tasks/omp/voroshilov_v_convex_hull_components/data/6_expected.png
  tasks/omp/voroshilov_v_convex_hull_components/data/6_image.png
  tasks/omp/voroshilov_v_convex_hull_components/data/7_expected.png
  tasks/omp/voroshilov_v_convex_hull_components/data/7_image.png
  tasks/omp/voroshilov_v_convex_hull_components/func_tests/main.cpp
  tasks/omp/voroshilov_v_convex_hull_components/include/chc.hpp
  tasks/omp/voroshilov_v_convex_hull_components/include/chc_omp.hpp
  tasks/omp/voroshilov_v_convex_hull_components/perf_tests/main.cpp
  tasks/omp/voroshilov_v_convex_hull_components/src/chc.cpp
  tasks/omp/voroshilov_v_convex_hull_components/src/chc_omp.cpp
Labels: task:omp

#432 [FIX NAMES AND PERF TESTS] Лаврентьев Алексей. Задача 1. Вариант 5. Технология OMP Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – столбцовый (CCS)
  tasks/omp/lavrentiev_A_CCS/func_tests/main.cpp
  tasks/omp/lavrentiev_A_CCS/include/ops_omp.hpp
  tasks/omp/lavrentiev_A_CCS/perf_tests/main.cpp
  tasks/omp/lavrentiev_A_CCS/src/ops_omp.cpp
Labels: task:omp, on review - Arseniy

#380 Наумов Богдан. Задача 2. Вариант 29. Технология OMP. Маркировка компонент на бинарном изображении (черные области соответствуют объектам, белые – фону).
  tasks/omp/naumov_b_marc_on_bin_image/func_tests/main.cpp
  tasks/omp/naumov_b_marc_on_bin_image/include/ops_omp.hpp
  tasks/omp/naumov_b_marc_on_bin_image/perf_tests/main.cpp
  tasks/omp/naumov_b_marc_on_bin_image/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander, wait ci

#313 Коньков Иван. Задача 2. Вариант 5 Технология OMP. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – столбцовый (CCS).
  tasks/omp/konkov_i_sparse_matmul_ccs_omp/func_tests/main.cpp
  tasks/omp/konkov_i_sparse_matmul_ccs_omp/include/ops_omp.hpp
  tasks/omp/konkov_i_sparse_matmul_ccs_omp/perf_tests/main.cpp
  tasks/omp/konkov_i_sparse_matmul_ccs_omp/src/ops_omp.cpp
Labels: task:omp, approved - Alexander

#339 Капустин Иван. Вариант 23. Технология OMP. Построение выпуклой оболочки - проход Джарвиса.
  tasks/omp/kapustin_i_jarv_alg/func_tests/main.cpp
  tasks/omp/kapustin_i_jarv_alg/include/ops_omp.hpp
  tasks/omp/kapustin_i_jarv_alg/perf_tests/main.cpp
  tasks/omp/kapustin_i_jarv_alg/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#365 Дурыничев Дмитрий. Вариант 11. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона)
  tasks/omp/durynichev_d_integrals_simpson_method/func_tests/main.cpp
  tasks/omp/durynichev_d_integrals_simpson_method/include/ops_omp.hpp
  tasks/omp/durynichev_d_integrals_simpson_method/perf_tests/main.cpp
  tasks/omp/durynichev_d_integrals_simpson_method/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#465 [FIX PERF TESTS] Порошин Владислав. Задача 1. Вариант 10. Технология SEQ/OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/omp/poroshin_v_multi_integral_with_trapez_method/perf_tests/main.cpp
  tasks/seq/poroshin_v_multi_integral_with_trapez_method/perf_tests/main.cpp
Labels: task:seq, task:omp

#475 [FIX] Тышкевич Артём. Технология OMP. Вариант 13. Сортировка Хоара с простым слиянием.
  tasks/omp/tyshkevich_a_hoare_simple_merge/func_tests/main.cpp
  tasks/omp/tyshkevich_a_hoare_simple_merge/include/ops_omp.hpp
  tasks/omp/tyshkevich_a_hoare_simple_merge/perf_tests/main.cpp
  tasks/omp/tyshkevich_a_hoare_simple_merge/src/ops_omp.cpp
Labels: task:omp

#469 [fix] Мурадов Майк. Технология SEQ. Вариант 9. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/seq/muradov_m_rect_int/func_tests/main.cpp
  tasks/seq/muradov_m_rect_int/include/ops_seq.hpp
  tasks/seq/muradov_m_rect_int/perf_tests/main.cpp
  tasks/seq/muradov_m_rect_int/src/ops_seq.cpp
Labels: task:seq

#478 FIX RENAME Колоколова Дарья. Вариант 11. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/seq/kolokolova_d_integral_simpson_method/func_tests/main.cpp
  tasks/seq/kolokolova_d_integral_simpson_method/include/ops_seq.hpp
  tasks/seq/kolokolova_d_integral_simpson_method/perf_tests/main.cpp
  tasks/seq/kolokolova_d_integral_simpson_method/src/ops_seq.cpp
Labels: task:seq

#479 Disable tyshkevich_a_hoare_simple_merge omp
  tasks/omp/tyshkevich_a_hoare_simple_merge_disabled/func_tests/main.cpp
  tasks/omp/tyshkevich_a_hoare_simple_merge_disabled/include/ops_omp.hpp
  tasks/omp/tyshkevich_a_hoare_simple_merge_disabled/perf_tests/main.cpp
  tasks/omp/tyshkevich_a_hoare_simple_merge_disabled/src/ops_omp.cpp
Labels: task:omp

#481 FIX RENAME Колоколова Дарья. Вариант 11. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/omp/kolokolova_d_integral_simpson_method/func_tests/main.cpp
  tasks/omp/kolokolova_d_integral_simpson_method/include/ops_omp.hpp
  tasks/omp/kolokolova_d_integral_simpson_method/perf_tests/main.cpp
  tasks/omp/kolokolova_d_integral_simpson_method/src/ops_omp.cpp
Labels: task:omp

#336 Золотарева Арина. Вариант 8. Технология OMP. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/omp/zolotareva_a_SLE_gradient_method/func_tests/main.cpp
  tasks/omp/zolotareva_a_SLE_gradient_method/include/ops_seq.hpp
  tasks/omp/zolotareva_a_SLE_gradient_method/perf_tests/main.cpp
  tasks/omp/zolotareva_a_SLE_gradient_method/src/ops_seq.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#165 Николаев Роман. Вариант 13. Технология TBB. Сортировка Хоара с простым слиянием.
  tasks/tbb/nikolaev_r_hoare_sort_simple_merge/func_tests/main.cpp
  tasks/tbb/nikolaev_r_hoare_sort_simple_merge/include/ops_tbb.hpp
  tasks/tbb/nikolaev_r_hoare_sort_simple_merge/perf_tests/main.cpp
  tasks/tbb/nikolaev_r_hoare_sort_simple_merge/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#272 Мухина Маргарита. Вариант 21. Технология TBB. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры)
  tasks/tbb/muhina_m_dijkstra/func_tests/main.cpp
  tasks/tbb/muhina_m_dijkstra/include/ops_tbb.hpp
  tasks/tbb/muhina_m_dijkstra/perf_tests/main.cpp
  tasks/tbb/muhina_m_dijkstra/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#281 Милованкин Максим. Задача 3. Вариант 28. Технология TBB. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/tbb/milovankin_m_histogram_stretching/func_tests/main.cpp
  tasks/tbb/milovankin_m_histogram_stretching/include/ops_tbb.hpp
  tasks/tbb/milovankin_m_histogram_stretching/perf_tests/main.cpp
  tasks/tbb/milovankin_m_histogram_stretching/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#298 Кондратьев Ярослав. Задача 1. Вариант 7. Технология TBB. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – столбцовый (CCS).
  tasks/tbb/kondratev_ya_ccs_complex_multiplication/func_tests/main.cpp
  tasks/tbb/kondratev_ya_ccs_complex_multiplication/include/ops_tbb.hpp
  tasks/tbb/kondratev_ya_ccs_complex_multiplication/perf_tests/main.cpp
  tasks/tbb/kondratev_ya_ccs_complex_multiplication/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#372 Зайцев Артем. Задача 1. Вариант 29. Технология TBB. Маркировка компонент на бинарном изображении.
  tasks/tbb/zaitsev_a_bw_labeling/data/help.jpg
  tasks/tbb/zaitsev_a_bw_labeling/data/kittens.jpg
  tasks/tbb/zaitsev_a_bw_labeling/data/rombs.jpg
  tasks/tbb/zaitsev_a_bw_labeling/data/silly.jpg
  tasks/tbb/zaitsev_a_bw_labeling/data/trig.jpg
  tasks/tbb/zaitsev_a_bw_labeling/func_tests/main.cpp
  tasks/tbb/zaitsev_a_bw_labeling/include/disjoint_set.hpp
  tasks/tbb/zaitsev_a_bw_labeling/include/ops_tbb.hpp
  tasks/tbb/zaitsev_a_bw_labeling/perf_tests/main.cpp
  tasks/tbb/zaitsev_a_bw_labeling/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#382 Сидорина Полина. Вариант 8. Технология TBB. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/tbb/sidorina_p_gradient_method/func_tests/main.cpp
  tasks/tbb/sidorina_p_gradient_method/include/ops_tbb.hpp
  tasks/tbb/sidorina_p_gradient_method/perf_tests/main.cpp
  tasks/tbb/sidorina_p_gradient_method/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#396 Порошин Владислав. Задача 1. Вариант 10. Технология TBB. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/tbb/poroshin_v_multi_integral_with_trapez_method/func_tests/main.cpp
  tasks/tbb/poroshin_v_multi_integral_with_trapez_method/include/ops_tbb.hpp
  tasks/tbb/poroshin_v_multi_integral_with_trapez_method/perf_tests/main.cpp
  tasks/tbb/poroshin_v_multi_integral_with_trapez_method/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#493 FIX Цацын Александр. Вариант 19. Технология SEQ,OMP. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/omp/tsatsyn_a_radix_sort_simple_merge/perf_tests/main.cpp
  tasks/seq/tsatsyn_a_radix_sort_simple_merge/perf_tests/main.cpp
Labels: task:seq, task:omp

#178 Филатьева Елизавета. Вариант 11. Технология TBB. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/tbb/filateva_e_simpson/func_tests/main.cpp
  tasks/tbb/filateva_e_simpson/include/ops_tbb.hpp
  tasks/tbb/filateva_e_simpson/perf_tests/main.cpp
  tasks/tbb/filateva_e_simpson/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#284 Малышев Антон. Задача 1. Вариант 28. Технология TBB. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/tbb/malyshev_a_increase_contrast_by_histogram/data/input.jpg
  tasks/tbb/malyshev_a_increase_contrast_by_histogram/data/reference.jpg
  tasks/tbb/malyshev_a_increase_contrast_by_histogram/func_tests/main.cpp
  tasks/tbb/malyshev_a_increase_contrast_by_histogram/include/ops_tbb.hpp
  tasks/tbb/malyshev_a_increase_contrast_by_histogram/perf_tests/main.cpp
  tasks/tbb/malyshev_a_increase_contrast_by_histogram/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#273 Филатьев Владислав. Технология TBB. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/tbb/filatev_v_foks/func_tests/main.cpp
  tasks/tbb/filatev_v_foks/include/ops_tbb.hpp
  tasks/tbb/filatev_v_foks/perf_tests/main.cpp
  tasks/tbb/filatev_v_foks/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander, wait approvers

#488 FIX: Васильев Сергей. Вариант 11. seq and omp perf tests optimization
  tasks/omp/vasilev_s_simpson_multidim/perf_tests/main.cpp
  tasks/omp/vasilev_s_simpson_multidim/src/ops_omp.cpp
  tasks/seq/vasilev_s_simpson_multidim/perf_tests/main.cpp
Labels: task:seq, task:omp, approved - Arseniy

#286 Ермолаев Владислав. Задача 1. Вариант 22. Технология TBB. Построение выпуклой оболочки – проход Грэхема.
  tasks/tbb/ermolaev_v_graham_scan/func_tests/main.cpp
  tasks/tbb/ermolaev_v_graham_scan/include/ops_tbb.hpp
  tasks/tbb/ermolaev_v_graham_scan/perf_tests/main.cpp
  tasks/tbb/ermolaev_v_graham_scan/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#361 Холин Кирилл. Задача 1. Вариант 9. Технология TBB. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/tbb/kholin_k_multidimensional_integrals_rectangle/func_tests/main.cpp
  tasks/tbb/kholin_k_multidimensional_integrals_rectangle/include/ops_tbb.hpp
  tasks/tbb/kholin_k_multidimensional_integrals_rectangle/perf_tests/main.cpp
  tasks/tbb/kholin_k_multidimensional_integrals_rectangle/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#409 Колоколова Дарья. Вариант 11. Технология TBB. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/tbb/kolokolova_d_integral_simpson_method/func_tests/main.cpp
  tasks/tbb/kolokolova_d_integral_simpson_method/include/ops_tbb.hpp
  tasks/tbb/kolokolova_d_integral_simpson_method/perf_tests/main.cpp
  tasks/tbb/kolokolova_d_integral_simpson_method/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#411 Владимирова Юлия. Вариант 12. Технология TBB. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/tbb/vladimirova_j_m_monte_karlo/func_tests/main.cpp
  tasks/tbb/vladimirova_j_m_monte_karlo/include/ops_tbb.hpp
  tasks/tbb/vladimirova_j_m_monte_karlo/perf_tests/main.cpp
  tasks/tbb/vladimirova_j_m_monte_karlo/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#455 Лаганина Елена. Задача 1.Вариант 29. Технология TBB.Маркировка компонент на бинарном изображении (черные области соответствуют объектам, белые – фону).
  tasks/tbb/laganina_e_component_labeling/func_tests/main.cpp
  tasks/tbb/laganina_e_component_labeling/include/ops_tbb.hpp
  tasks/tbb/laganina_e_component_labeling/perf_tests/main.cpp
  tasks/tbb/laganina_e_component_labeling/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#458 Отурин Александр. Вариант 23. Технология TBB. Построение выпуклой оболочки – проход Джарвиса.
  tasks/tbb/oturin_a_gift_wrapping/func_tests/main.cpp
  tasks/tbb/oturin_a_gift_wrapping/include/ops_tbb.hpp
  tasks/tbb/oturin_a_gift_wrapping/perf_tests/main.cpp
  tasks/tbb/oturin_a_gift_wrapping/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#507 [FIX Rename]Садиков Иван. Задача 2. Вариант 5. Умножение разреженных матриц (CCS)
  tasks/omp/sadikov_I_SparseMatrixMultiplication/func_tests/main.cpp
  tasks/omp/sadikov_I_SparseMatrixMultiplication/include/SparseMatrix.hpp
  tasks/omp/sadikov_I_SparseMatrixMultiplication/include/ops_omp.hpp
  tasks/omp/sadikov_I_SparseMatrixMultiplication/perf_tests/main.cpp
  tasks/omp/sadikov_I_SparseMatrixMultiplication/src/SparseMatrix.cpp
  tasks/omp/sadikov_I_SparseMatrixMultiplication/src/ops_omp.cpp
  tasks/tbb/sadikov_I_SparseMatrixMultiplication/func_tests/main.cpp
  tasks/tbb/sadikov_I_SparseMatrixMultiplication/include/SparseMatrix.hpp
  tasks/tbb/sadikov_I_SparseMatrixMultiplication/include/ops_tbb.hpp
  tasks/tbb/sadikov_I_SparseMatrixMultiplication/perf_tests/main.cpp
  tasks/tbb/sadikov_I_SparseMatrixMultiplication/src/SparseMatrix.cpp
  tasks/tbb/sadikov_I_SparseMatrixMultiplication/src/ops_tbb.cpp
Labels: task:omp, task:tbb

#159 Шведова Виталина. Вариант 22. Технология TBB. Построение выпуклой оболочки – проход Грэхема.
  tasks/tbb/shvedova_v_graham_convex_hull/func_tests/main.cpp
  tasks/tbb/shvedova_v_graham_convex_hull/include/ops_tbb.hpp
  tasks/tbb/shvedova_v_graham_convex_hull/perf_tests/main.cpp
  tasks/tbb/shvedova_v_graham_convex_hull/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#246 Коровин Никита. Вариант 14. Технология TBB. Сортировка Хоара с четно-нечетным слиянием Бэтчера.
  tasks/tbb/korovin_n_qsort_batcher/func_tests/main.cpp
  tasks/tbb/korovin_n_qsort_batcher/include/ops_tbb.hpp
  tasks/tbb/korovin_n_qsort_batcher/perf_tests/main.cpp
  tasks/tbb/korovin_n_qsort_batcher/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#330 Гусев Никита. Вариант 17. Технология TBB. Поразрядная сортировка для целых чисел с простым слиянием
  tasks/tbb/gusev_n_sorting_int_simple_merging/func_tests/main.cpp
  tasks/tbb/gusev_n_sorting_int_simple_merging/include/ops_tbb.hpp
  tasks/tbb/gusev_n_sorting_int_simple_merging/perf_tests/main.cpp
  tasks/tbb/gusev_n_sorting_int_simple_merging/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#381 Черных Андрей. Задача 3. Вариант 9. Технология TBB. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/tbb/chernykh_a_multidimensional_integral_rectangle/func_tests/main.cpp
  tasks/tbb/chernykh_a_multidimensional_integral_rectangle/include/ops_tbb.hpp
  tasks/tbb/chernykh_a_multidimensional_integral_rectangle/perf_tests/main.cpp
  tasks/tbb/chernykh_a_multidimensional_integral_rectangle/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#258 Константинов Илья. Вариант 20. Технология TBB. Поразрядная сортировка для вещественных чисел (тип double) с четно-нечетным слиянием Бэтчера.
  tasks/tbb/Konstantinov_I_Sort_Batcher/func_tests/main.cpp
  tasks/tbb/Konstantinov_I_Sort_Batcher/include/ops_tbb.hpp
  tasks/tbb/Konstantinov_I_Sort_Batcher/perf_tests/main.cpp
  tasks/tbb/Konstantinov_I_Sort_Batcher/src/ops_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#548 [FIX] Тышкевич Артём. Вариант 13. Сортировка Хоара с простым слиянием.
  tasks/omp/tyshkevich_a_hoare_simple_merge/perf_tests/main.cpp
  tasks/seq/tyshkevich_a_hoare_simple_merge/perf_tests/main.cpp
Labels: task:seq, task:omp

#544 [fix perf] Петров Артем. Вариант 20. Поразрядная сортировка для вещественных чисел (тип double) с четно-нечетным слиянием Бэтчера.
  tasks/omp/petrov_a_radix_double_batcher/perf_tests/main.cpp
  tasks/seq/petrov_a_radix_double_batcher/perf_tests/main.cpp
Labels: task:seq, task:omp

#542 [FIX PERF] Коровин Никита. Вариант 14. Технология OMP. Сортировка Хоара с четно-нечетным слиянием Бэтчера.
  tasks/omp/korovin_n_qsort_batcher/perf_tests/main.cpp
Labels: task:omp

#539 [FIX PERF] Коровин Никита. Вариант 14. Технология SEQ. Сортировка Хоара с четно-нечетным слиянием Бэтчера.
  tasks/seq/korovin_n_qsort_batcher/perf_tests/main.cpp
Labels: task:seq

#558 [FIX] Ермилова Дарья. Задача 1. Вариант 16. Технология SEQ. Сортировка Шелла с четно-нечетным слиянием Бэтчера.
  tasks/seq/ermilova_d_shell_sort_batcher_even-odd_merger/src/ops_seq.cpp
  tasks/seq/ermilova_d_shell_sort_batcher_even_odd_merger/func_tests/main.cpp
  tasks/seq/ermilova_d_shell_sort_batcher_even_odd_merger/include/ops_seq.hpp
  tasks/seq/ermilova_d_shell_sort_batcher_even_odd_merger/perf_tests/main.cpp
  tasks/seq/ermilova_d_shell_sort_batcher_even_odd_merger/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#200 Плеханов Даниил. Задача 1. Вариант 21. Технология TBB. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры).
  tasks/tbb/plekhanov_d_dijkstra/func_tests/main.cpp
  tasks/tbb/plekhanov_d_dijkstra/include/ops_tbb.hpp
  tasks/tbb/plekhanov_d_dijkstra/perf_tests/main.cpp
  tasks/tbb/plekhanov_d_dijkstra/src/ops_tbb.cpp
Labels: task:tbb, approved - Alexander, on review - Arseniy

#247 Титов Семён. Задача 1. Вариант 24. Технология TBB. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/tbb/titov_s_ImageFilter_HorizGaussian3x3/func_tests/main.cpp
  tasks/tbb/titov_s_ImageFilter_HorizGaussian3x3/include/ops_tbb.hpp
  tasks/tbb/titov_s_ImageFilter_HorizGaussian3x3/perf_tests/main.cpp
  tasks/tbb/titov_s_ImageFilter_HorizGaussian3x3/src/ops_tbb.cpp
Labels: task:tbb, approved - Alexander, on review - Arseniy
