Repository learning-process/ppc-2025-threads, pull requests merged in 2025-03, with the labels that each got.

#9 Соцков Андрей. Задача 1. Вариант 15. Технология SEQ. Сортировка Шелла с простым слиянием.
  tasks/seq/sotskov_a_shell_sorting_with_simple_merging/func_tests/main.cpp
  tasks/seq/sotskov_a_shell_sorting_with_simple_merging/include/ops_seq.hpp
  tasks/seq/sotskov_a_shell_sorting_with_simple_merging/perf_tests/main.cpp
  tasks/seq/sotskov_a_shell_sorting_with_simple_merging/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#14 Крылов Михаил. Вариант 12. Технология TBB. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/tbb/krylov_m_monte_carlo/func_tests/main.cpp
  tasks/tbb/krylov_m_monte_carlo/include/mci_common.hpp
  tasks/tbb/krylov_m_monte_carlo/include/mci_seq.hpp
  tasks/tbb/krylov_m_monte_carlo/include/mci_tbb.hpp
  tasks/tbb/krylov_m_monte_carlo/perf_tests/main.cpp
  tasks/tbb/krylov_m_monte_carlo/src/mci_common.cpp
  tasks/tbb/krylov_m_monte_carlo/src/mci_seq.cpp
  tasks/tbb/krylov_m_monte_carlo/src/mci_tbb.cpp
Labels: task:tbb, approved - Arseniy, approved - Alexander

#15 Крылов Михаил. Вариант 12. Технология STL. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/stl/krylov_m_monte_carlo/func_tests/main.cpp
  tasks/stl/krylov_m_monte_carlo/include/mci_common.hpp
  tasks/stl/krylov_m_monte_carlo/include/mci_seq.hpp
  tasks/stl/krylov_m_monte_carlo/include/mci_stl.hpp
  tasks/stl/krylov_m_monte_carlo/perf_tests/main.cpp
  tasks/stl/krylov_m_monte_carlo/src/mci_common.cpp
  tasks/stl/krylov_m_monte_carlo/src/mci_seq.cpp
  tasks/stl/krylov_m_monte_carlo/src/mci_stl.cpp
Labels: task:stl, approved - Arseniy, approved - Alexander

#16 Крылов Михаил. Вариант 12. Технологии MPI+STL. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/all/krylov_m_monte_carlo/func_tests/main.cpp
  tasks/all/krylov_m_monte_carlo/include/mci_all.hpp
  tasks/all/krylov_m_monte_carlo/include/mci_common.hpp
  tasks/all/krylov_m_monte_carlo/include/mci_seq.hpp
  tasks/all/krylov_m_monte_carlo/perf_tests/main.cpp
  tasks/all/krylov_m_monte_carlo/src/mci_all.cpp
  tasks/all/krylov_m_monte_carlo/src/mci_common.cpp
  tasks/all/krylov_m_monte_carlo/src/mci_seq.cpp
Labels: task:all, approved - Arseniy, approved - Alexander

#17 Колодкин Григорий. Вариант 6. SEQ. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – строковый (CRS).
  tasks/seq/kolodkin_g_multiplication_matrix_CRS/func_tests/main.cpp
  tasks/seq/kolodkin_g_multiplication_matrix_CRS/include/ops_seq.hpp
  tasks/seq/kolodkin_g_multiplication_matrix_CRS/perf_tests/main.cpp
  tasks/seq/kolodkin_g_multiplication_matrix_CRS/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#18 Сорокин Андрей. Задача 1. Вариант 5. Технология SEQ. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – столбцовый (CCS).
  tasks/seq/sorokin_a_multiplication_sparse_matrices_double_ccs/func_tests/main.cpp
  tasks/seq/sorokin_a_multiplication_sparse_matrices_double_ccs/include/ops_seq.hpp
  tasks/seq/sorokin_a_multiplication_sparse_matrices_double_ccs/perf_tests/main.cpp
  tasks/seq/sorokin_a_multiplication_sparse_matrices_double_ccs/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#27 Холин Кирилл. Задача 1. Вариант 9. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/seq/kholin_k_multidimensional_integrals_rectangle/func_tests/main.cpp
  tasks/seq/kholin_k_multidimensional_integrals_rectangle/include/ops_seq.hpp
  tasks/seq/kholin_k_multidimensional_integrals_rectangle/perf_tests/main.cpp
  tasks/seq/kholin_k_multidimensional_integrals_rectangle/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#39 Ковалев Константин. Вариант 18. Технология SEQ. Поразрядная сортировка для целых чисел с четно-нечетным слиянием Бэтчера..
  tasks/seq/kovalev_k_radix_sort_batcher_merge/func_tests/main_func.cpp
  tasks/seq/kovalev_k_radix_sort_batcher_merge/include/header.hpp
  tasks/seq/kovalev_k_radix_sort_batcher_merge/perf_tests/main_perf.cpp
  tasks/seq/kovalev_k_radix_sort_batcher_merge/src/sourse.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#47 Малышев Антон. Задача 1. Вариант 28. Технология SEQ. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/seq/malyshev_a_increase_contrast_by_histogram/data/input.jpg
  tasks/seq/malyshev_a_increase_contrast_by_histogram/data/reference.jpg
  tasks/seq/malyshev_a_increase_contrast_by_histogram/func_tests/main.cpp
  tasks/seq/malyshev_a_increase_contrast_by_histogram/include/ops_seq.hpp
  tasks/seq/malyshev_a_increase_contrast_by_histogram/perf_tests/main.cpp
  tasks/seq/malyshev_a_increase_contrast_by_histogram/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#48 Хасаньянов Кирилл. Задача 1. Вариант 10. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/seq/khasanyanov_k_trapezoid_method/func_tests/main.cpp
  tasks/seq/khasanyanov_k_trapezoid_method/include/integrate_seq.hpp
  tasks/seq/khasanyanov_k_trapezoid_method/include/integrator.hpp
  tasks/seq/khasanyanov_k_trapezoid_method/perf_tests/main.cpp
  tasks/seq/khasanyanov_k_trapezoid_method/src/integrate_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#49 Сидорина Полина. Задача 1. Вариант 8. Технология SEQ. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/seq/sidorina_p_gradient_method/func_tests/main.cpp
  tasks/seq/sidorina_p_gradient_method/include/ops_seq.hpp
  tasks/seq/sidorina_p_gradient_method/perf_tests/main.cpp
  tasks/seq/sidorina_p_gradient_method/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#56 Милованкин Максим. Задача 1. Вариант 28. Технология SEQ. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/seq/milovankin_m_histogram_stretching/func_tests/main.cpp
  tasks/seq/milovankin_m_histogram_stretching/include/ops_seq.hpp
  tasks/seq/milovankin_m_histogram_stretching/perf_tests/main.cpp
  tasks/seq/milovankin_m_histogram_stretching/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy

#62 Порошин Владислав. Задача 1. Вариант 10. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/seq/poroshin_v_multi_integral_with_trapez_method/func_tests/main.cpp
  tasks/seq/poroshin_v_multi_integral_with_trapez_method/include/ops_seq.hpp
  tasks/seq/poroshin_v_multi_integral_with_trapez_method/perf_tests/main.cpp
  tasks/seq/poroshin_v_multi_integral_with_trapez_method/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#73 Казунин Никита. Технология SEQ. Вариант 12. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/seq/kazunin_n_montecarlo/func_tests/main.cpp
  tasks/seq/kazunin_n_montecarlo/include/ops_seq.hpp
  tasks/seq/kazunin_n_montecarlo/perf_tests/main.cpp
  tasks/seq/kazunin_n_montecarlo/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#76 Ануфриев Даниил. Задача 1. Вариант 11. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/seq/anufriev_d_integrals_simpson/func_tests/main.cpp
  tasks/seq/anufriev_d_integrals_simpson/include/ops_seq.hpp
  tasks/seq/anufriev_d_integrals_simpson/perf_tests/main.cpp
  tasks/seq/anufriev_d_integrals_simpson/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#78 Кораблев Владлен. SEQ. Вариант 27. Выделение ребер на изображении с использованием оператора Собеля.
  tasks/seq/korablev_v_sobel_edges/data/in/p1.png
  tasks/seq/korablev_v_sobel_edges/data/in/p2.png
  tasks/seq/korablev_v_sobel_edges/data/in/p3.png
  tasks/seq/korablev_v_sobel_edges/data/in/p4.png
  tasks/seq/korablev_v_sobel_edges/data/in/p5.png
  tasks/seq/korablev_v_sobel_edges/data/in/p6.png
  tasks/seq/korablev_v_sobel_edges/data/in/p7.png
  tasks/seq/korablev_v_sobel_edges/data/in/p8.png
  tasks/seq/korablev_v_sobel_edges/data/in/p9.png
  tasks/seq/korablev_v_sobel_edges/data/ref/p1.png
  tasks/seq/korablev_v_sobel_edges/data/ref/p2.png
  tasks/seq/korablev_v_sobel_edges/data/ref/p3.png
  tasks/seq/korablev_v_sobel_edges/data/ref/p4.png
  tasks/seq/korablev_v_sobel_edges/data/ref/p5.png
  tasks/seq/korablev_v_sobel_edges/data/ref/p6.png
  tasks/seq/korablev_v_sobel_edges/data/ref/p7.png
  tasks/seq/korablev_v_sobel_edges/data/ref/p8.png
  tasks/seq/korablev_v_sobel_edges/data/ref/p9.png
  tasks/seq/korablev_v_sobel_edges/func_tests/main.cpp
  tasks/seq/korablev_v_sobel_edges/include/ops_seq.hpp
  tasks/seq/korablev_v_sobel_edges/perf_tests/main.cpp
  tasks/seq/korablev_v_sobel_edges/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#84 Варфоломеев Григорий. Задача 1. Вариант 28. Технология SEQ. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/seq/varfolomeev_g_histogram_linear_stretching/data/cobble_mod.jpg
  tasks/seq/varfolomeev_g_histogram_linear_stretching/data/cobble_orig.jpg
  tasks/seq/varfolomeev_g_histogram_linear_stretching/func_tests/main.cpp
  tasks/seq/varfolomeev_g_histogram_linear_stretching/include/ops_seq.hpp
  tasks/seq/varfolomeev_g_histogram_linear_stretching/perf_tests/main.cpp
  tasks/seq/varfolomeev_g_histogram_linear_stretching/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#85 Дурыничев Дмитрий. Задача 1. Вариант 11. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/seq/durynichev_d_integrals_simpson_method/func_tests/main.cpp
  tasks/seq/durynichev_d_integrals_simpson_method/include/ops_seq.hpp
  tasks/seq/durynichev_d_integrals_simpson_method/perf_tests/main.cpp
  tasks/seq/durynichev_d_integrals_simpson_method/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#93 Белов Артём. Вариант 18. Технология SEQ. Поразрядная сортировка для целых чисел с четно-нечетным слиянием Бэтчера.
  tasks/seq/belov_a_radix_sort_with_batcher_mergesort/func_tests/main.cpp
  tasks/seq/belov_a_radix_sort_with_batcher_mergesort/include/ops_seq.hpp
  tasks/seq/belov_a_radix_sort_with_batcher_mergesort/perf_tests/main.cpp
  tasks/seq/belov_a_radix_sort_with_batcher_mergesort/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#26 Лопатин Илья. Вариант 12. Технология SEQ. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/seq/lopatin_i_monte_carlo/func_tests/lopatinMonteCarloFuncSeq.cpp
  tasks/seq/lopatin_i_monte_carlo/include/lopatinMonteCarloSeq.hpp
  tasks/seq/lopatin_i_monte_carlo/perf_tests/lopatinMonteCarloPerfSeq.cpp
  tasks/seq/lopatin_i_monte_carlo/src/lopatinMonteCarloSeq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#95 Ворошилов Виталий. Задача 1. Вариант 30. Технология SEQ. Построение выпуклой оболочки для компонент бинарного изображения.
  tasks/seq/voroshilov_v_convex_hull_components/data/0_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/0_image.png
  tasks/seq/voroshilov_v_convex_hull_components/data/0_incorrect.png
  tasks/seq/voroshilov_v_convex_hull_components/data/1_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/1_image.png
  tasks/seq/voroshilov_v_convex_hull_components/data/1_incorrect.png
  tasks/seq/voroshilov_v_convex_hull_components/data/2_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/2_image.png
  tasks/seq/voroshilov_v_convex_hull_components/data/3_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/3_image.png
  tasks/seq/voroshilov_v_convex_hull_components/data/4_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/4_image.png
  tasks/seq/voroshilov_v_convex_hull_components/data/5_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/5_image.png
  tasks/seq/voroshilov_v_convex_hull_components/data/6_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/6_image.png
  tasks/seq/voroshilov_v_convex_hull_components/data/7_expected.png
  tasks/seq/voroshilov_v_convex_hull_components/data/7_image.png
  tasks/seq/voroshilov_v_convex_hull_components/func_tests/main.cpp
  tasks/seq/voroshilov_v_convex_hull_components/include/chc.hpp
  tasks/seq/voroshilov_v_convex_hull_components/include/chc_seq.hpp
  tasks/seq/voroshilov_v_convex_hull_components/perf_tests/main.cpp
  tasks/seq/voroshilov_v_convex_hull_components/src/chc.cpp
  tasks/seq/voroshilov_v_convex_hull_components/src/chc_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#116 Владимирова Юлия. Задача 1. Вариант 12. Технология SEQ. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/seq/vladimirova_j_m_monte_karlo_seq/func_tests/main.cpp
  tasks/seq/vladimirova_j_m_monte_karlo_seq/include/ops_seq.hpp
  tasks/seq/vladimirova_j_m_monte_karlo_seq/perf_tests/main.cpp
  tasks/seq/vladimirova_j_m_monte_karlo_seq/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#118 Фролова Елизавета. Вариант 27. Технология SEQ. Выделение ребер на изображении с использованием оператора Собеля.
  tasks/seq/frolova_e_Sobel_filter/func_tests/main.cpp
  tasks/seq/frolova_e_Sobel_filter/include/ops_seq.hpp
  tasks/seq/frolova_e_Sobel_filter/perf_tests/main.cpp
  tasks/seq/frolova_e_Sobel_filter/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#155 fix: Крылов Михаил. Вариант 12. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/all/krylov_m_monte_carlo/func_tests/main.cpp
  tasks/all/krylov_m_monte_carlo/perf_tests/main.cpp
  tasks/omp/krylov_m_monte_carlo/func_tests/main.cpp
  tasks/omp/krylov_m_monte_carlo/perf_tests/main.cpp
  tasks/seq/krylov_m_monte_carlo/func_tests/main.cpp
  tasks/seq/krylov_m_monte_carlo/perf_tests/main.cpp
  tasks/stl/krylov_m_monte_carlo/func_tests/main.cpp
  tasks/stl/krylov_m_monte_carlo/perf_tests/main.cpp
  tasks/tbb/krylov_m_monte_carlo/func_tests/main.cpp
  tasks/tbb/krylov_m_monte_carlo/perf_tests/main.cpp
Labels: task:seq, task:all, task:omp, task:tbb, task:stl

#7 Зайцев Артем. Задача 1. Вариант 29. Технология SEQ. Маркировка компонент на бинарном изображении.
  tasks/seq/zaitsev_a_bw_labeling/data/help.jpg
  tasks/seq/zaitsev_a_bw_labeling/data/kittens.jpg
  tasks/seq/zaitsev_a_bw_labeling/data/rombs.jpg
  tasks/seq/zaitsev_a_bw_labeling/data/silly.jpg
  tasks/seq/zaitsev_a_bw_labeling/data/trig.jpg
  tasks/seq/zaitsev_a_bw_labeling/func_tests/main.cpp
  tasks/seq/zaitsev_a_bw_labeling/include/disjoint_set.hpp
  tasks/seq/zaitsev_a_bw_labeling/include/ops_seq.hpp
  tasks/seq/zaitsev_a_bw_labeling/perf_tests/main.cpp
  tasks/seq/zaitsev_a_bw_labeling/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#80 Цацын Александр. Вариант 19. Технология SEQ. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/seq/tsatsyn_a_radix_sort_simple_merge_seq/func_tests/main.cpp
  tasks/seq/tsatsyn_a_radix_sort_simple_merge_seq/include/ops_seq.hpp
  tasks/seq/tsatsyn_a_radix_sort_simple_merge_seq/perf_tests/main.cpp
  tasks/seq/tsatsyn_a_radix_sort_simple_merge_seq/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#108 Шведова Виталина. Вариант 22. Технология SEQ. Построение выпуклой оболочки – проход Грэхема.
  tasks/seq/shvedova_v_graham_convex_hull/func_tests/main.cpp
  tasks/seq/shvedova_v_graham_convex_hull/include/ops_seq.hpp
  tasks/seq/shvedova_v_graham_convex_hull/perf_tests/main.cpp
  tasks/seq/shvedova_v_graham_convex_hull/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#36 Одинцов Михаил. Задача 1. Вариант 1. Технология SEQ. Умножение плотных матриц,типа double,блочная схема, алгоритм Кэннона
  tasks/seq/odintsov_m_multmatrix_cannon/func_tests/main.cpp
  tasks/seq/odintsov_m_multmatrix_cannon/include/ops_seq.hpp
  tasks/seq/odintsov_m_multmatrix_cannon/perf_tests/main.cpp
  tasks/seq/odintsov_m_multmatrix_cannon/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#41 Отурин Александр. Вариант 23. Технология SEQ. Построение выпуклой оболочки – проход Джарвиса.
  tasks/seq/oturin_a_gift_wrapping/func_tests/main.cpp
  tasks/seq/oturin_a_gift_wrapping/include/ops_seq.hpp
  tasks/seq/oturin_a_gift_wrapping/perf_tests/main.cpp
  tasks/seq/oturin_a_gift_wrapping/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#107 Петров Артем. Вариант 20. Технология SEQ. Поразрядная сортировка для вещественных чисел (тип double) с четно-нечетным слиянием Бэтчера.
  tasks/seq/petrov_a_radix_double_batcher/func_tests/main.cpp
  tasks/seq/petrov_a_radix_double_batcher/include/ops_seq.hpp
  tasks/seq/petrov_a_radix_double_batcher/perf_tests/main.cpp
  tasks/seq/petrov_a_radix_double_batcher/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#105 Мурадов Майк. Технология SEQ. Вариант 9. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/seq/muradov_m_rect_int/func_tests/main.cpp
  tasks/seq/muradov_m_rect_int/include/ops_seq.hpp
  tasks/seq/muradov_m_rect_int/perf_tests/main.cpp
  tasks/seq/muradov_m_rect_int/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#53 Борисов Сергей. Задача 1. Вариант 3. Технология SEQ. Умножение плотных матриц. Элементы типа double. Алгоритм Штрассена.
  tasks/seq/borisov_s_strassen_seq/func_tests/main.cpp
  tasks/seq/borisov_s_strassen_seq/include/ops_seq.hpp
  tasks/seq/borisov_s_strassen_seq/perf_tests/main.cpp
  tasks/seq/borisov_s_strassen_seq/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander, wait ci

#52 Смирнов Илья. Задача 1. Вариант 17. Технология SEQ. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/seq/smirnov_i_radix_sort_simple_merge/func_tests/main.cpp
  tasks/seq/smirnov_i_radix_sort_simple_merge/include/ops_seq.hpp
  tasks/seq/smirnov_i_radix_sort_simple_merge/perf_tests/main.cpp
  tasks/seq/smirnov_i_radix_sort_simple_merge/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander, wait ci

#43 Садиков Иван. Задача 1. Вариант 5. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – столбцовый (CCS).
  tasks/seq/Sadikov_I_SparesMatrixMultiplication/func_tests/main.cpp
  tasks/seq/Sadikov_I_SparesMatrixMultiplication/include/SparesMatrix.hpp
  tasks/seq/Sadikov_I_SparesMatrixMultiplication/include/ops_seq.hpp
  tasks/seq/Sadikov_I_SparesMatrixMultiplication/perf_tests/main.cpp
  tasks/seq/Sadikov_I_SparesMatrixMultiplication/src/SparesMatrix.cpp
  tasks/seq/Sadikov_I_SparesMatrixMultiplication/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander, wait ci

#106 Тышкевич Артём. Технология SEQ. Вариант 13. Сортировка Хоара с простым слиянием.
  tasks/seq/tyshkevich_a_hoare_simple_merge/func_tests/main.cpp
  tasks/seq/tyshkevich_a_hoare_simple_merge/include/ops_seq.hpp
  tasks/seq/tyshkevich_a_hoare_simple_merge/perf_tests/main.cpp
  tasks/seq/tyshkevich_a_hoare_simple_merge/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#58 Калякина Анастасия. Задача 1. Вариант 15. Технология SEQ. Сортировка Шелла с простым слиянием.
  tasks/seq/kalyakina_a_Shell_with_simple_merge/func_tests/main.cpp
  tasks/seq/kalyakina_a_Shell_with_simple_merge/include/ops_seq.hpp
  tasks/seq/kalyakina_a_Shell_with_simple_merge/perf_tests/main.cpp
  tasks/seq/kalyakina_a_Shell_with_simple_merge/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#29 Шульпин Илья. Вариант 23. Технология SEQ. Построение выпуклой оболочки – проход Джарвиса.
  tasks/seq/shulpin_i_Jarvis_passage/func_tests/main.cpp
  tasks/seq/shulpin_i_Jarvis_passage/include/ops_seq.hpp
  tasks/seq/shulpin_i_Jarvis_passage/perf_tests/main.cpp
  tasks/seq/shulpin_i_Jarvis_passage/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#32 Шурыгин Сергей. Задача 1. Вариант 9. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/seq/shurigin_s_integrals_square/func_tests/main.cpp
  tasks/seq/shurigin_s_integrals_square/include/ops_seq.hpp
  tasks/seq/shurigin_s_integrals_square/perf_tests/main.cpp
  tasks/seq/shurigin_s_integrals_square/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#55 Шляков Максим. Вариант 15. Технология SEQ. Сортировка Шелла с простым слиянием.
  tasks/seq/shlyakov_m_shell_sort/func_tests/main.cpp
  tasks/seq/shlyakov_m_shell_sort/include/ops_seq.hpp
  tasks/seq/shlyakov_m_shell_sort/perf_tests/main.cpp
  tasks/seq/shlyakov_m_shell_sort/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#61 Ермилова Дарья. Задача 1. Вариант 16. Технология SEQ. Сортировка Шелла с четно-нечетным слиянием Бэтчера.
  tasks/seq/ermilova_d_shell_sort_batcher_even-odd_merger/func_tests/main.cpp
  tasks/seq/ermilova_d_shell_sort_batcher_even-odd_merger/include/ops_seq.hpp
  tasks/seq/ermilova_d_shell_sort_batcher_even-odd_merger/perf_tests/main.cpp
  tasks/seq/ermilova_d_shell_sort_batcher_even-odd_merger/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#64 Черных Андрей. Задача 1. Вариант 9. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/seq/chernykh_a_multidimensional_integral_rectangle/func_tests/main.cpp
  tasks/seq/chernykh_a_multidimensional_integral_rectangle/include/ops_seq.hpp
  tasks/seq/chernykh_a_multidimensional_integral_rectangle/perf_tests/main.cpp
  tasks/seq/chernykh_a_multidimensional_integral_rectangle/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#65 Николаев Роман. Задача 1. Вариант 13. Технология SEQ. Сортировка Хоара с простым слиянием.
  tasks/seq/nikolaev_r_hoare_sort_simple_merge/func_tests/main.cpp
  tasks/seq/nikolaev_r_hoare_sort_simple_merge/include/ops_seq.hpp
  tasks/seq/nikolaev_r_hoare_sort_simple_merge/perf_tests/main.cpp
  tasks/seq/nikolaev_r_hoare_sort_simple_merge/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#67 Лаганина Елена. Задача 1. Вариант 29. Технология SEQ. Маркировка компонент на бинарном изображении (черные области соответствуют объектам, белые – фону).
  tasks/seq/laganina_e_component_labeling/func_tests/main.cpp
  tasks/seq/laganina_e_component_labeling/include/ops_seq.hpp
  tasks/seq/laganina_e_component_labeling/perf_tests/main.cpp
  tasks/seq/laganina_e_component_labeling/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#69 Кудряшова Ирина. Вариант 20. Технология SEQ. Поразрядная сортировка для вещественных чисел (тип double) с четно-нечетным слиянием Бэтчера
  tasks/seq/kudryashova_i_radix_batcher/func_tests/kudryashovaRadixBatcherFuncSeq.cpp
  tasks/seq/kudryashova_i_radix_batcher/include/kudryashovaRadixBatcherSeq.hpp
  tasks/seq/kudryashova_i_radix_batcher/perf_tests/kudryashovaRadixBatcherPerfSeq.cpp
  tasks/seq/kudryashova_i_radix_batcher/src/kudryashovaRadixBatcherSeq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#46 Волочаев Серафим. Вариант 16. Технология: SEQ. Сортировка Шелла с четно-нечетным слиянием Бэтчера.
  tasks/seq/volochaev_s_Shell_sort_with_Batchers_even-odd_merge/func_tests/main.cpp
  tasks/seq/volochaev_s_Shell_sort_with_Batchers_even-odd_merge/include/ops_seq.hpp
  tasks/seq/volochaev_s_Shell_sort_with_Batchers_even-odd_merge/perf_tests/main.cpp
  tasks/seq/volochaev_s_Shell_sort_with_Batchers_even-odd_merge/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#167 Порошин Владислав. Задача 1. Вариант 10. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/seq/poroshin_v_multi_integral_with_trapez_method/perf_tests/main.cpp
Labels: task:seq

#74 Вавилов Виталий. Задача 1. Вариант 1. Технология SEQ. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Кэннона.
  tasks/seq/vavilov_v_cannon/func_tests/main.cpp
  tasks/seq/vavilov_v_cannon/include/ops_seq.hpp
  tasks/seq/vavilov_v_cannon/perf_tests/main.cpp
  tasks/seq/vavilov_v_cannon/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#83 Тюрин Михаил. Технология SEQ. 6 вариант. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – строковый (CRS).
  tasks/seq/tyurin_m_matmul_crs_complex/func_tests/main.cpp
  tasks/seq/tyurin_m_matmul_crs_complex/include/ops_seq.hpp
  tasks/seq/tyurin_m_matmul_crs_complex/perf_tests/main.cpp
  tasks/seq/tyurin_m_matmul_crs_complex/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#91 Ведерникова Ксения. Технология SEQ. Вариант 24. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/seq/vedernikova_k_gauss_seq/func_tests/main.cpp
  tasks/seq/vedernikova_k_gauss_seq/include/ops_seq.hpp
  tasks/seq/vedernikova_k_gauss_seq/perf_tests/main.cpp
  tasks/seq/vedernikova_k_gauss_seq/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#114 Шкуринская Елена. Задача 1. Вариант 29. Технология SEQ. Маркировка компонент на бинарном изображении.
  tasks/seq/shkurinskaya_e_bin_labeling/func_tests/main.cpp
  tasks/seq/shkurinskaya_e_bin_labeling/include/ops_seq.hpp
  tasks/seq/shkurinskaya_e_bin_labeling/perf_tests/main.cpp
  tasks/seq/shkurinskaya_e_bin_labeling/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#131 Сарафанов Максим. Вариант 1. Технология SEQ. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Кэннона
  tasks/seq/sarafanov_m_CanonMatMul/func_tests/main.cpp
  tasks/seq/sarafanov_m_CanonMatMul/include/CanonMatrix.hpp
  tasks/seq/sarafanov_m_CanonMatMul/include/ops_seq.hpp
  tasks/seq/sarafanov_m_CanonMatMul/perf_tests/main.cpp
  tasks/seq/sarafanov_m_CanonMatMul/src/CanonMatrix.cpp
  tasks/seq/sarafanov_m_CanonMatMul/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#109 Лопатин Илья. Вариант 12. Технология OMP. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/omp/lopatin_i_monte_carlo/func_tests/lopatinMonteCarloFuncOMP.cpp
  tasks/omp/lopatin_i_monte_carlo/include/lopatinMonteCarloOMP.hpp
  tasks/omp/lopatin_i_monte_carlo/perf_tests/lopatinMonteCarloPerfOMP.cpp
  tasks/omp/lopatin_i_monte_carlo/src/lopatinMonteCarloOMP.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#142 Филатьев Владислав. Технология SEQ. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/seq/filatev_v_foks/func_tests/main.cpp
  tasks/seq/filatev_v_foks/include/ops_seq.hpp
  tasks/seq/filatev_v_foks/perf_tests/main.cpp
  tasks/seq/filatev_v_foks/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander, wait ci

#143 Филатьев Владислав. Технология OMP. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/omp/filatev_v_foks/func_tests/main.cpp
  tasks/omp/filatev_v_foks/include/ops_omp.hpp
  tasks/omp/filatev_v_foks/perf_tests/main.cpp
  tasks/omp/filatev_v_foks/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander, wait ci

#21 Рамс Сергей. Вариант 25. Технология SEQ. Линейная фильтрация изображений (вертикальное разбиение). Ядро Гаусса 3x3.
  tasks/seq/rams_s_vertical_gauss_3x3/data/flower-blurred.png
  tasks/seq/rams_s_vertical_gauss_3x3/data/flower.png
  tasks/seq/rams_s_vertical_gauss_3x3/func_tests/main.cpp
  tasks/seq/rams_s_vertical_gauss_3x3/include/main.hpp
  tasks/seq/rams_s_vertical_gauss_3x3/perf_tests/main.cpp
  tasks/seq/rams_s_vertical_gauss_3x3/src/main.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander, requires > 4 reviews

#90 Вершинина Александра. Задача 1. Вариант 14. Технология SEQ. Сортировка Хоара с четно-нечетным слиянием Бэтчера.
  tasks/seq/vershinina_a_hoare_sort_seq/func_tests/main.cpp
  tasks/seq/vershinina_a_hoare_sort_seq/include/ops_seq.hpp
  tasks/seq/vershinina_a_hoare_sort_seq/perf_tests/main.cpp
  tasks/seq/vershinina_a_hoare_sort_seq/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander, wait ci

#81 Чижов Максим. Задача 1. Вариант 10. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/seq/chizhov_m_trapezoid_method/func_tests/main.cpp
  tasks/seq/chizhov_m_trapezoid_method/include/ops_seq.hpp
  tasks/seq/chizhov_m_trapezoid_method/perf_tests/main.cpp
  tasks/seq/chizhov_m_trapezoid_method/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander, wait ci

#79 Бессонов Егор. Задача 1. Вариант 19. Технология SEQ. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/seq/bessonov_e_radix_sort_simple_merging/func_tests/main.cpp
  tasks/seq/bessonov_e_radix_sort_simple_merging/include/ops_seq.hpp
  tasks/seq/bessonov_e_radix_sort_simple_merging/perf_tests/main.cpp
  tasks/seq/bessonov_e_radix_sort_simple_merging/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander, wait ci

#72 Козлова Екатерина. Вариант 28. SEQ. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/seq/kozlova_e_contrast_enhancement/func_tests/main.cpp
  tasks/seq/kozlova_e_contrast_enhancement/include/ops_seq.hpp
  tasks/seq/kozlova_e_contrast_enhancement/perf_tests/main.cpp
  tasks/seq/kozlova_e_contrast_enhancement/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#71 Коротин Егор. Задача 1. Вариант 4. Технология SEQ. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – строковый (CRS).
  tasks/seq/korotin_e_crs_multiplication/func_tests/main.cpp
  tasks/seq/korotin_e_crs_multiplication/include/ops_seq.hpp
  tasks/seq/korotin_e_crs_multiplication/perf_tests/main.cpp
  tasks/seq/korotin_e_crs_multiplication/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander, wait ci

#42 Колоколова Дарья. Задача 1. Вариант 11. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/seq/kolokolova_d_integral_simpson_method_seq/func_tests/main.cpp
  tasks/seq/kolokolova_d_integral_simpson_method_seq/include/ops_seq.hpp
  tasks/seq/kolokolova_d_integral_simpson_method_seq/perf_tests/main.cpp
  tasks/seq/kolokolova_d_integral_simpson_method_seq/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#28 Титов Семён. Задача 1. Вариант 24. Технология SEQ. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/seq/titov_s_ImageFilter_HorizGaussian3x3/func_tests/main.cpp
  tasks/seq/titov_s_ImageFilter_HorizGaussian3x3/include/ops_seq.hpp
  tasks/seq/titov_s_ImageFilter_HorizGaussian3x3/perf_tests/main.cpp
  tasks/seq/titov_s_ImageFilter_HorizGaussian3x3/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander, wait ci

#150 Шарамыгина Ирина. Вариант 12. Технология SEQ. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/seq/sharamygina_i_multi_dim_monte_carlo/func_tests/func_tests.cpp
  tasks/seq/sharamygina_i_multi_dim_monte_carlo/include/ops_seq.h
  tasks/seq/sharamygina_i_multi_dim_monte_carlo/perf_tests/perf_tests.cpp
  tasks/seq/sharamygina_i_multi_dim_monte_carlo/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#125 Константинов Илья. Вариант 20. Технология SEQ. Поразрядная сортировка для вещественных чисел (тип double) с четно-нечетным слиянием Бэтчера.
  tasks/seq/Konstantinov_I_Sort_Batcher/func_tests/main.cpp
  tasks/seq/Konstantinov_I_Sort_Batcher/include/ops_seq.hpp
  tasks/seq/Konstantinov_I_Sort_Batcher/perf_tests/main.cpp
  tasks/seq/Konstantinov_I_Sort_Batcher/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, on review - Alexander

#157 Карасева Екатерина. Задача 1. Вариант 8. Технология SEQ. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/seq/karaseva_e_congrad/func_tests/main.cpp
  tasks/seq/karaseva_e_congrad/include/ops_seq.hpp
  tasks/seq/karaseva_e_congrad/perf_tests/main.cpp
  tasks/seq/karaseva_e_congrad/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#59 Малышев Владимир. SEQ. Вариант 19. "Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием."
  tasks/seq/malyshev_v_radix_sort/func_tests/main.cpp
  tasks/seq/malyshev_v_radix_sort/include/ops_seq.hpp
  tasks/seq/malyshev_v_radix_sort/perf_tests/main.cpp
  tasks/seq/malyshev_v_radix_sort/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#75 Моисеев Артём. Задача 2. Вариант 2. Технология OMP. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/omp/moiseev_a_mult_mat/func_tests/main.cpp
  tasks/omp/moiseev_a_mult_mat/include/ops_omp.hpp
  tasks/omp/moiseev_a_mult_mat/perf_tests/main.cpp
  tasks/omp/moiseev_a_mult_mat/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#82 Кораблев Владлен. OMP. Вариант 27. Выделение ребер на изображении с использованием оператора Собеля.
  tasks/omp/korablev_v_sobel_edges/data/in/p1.png
  tasks/omp/korablev_v_sobel_edges/data/in/p2.png
  tasks/omp/korablev_v_sobel_edges/data/in/p3.png
  tasks/omp/korablev_v_sobel_edges/data/in/p4.png
  tasks/omp/korablev_v_sobel_edges/data/in/p5.png
  tasks/omp/korablev_v_sobel_edges/data/in/p6.png
  tasks/omp/korablev_v_sobel_edges/data/in/p7.png
  tasks/omp/korablev_v_sobel_edges/data/in/p8.png
  tasks/omp/korablev_v_sobel_edges/data/in/p9.png
  tasks/omp/korablev_v_sobel_edges/data/ref/p1.png
  tasks/omp/korablev_v_sobel_edges/data/ref/p2.png
  tasks/omp/korablev_v_sobel_edges/data/ref/p3.png
  tasks/omp/korablev_v_sobel_edges/data/ref/p4.png
  tasks/omp/korablev_v_sobel_edges/data/ref/p5.png
  tasks/omp/korablev_v_sobel_edges/data/ref/p6.png
  tasks/omp/korablev_v_sobel_edges/data/ref/p7.png
  tasks/omp/korablev_v_sobel_edges/data/ref/p8.png
  tasks/omp/korablev_v_sobel_edges/data/ref/p9.png
  tasks/omp/korablev_v_sobel_edges/func_tests/main.cpp
  tasks/omp/korablev_v_sobel_edges/include/ops_omp.hpp
  tasks/omp/korablev_v_sobel_edges/include/ops_seq.hpp
  tasks/omp/korablev_v_sobel_edges/perf_tests/main.cpp
  tasks/omp/korablev_v_sobel_edges/src/ops_omp.cpp
  tasks/omp/korablev_v_sobel_edges/src/ops_seq.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#94 Цацын Александр. Вариант 19. Технология OMP. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/omp/tsatsyn_a_radix_sort_simple_merge_omp/func_tests/main.cpp
  tasks/omp/tsatsyn_a_radix_sort_simple_merge_omp/include/ops_omp.hpp
  tasks/omp/tsatsyn_a_radix_sort_simple_merge_omp/perf_tests/main.cpp
  tasks/omp/tsatsyn_a_radix_sort_simple_merge_omp/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#111 Шведова Виталина. Вариант 22. Технология OMP. Построение выпуклой оболочки – проход Грэхема.
  tasks/omp/shvedova_v_graham_convex_hull/func_tests/main.cpp
  tasks/omp/shvedova_v_graham_convex_hull/include/ops_omp.hpp
  tasks/omp/shvedova_v_graham_convex_hull/perf_tests/main.cpp
  tasks/omp/shvedova_v_graham_convex_hull/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#66 Харин Матвей. Задача 1. Вариант 9. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/seq/kharin_m_multidimensional_integral_calc/func_tests/main.cpp
  tasks/seq/kharin_m_multidimensional_integral_calc/include/ops_seq.hpp
  tasks/seq/kharin_m_multidimensional_integral_calc/perf_tests/main.cpp
  tasks/seq/kharin_m_multidimensional_integral_calc/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#11 Соловьев Данила. Задача 1. Вариант 15. Технология SEQ. Сортировка Шелла с простым слиянием.
  tasks/seq/solovyev_d_shell_sort_simple/func_tests/main.cpp
  tasks/seq/solovyev_d_shell_sort_simple/include/ops_seq.hpp
  tasks/seq/solovyev_d_shell_sort_simple/perf_tests/main.cpp
  tasks/seq/solovyev_d_shell_sort_simple/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#63 Лысов Иван. Задача 1. Вариант 2. Технология SEQ. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/seq/lysov_i_matrix_multiplication_Fox_algorithm/func_tests/main.cpp
  tasks/seq/lysov_i_matrix_multiplication_Fox_algorithm/include/ops_seq.hpp
  tasks/seq/lysov_i_matrix_multiplication_Fox_algorithm/perf_tests/main.cpp
  tasks/seq/lysov_i_matrix_multiplication_Fox_algorithm/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander, wait ci

#89 Соцков Андрей. Задача 1. Вариант 15. Технология OMP. Сортировка Шелла с простым слиянием.
  tasks/omp/sotskov_a_shell_sorting_with_simple_merging/func_tests/main.cpp
  tasks/omp/sotskov_a_shell_sorting_with_simple_merging/include/ops_omp.hpp
  tasks/omp/sotskov_a_shell_sorting_with_simple_merging/perf_tests/main.cpp
  tasks/omp/sotskov_a_shell_sorting_with_simple_merging/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander, wait ci

#34 Петров Олег. Задача 1. Вариант 25. Технология SEQ. Линейная фильтрация изображений (вертикальное разбиение). Ядро Гаусса 3x3.
  tasks/seq/petrov_o_vertical_image_filtration/func_tests/main.cpp
  tasks/seq/petrov_o_vertical_image_filtration/include/ops_seq.hpp
  tasks/seq/petrov_o_vertical_image_filtration/perf_tests/main.cpp
  tasks/seq/petrov_o_vertical_image_filtration/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#45 Созонов Илья. Задача 1. Вариант 26. Технология SEQ. Линейная фильтрация изображений (блочное разбиение). Ядро Гаусса 3x3.
  tasks/seq/sozonov_i_image_filtering_block_partitioning/func_tests/main.cpp
  tasks/seq/sozonov_i_image_filtering_block_partitioning/include/ops_seq.hpp
  tasks/seq/sozonov_i_image_filtering_block_partitioning/perf_tests/main.cpp
  tasks/seq/sozonov_i_image_filtering_block_partitioning/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#40 Моисеев Артём. Задача 1. Вариант 2. Технология SEQ. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Фокса.
  tasks/seq/moiseev_a_mult_mat/func_tests/main.cpp
  tasks/seq/moiseev_a_mult_mat/include/ops_seq.hpp
  tasks/seq/moiseev_a_mult_mat/perf_tests/main.cpp
  tasks/seq/moiseev_a_mult_mat/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#38 Шуравина Оксана. Задача 1. Вариант 13. Технология SEQ. Сортировка Хоара с простым слиянием.
  tasks/seq/shuravina_o_hoare_simple_merger/func_tests/main.cpp
  tasks/seq/shuravina_o_hoare_simple_merger/include/ops_seq.hpp
  tasks/seq/shuravina_o_hoare_simple_merger/perf_tests/main.cpp
  tasks/seq/shuravina_o_hoare_simple_merger/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#188 fix: Казунин Никита. Технология SEQ. Вариант 12. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/seq/kazunin_n_montecarlo/func_tests/main.cpp
  tasks/seq/kazunin_n_montecarlo/include/ops_seq.hpp
  tasks/seq/kazunin_n_montecarlo/perf_tests/main.cpp
  tasks/seq/kazunin_n_montecarlo/src/ops_seq.cpp
Labels: task:seq

#37 Гнитиенко Кирилл. Вариант 3. Технология SEQ. Умножение плотных матриц. Элементы типа double. Алгоритм Штрассена.
  tasks/seq/gnitienko_k_strassen_alg/func_tests/main.cpp
  tasks/seq/gnitienko_k_strassen_alg/include/ops_seq.hpp
  tasks/seq/gnitienko_k_strassen_alg/perf_tests/main.cpp
  tasks/seq/gnitienko_k_strassen_alg/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#99 Плеханов Даниил. Задача 1. Вариант 21. Технология SEQ. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры).
  tasks/seq/plekhanov_d_dijkstra/func_tests/main.cpp
  tasks/seq/plekhanov_d_dijkstra/include/ops_seq.hpp
  tasks/seq/plekhanov_d_dijkstra/perf_tests/main.cpp
  tasks/seq/plekhanov_d_dijkstra/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#185 fix: Николаев Роман. Вариант 13. Технология SEQ. Сортировка Хоара с простым слиянием.
  tasks/seq/nikolaev_r_hoare_sort_simple_merge/perf_tests/main.cpp
Labels: task:seq

#199 Revert "Disable malyshev_a_increase_contrast_by_histogram"
  tasks/seq/malyshev_a_increase_contrast_by_histogram/data/input.jpg
  tasks/seq/malyshev_a_increase_contrast_by_histogram/data/reference.jpg
  tasks/seq/malyshev_a_increase_contrast_by_histogram/func_tests/main.cpp
  tasks/seq/malyshev_a_increase_contrast_by_histogram/include/ops_seq.hpp
  tasks/seq/malyshev_a_increase_contrast_by_histogram/perf_tests/main.cpp
  tasks/seq/malyshev_a_increase_contrast_by_histogram/src/ops_seq.cpp
Labels: task:seq

#132 Кавторев Дмитрий. Вариант 1. Технология SEQ. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Кэннона
  tasks/seq/kavtorev_d_dense_matrix_cannon/func_tests/main.cpp
  tasks/seq/kavtorev_d_dense_matrix_cannon/include/ops_seq.hpp
  tasks/seq/kavtorev_d_dense_matrix_cannon/perf_tests/main.cpp
  tasks/seq/kavtorev_d_dense_matrix_cannon/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#100 Васильев Сергей. Задача 1. Вариант 11. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/seq/vasilev_s_simpson_multidim/func_tests/main.cpp
  tasks/seq/vasilev_s_simpson_multidim/include/ops_seq.hpp
  tasks/seq/vasilev_s_simpson_multidim/perf_tests/main.cpp
  tasks/seq/vasilev_s_simpson_multidim/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#112 Филатьева Елизавета. Вариант 11. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/seq/filateva_e_simpson/func_tests/main.cpp
  tasks/seq/filateva_e_simpson/include/ops_seq.hpp
  tasks/seq/filateva_e_simpson/perf_tests/main.cpp
  tasks/seq/filateva_e_simpson/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander, wait ci

#171 Комшина Дарья. Задача 1. Технология SEQ. Вариант 25. Линейная фильтрация изображений (вертикальное разбиение). Ядро Гаусса 3x3.
  tasks/seq/komshina_d_image_filtering_vertical_gaussian/func_tests/main.cpp
  tasks/seq/komshina_d_image_filtering_vertical_gaussian/include/ops_seq.hpp
  tasks/seq/komshina_d_image_filtering_vertical_gaussian/perf_tests/main.cpp
  tasks/seq/komshina_d_image_filtering_vertical_gaussian/src/ops_seq.cpp
Labels: task:seq, approved - Alexander

#196 fix perf Садиков Иван. Задача 1. Вариант 5. Технология SEQ. Умножение разреженных матриц.
  tasks/seq/Sadikov_I_SparesMatrixMultiplication/func_tests/main.cpp
  tasks/seq/Sadikov_I_SparesMatrixMultiplication/perf_tests/main.cpp
  tasks/seq/Sadikov_I_SparesMatrixMultiplication/src/SparesMatrix.cpp
  tasks/seq/Sadikov_I_SparesMatrixMultiplication/src/ops_seq.cpp
Labels: task:seq

#195 fix func test "Лопатин Илья. Вариант 12. Технология SEQ. Вычисление многомерных интегралов методом Монте-Карло."
  tasks/seq/lopatin_i_monte_carlo/func_tests/lopatinMonteCarloFuncSeq.cpp
Labels: task:seq

#202 Кошкин Матвей. Задача 1. Вариант 17. Технология SEQ. Поразрядная сортировка для целых чисел с простым слиянием.
  tasks/seq/koshkin_m_radix_int_simple_merge/func_tests/main.cpp
  tasks/seq/koshkin_m_radix_int_simple_merge/include/ops_seq.hpp
  tasks/seq/koshkin_m_radix_int_simple_merge/perf_tests/main.cpp
  tasks/seq/koshkin_m_radix_int_simple_merge/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#123 Садиков Иван. Задача 2. Вариант 5. Технология OMP. Умножение разреженных матриц. Элементы типа double. Формат хранения матрицы – столбцовый (CCS).
  tasks/omp/Sadikov_I_SparseMatrixMultiplication_OMP/func_tests/main.cpp
  tasks/omp/Sadikov_I_SparseMatrixMultiplication_OMP/include/SparseMatrix.hpp
  tasks/omp/Sadikov_I_SparseMatrixMultiplication_OMP/include/ops_omp.hpp
  tasks/omp/Sadikov_I_SparseMatrixMultiplication_OMP/perf_tests/main.cpp
  tasks/omp/Sadikov_I_SparseMatrixMultiplication_OMP/src/SparseMatrix.cpp
  tasks/omp/Sadikov_I_SparseMatrixMultiplication_OMP/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#119 Черных Андрей. Задача 2. Вариант 9. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/omp/chernykh_a_multidimensional_integral_rectangle/func_tests/main.cpp
  tasks/omp/chernykh_a_multidimensional_integral_rectangle/include/ops_omp.hpp
  tasks/omp/chernykh_a_multidimensional_integral_rectangle/perf_tests/main.cpp
  tasks/omp/chernykh_a_multidimensional_integral_rectangle/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander, wait ci

#179 Сорочкин Данила. Вариант 19. Технология SEQ. Поразрядная сортировка для вещественных чисел (тип double) с простым слиянием.
  tasks/seq/sorochkin_d_radix_double_sort_simple_merge/func_tests/main.cpp
  tasks/seq/sorochkin_d_radix_double_sort_simple_merge/include/ops.hpp
  tasks/seq/sorochkin_d_radix_double_sort_simple_merge/perf_tests/main.cpp
  tasks/seq/sorochkin_d_radix_double_sort_simple_merge/src/ops.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#151 Кошкин Никита. Задача 1. Вариант 16. Технология SEQ. Сортировка Шелла с четно-нечетным слиянием Бэтчера.
  tasks/seq/koshkin_n_shell_sort_batchers_even_odd_merge/func_tests/main.cpp
  tasks/seq/koshkin_n_shell_sort_batchers_even_odd_merge/include/ops_seq.hpp
  tasks/seq/koshkin_n_shell_sort_batchers_even_odd_merge/perf_tests/main.cpp
  tasks/seq/koshkin_n_shell_sort_batchers_even_odd_merge/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#57 Ясакова Татьяна. Задача 1. Вариант 6. Технология SEQ. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – строковый (CRS).
  tasks/seq/yasakova_t_sparse_matrix_multiplication/func_tests/main.cpp
  tasks/seq/yasakova_t_sparse_matrix_multiplication/include/ops_seq.hpp
  tasks/seq/yasakova_t_sparse_matrix_multiplication/perf_tests/main.cpp
  tasks/seq/yasakova_t_sparse_matrix_multiplication/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#220 [CI] Decrease amount of scheduled runs
  .github/workflows/main.yml
Labels: ci

#204 FIX TESTS. Ведерникова Ксения. Технология SEQ. Вариант 24. Линейная фильтрация изображений (горизонтальное разбиение). Ядро Гаусса 3x3.
  tasks/seq/vedernikova_k_gauss_seq/func_tests/main.cpp
  tasks/seq/vedernikova_k_gauss_seq/include/ops_seq.hpp
  tasks/seq/vedernikova_k_gauss_seq/perf_tests/main.cpp
  tasks/seq/vedernikova_k_gauss_seq/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy

#117 Дерябин Максим. Вариант 13. Технология OMP. Сортировка Хоара с простым слиянием.
  tasks/omp/deryabin_m_hoare_sort_simple_merge/func_tests/main.cpp
  tasks/omp/deryabin_m_hoare_sort_simple_merge/include/ops_omp.hpp
  tasks/omp/deryabin_m_hoare_sort_simple_merge/perf_tests/main.cpp
  tasks/omp/deryabin_m_hoare_sort_simple_merge/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#228 FIX. Холин Кирилл. Задача 1. Вариант 9. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/seq/kholin_k_multidimensional_integrals_rectangle/func_tests/main.cpp
  tasks/seq/kholin_k_multidimensional_integrals_rectangle/include/ops_seq.hpp
  tasks/seq/kholin_k_multidimensional_integrals_rectangle/perf_tests/main.cpp
  tasks/seq/kholin_k_multidimensional_integrals_rectangle/src/ops_seq.cpp
Labels: task:seq

#253 Disable korotin_e_crs_multiplication_seq
  tasks/seq/korotin_e_crs_multiplication_disabled/func_tests/main.cpp
  tasks/seq/korotin_e_crs_multiplication_disabled/include/ops_seq.hpp
  tasks/seq/korotin_e_crs_multiplication_disabled/perf_tests/main.cpp
  tasks/seq/korotin_e_crs_multiplication_disabled/src/ops_seq.cpp
Labels: task:seq

#25 ‎Рамс Сергей. Вариант 25. Технология MPI+STL. Линейная фильтрация изображений (вертикальное разбиение). Ядро Гаусса 3x3.
  tasks/all/rams_s_vertical_gauss_3x3/data/flower.png
  tasks/all/rams_s_vertical_gauss_3x3/func_tests/main.cpp
  tasks/all/rams_s_vertical_gauss_3x3/include/main.hpp
  tasks/all/rams_s_vertical_gauss_3x3/include/main_seq.hpp
  tasks/all/rams_s_vertical_gauss_3x3/perf_tests/main.cpp
  tasks/all/rams_s_vertical_gauss_3x3/src/main.cpp
  tasks/all/rams_s_vertical_gauss_3x3/src/main_seq.cpp
Labels: task:all, approved - Arseniy, approved - Alexander, wait approvers

#234 FIX Лопатин Илья. Вариант 12. Технология SEQ. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/seq/lopatin_i_monte_carlo_disabled/func_tests/lopatinMonteCarloFuncSeq.cpp
Labels: task:seq

#248 [FIX] Коровин Никита. Вариант 14. Технология SEQ. Сортировка Хоара с четно-нечетным слиянием Бэтчера.
  tasks/seq/korovin_n_qsort_batcher/perf_tests/main.cpp
Labels: task:seq, approved - Arseniy

#256 Disable krylov_m_monte_carlo_stl
  tasks/stl/krylov_m_monte_carlo_disabled/func_tests/main.cpp
  tasks/stl/krylov_m_monte_carlo_disabled/include/mci_common.hpp
  tasks/stl/krylov_m_monte_carlo_disabled/include/mci_seq.hpp
  tasks/stl/krylov_m_monte_carlo_disabled/include/mci_stl.hpp
  tasks/stl/krylov_m_monte_carlo_disabled/perf_tests/main.cpp
  tasks/stl/krylov_m_monte_carlo_disabled/src/mci_common.cpp
  tasks/stl/krylov_m_monte_carlo_disabled/src/mci_seq.cpp
  tasks/stl/krylov_m_monte_carlo_disabled/src/mci_stl.cpp
Labels: task:stl

#233 Fix. Наседкин Егор. Задача 1. Вариант 3. Технология SEQ. Умножение плотных матриц. Элементы типа double. Алгоритм Штрассена.
  tasks/seq/nasedkin_e_strassen_algorithm_disabled/func_tests/main.cpp
Labels: task:seq

#245 [FIX] Золотарева Арина. Вариант 8. Технология SEQ. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/seq/zolotareva_a_SLE_gradient_method_disabled/func_tests/main.cpp
Labels: task:seq

#259 FIX Владимирова Юлия. Задача 1. Вариант 12. Технология SEQ. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/seq/vladimirova_j_m_monte_karlo_seq/func_tests/main.cpp
  tasks/seq/vladimirova_j_m_monte_karlo_seq/include/ops_seq.hpp
  tasks/seq/vladimirova_j_m_monte_karlo_seq/perf_tests/main.cpp
  tasks/seq/vladimirova_j_m_monte_karlo_seq/src/ops_seq.cpp
Labels: task:seq

#51 Дерябин Максим. Вариант 13. Технология SEQ. Сортировка Хоара с простым слиянием.
  tasks/seq/deryabin_m_hoare_sort_simple_merge/func_tests/main.cpp
  tasks/seq/deryabin_m_hoare_sort_simple_merge/include/ops_seq.hpp
  tasks/seq/deryabin_m_hoare_sort_simple_merge/perf_tests/main.cpp
  tasks/seq/deryabin_m_hoare_sort_simple_merge/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#135 Калинин Дмитрий. Задача 1. Вариант 23. Технология SEQ. Построение выпуклой оболочки – проход Джарвиса.
  tasks/seq/kalinin_d_jarvis_convex_hull/func_tests/main.cpp
  tasks/seq/kalinin_d_jarvis_convex_hull/include/ops_seq.hpp
  tasks/seq/kalinin_d_jarvis_convex_hull/perf_tests/main.cpp
  tasks/seq/kalinin_d_jarvis_convex_hull/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#122 Хасаньянов Кирилл. Задача 1. Вариант 10. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод трапеций).
  tasks/omp/khasanyanov_k_trapezoid_method/func_tests/main.cpp
  tasks/omp/khasanyanov_k_trapezoid_method/include/integrate_omp.hpp
  tasks/omp/khasanyanov_k_trapezoid_method/include/integrator.hpp
  tasks/omp/khasanyanov_k_trapezoid_method/perf_tests/main.cpp
  tasks/omp/khasanyanov_k_trapezoid_method/src/integrate_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#113 Коровин Никита. Вариант 14. Технология OMP. Сортировка Хоара с четно-нечетным слиянием Бэтчера.
  tasks/omp/korovin_n_qsort_batcher_omp/func_tests/main.cpp
  tasks/omp/korovin_n_qsort_batcher_omp/include/ops_omp.hpp
  tasks/omp/korovin_n_qsort_batcher_omp/perf_tests/main.cpp
  tasks/omp/korovin_n_qsort_batcher_omp/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#22 ‎Рамс Сергей. Вариант 25. Технология OMP. Линейная фильтрация изображений (вертикальное разбиение). Ядро Гаусса 3x3.
  tasks/omp/rams_s_vertical_gauss_3x3/data/flower.png
  tasks/omp/rams_s_vertical_gauss_3x3/func_tests/main.cpp
  tasks/omp/rams_s_vertical_gauss_3x3/include/main.hpp
  tasks/omp/rams_s_vertical_gauss_3x3/include/main_seq.hpp
  tasks/omp/rams_s_vertical_gauss_3x3/perf_tests/main.cpp
  tasks/omp/rams_s_vertical_gauss_3x3/src/main.cpp
  tasks/omp/rams_s_vertical_gauss_3x3/src/main_seq.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#265 Update create_perf_table.py
  scripts/create_perf_table.py
Labels: infrastructure

#263 [FIX] Лопатин Илья. Вариант 12. Технология SEQ. Вычисление многомерных интегралов методом Монте-Карло.
  tasks/seq/lopatin_i_monte_carlo/func_tests/lopatinMonteCarloFuncSeq.cpp
  tasks/seq/lopatin_i_monte_carlo/include/lopatinMonteCarloSeq.hpp
  tasks/seq/lopatin_i_monte_carlo/perf_tests/lopatinMonteCarloPerfSeq.cpp
  tasks/seq/lopatin_i_monte_carlo/src/lopatinMonteCarloSeq.cpp
Labels: task:seq, approved - Alexander

#238 FIX. Вавилов Виталий. Задача 1. Вариант 1. Технология SEQ. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Кэннона.
  tasks/seq/vavilov_v_cannon/func_tests/main.cpp
  tasks/seq/vavilov_v_cannon/include/ops_seq.hpp
  tasks/seq/vavilov_v_cannon/perf_tests/main.cpp
  tasks/seq/vavilov_v_cannon/src/ops_seq.cpp
Labels: task:seq, approved - Alexander

#237 FIX Сидорина Полина. Вариант 8. Технология SEQ. Решение систем линейных уравнений методом сопряженных градиентов.
  tasks/seq/sidorina_p_gradient_method/func_tests/main.cpp
  tasks/seq/sidorina_p_gradient_method/include/ops_seq.hpp
  tasks/seq/sidorina_p_gradient_method/perf_tests/main.cpp
  tasks/seq/sidorina_p_gradient_method/src/ops_seq.cpp
Labels: task:seq, approved - Alexander

#162 Наумов Богдан. Задача 1. Вариант 29. Технология SEQ. Маркировка компонент на бинарном изображении (черные области соответствуют объектам, белые – фону).
  tasks/seq/naumov_b_marc_on_bin_image/func_tests/main.cpp
  tasks/seq/naumov_b_marc_on_bin_image/include/ops_seq.hpp
  tasks/seq/naumov_b_marc_on_bin_image/perf_tests/main.cpp
  tasks/seq/naumov_b_marc_on_bin_image/src/ops_seq.cpp
Labels: task:seq, approved - Arseniy, approved - Alexander

#121 Капустин Иван. Вариант 23. Технология SEQ. Построение выпуклой оболочки – проход Джарвиса.
  tasks/seq/kapustin_i_jarv_alg/func_tests/main.cpp
  tasks/seq/kapustin_i_jarv_alg/include/ops_seq.hpp
  tasks/seq/kapustin_i_jarv_alg/perf_tests/main.cpp
  tasks/seq/kapustin_i_jarv_alg/src/ops_seq.cpp
Labels: task:seq, approved - Alexander, on review - Arseniy

#184 Ковальчук Александр. Вариант 15. Технология SEQ. Сортировка Шелла с простым слиянием
  tasks/seq/kovalchuk_a_shell_sort/func_tests/main.cpp
  tasks/seq/kovalchuk_a_shell_sort/include/ops_seq.hpp
  tasks/seq/kovalchuk_a_shell_sort/perf_tests/main.cpp
  tasks/seq/kovalchuk_a_shell_sort/src/ops_seq.cpp
Labels: task:seq, approved - Alexander

#205 Зайцев Денис. Задача 1. Вариант 27. Технология SEQ. Выделение ребер на изображении с использованием оператора Собеля.
  tasks/seq/zaytsev_d_sobel/data/inwhite.png
  tasks/seq/zaytsev_d_sobel/data/outputwhite.png
  tasks/seq/zaytsev_d_sobel/func_tests/main.cpp
  tasks/seq/zaytsev_d_sobel/include/ops_seq.hpp
  tasks/seq/zaytsev_d_sobel/perf_tests/main.cpp
  tasks/seq/zaytsev_d_sobel/src/ops_seq.cpp
Labels: task:seq, approved - Alexander, on review - Arseniy

#124 Николаев Роман. Задача 2. Вариант 13. Технология OMP. Сортировка Хоара с простым слиянием.
  tasks/omp/nikolaev_r_hoare_sort_simple_merge/func_tests/main.cpp
  tasks/omp/nikolaev_r_hoare_sort_simple_merge/include/ops_omp.hpp
  tasks/omp/nikolaev_r_hoare_sort_simple_merge/perf_tests/main.cpp
  tasks/omp/nikolaev_r_hoare_sort_simple_merge/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander, on review - Arseniy

#203 Варфоломеев Григорий. Задача 1. Вариант 28. Технология OMP. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/omp/varfolomeev_g_histogram_linear_stretching/data/cobble_mod.jpg
  tasks/omp/varfolomeev_g_histogram_linear_stretching/data/cobble_orig.jpg
  tasks/omp/varfolomeev_g_histogram_linear_stretching/func_tests/main.cpp
  tasks/omp/varfolomeev_g_histogram_linear_stretching/include/ops_omp.hpp
  tasks/omp/varfolomeev_g_histogram_linear_stretching/perf_tests/main.cpp
  tasks/omp/varfolomeev_g_histogram_linear_stretching/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander, wait approvers

#212 Шуравина Оксана. Вариант 13. Технология OMP. Сортировка Хоара с простым слиянием.
  tasks/omp/shuravina_o_hoare_simple_merger_omp1/func_tests/main.cpp
  tasks/omp/shuravina_o_hoare_simple_merger_omp1/include/ops_omp.hpp
  tasks/omp/shuravina_o_hoare_simple_merger_omp1/perf_tests/main.cpp
  tasks/omp/shuravina_o_hoare_simple_merger_omp1/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#239 Вавилов Виталий. Задача 1. Вариант 1. Технология OMP. Умножение плотных матриц. Элементы типа double. Блочная схема, алгоритм Кэннона.
  tasks/omp/vavilov_v_cannon/func_tests/main.cpp
  tasks/omp/vavilov_v_cannon/include/ops_omp.hpp
  tasks/omp/vavilov_v_cannon/perf_tests/main.cpp
  tasks/omp/vavilov_v_cannon/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#240 Харин Матвей. Вариант 9. Технология OMP. Вычисление многомерных интегралов с использованием многошаговой схемы (метод прямоугольников).
  tasks/omp/kharin_m_multidimensional_integral_calc/func_tests/main.cpp
  tasks/omp/kharin_m_multidimensional_integral_calc/include/ops_omp.hpp
  tasks/omp/kharin_m_multidimensional_integral_calc/perf_tests/main.cpp
  tasks/omp/kharin_m_multidimensional_integral_calc/src/ops_omp.cpp
Labels: task:omp, approved - Arseniy, approved - Alexander

#303 [FIX Perf Tests] Мухина Маргарита. Вариант 21. Технология SEQ. Поиск кратчайших путей из одной вершины (алгоритм Дейкстры)
  tasks/seq/muhina_m_dijkstra/perf_tests/main.cpp
Labels: task:seq

#285 Fix perf Колоколова Дарья. Вариант 11. Технология SEQ. Вычисление многомерных интегралов с использованием многошаговой схемы (метод Симпсона).
  tasks/seq/kolokolova_d_integral_simpson_method_seq/perf_tests/main.cpp
Labels: task:seq

#278 fix Кондратьев Ярослав. Задача 1. Вариант 7. Технология SEQ. Умножение разреженных матриц. Элементы комплексного типа. Формат хранения матрицы – столбцовый (CCS).
  tasks/seq/kondratev_ya_ccs_complex_multiplication/perf_tests/main.cpp
Labels: task:seq

#277 [FIX] Малышев Антон. Задача 1. Вариант 28. Технология SEQ. Повышение контраста полутонового изображения посредством линейной растяжки гистограммы.
  tasks/seq/malyshev_a_increase_contrast_by_histogram/perf_tests/main.cpp
Labels: task:seq
